# Data Study

Extract the following entities from the dataset 
<ol>
  <li>employerName</li>
  <li>employerAddressStreet_name</li>
  <li>employerAddressCity</li>
  <li>employerAddressState</li>
  <li>employerAddressZip</li>
  <li>einEmployerIdentificationNumber</li>
  <li>employeeName</li>
  <li>ssnOfEmployee</li>
  <li>box1WagesTipsAndOtherCompensations</li>
  <li>box2FederalIncomeTaxWithheld</li>
  <li>box3SocialSecurityWages</li>
  <li>box4SocialSecurityTaxWithheld</li>
  <li>box16StateWagesTips</li>
  <li>box17StateIncomeTax</li>
  <li>taxYear</li>
</ol>

In [4]:
import numpy as np
import pandas as pd
import os

In [5]:
# Load the dataset
train_path = 'dataset/dataset/train'
val_path = 'dataset/dataset/val'

def load_tsv_files(path):
    data = []
    for file in os.listdir(path):
        if file.endswith('.tsv'):
            file_path = os.path.join(path, file)
            df = pd.read_csv(file_path, sep='\t', header=None)
            data.append(df)
    return data

train_data = load_tsv_files(train_path)
val_data = load_tsv_files(val_path)

In [6]:
# Display first few rows of the first file for EDA
train_data[0].head()

                                                   0
0  4734e081-55ff-44b1-97b9-ac818073a487_document-...
1  38acf1e0-e556-4387-8838-8779eb508c8c_document-...
2  38cac7ad-8b09-4d47-a7b0-62d8f409681e_document-...
3  ab756109-1d00-4825-be41-e355ee4a3b2e_document-...
4  09a38de0-1157-4844-9337-38b64cef2275_document-...

In [7]:
# Check for missing values
for df in train_data:
    print(df.isnull().sum())

0    0
dtype: int64

In [8]:
import pandas as pd

# Load the TSV file
file_path = '/home/killdollar/data_task/dataset/dataset/train/boxes_transcripts_labels/0e997ed9-76ba-4124-ac89-38e870352902_document-6_page-1.tsv'
df = pd.read_csv(file_path, sep=',', header=None, names=['start_index', 'end_index', 'x_top_left', 'y_top_left', 'x_bottom_right', 'y_bottom_right', 'transcript', 'field'])

# Define the entities to extract
entities = [
    'employerName', 'employerAddressStreet_name', 'employerAddressCity', 'employerAddressState', 'employerAddressZip',
    'einEmployerIdentificationNumber', 'employeeName', 'ssnOfEmployee', 'box1WagesTipsAndOtherCompensations',
    'box2FederalIncomeTaxWithheld', 'box3SocialSecurityWages', 'box4SocialSecurityTaxWithheld', 'box16StateWagesTips',
    'box17StateIncomeTax', 'taxYear'
]

# Extract entities
extracted_entities = {entity: [] for entity in entities}

for _, row in df.iterrows():
    if row['field'] in extracted_entities:
        extracted_entities[row['field']].append(row['transcript'])

# Print the extracted entities
for entity, values in extracted_entities.items():
    print(f"{entity}: {values}")

employerName: ['Smith,', 'Morales', 'and', 'Gates', 'LLC']
employerAddressStreet_name: ['Harrison', 'Mission', '1698']
employerAddressCity: ['West', 'Dennisview']
employerAddressState: ['NY']
employerAddressZip: ['30232', '-7204']
einEmployerIdentificationNumber: ['75-5356392']
employeeName: ['Alexis', 'Sexton']
ssnOfEmployee: ['564-02-8530']
box1WagesTipsAndOtherCompensations: []
box2FederalIncomeTaxWithheld: ['9', '-', '35212']
box3SocialSecurityWages: []
box4SocialSecurityTaxWithheld: []
box16StateWagesTips: []
box17StateIncomeTax: []
taxYear: ['2018']

In [9]:
import pandas as pd

# Load the TSV file
file_path = '/home/killdollar/data_task/dataset/dataset/train/boxes_transcripts_labels/0e997ed9-76ba-4124-ac89-38e870352902_document-6_page-1.tsv'
df = pd.read_csv(file_path, sep=',', header=None, names=['start_index', 'end_index', 'x_top_left', 'y_top_left', 'x_bottom_right', 'y_bottom_right', 'transcript', 'field'])

# Define the entities to extract
entities = [
    'employerName', 'employerAddressStreet_name', 'employerAddressCity', 'employerAddressState', 'employerAddressZip',
    'einEmployerIdentificationNumber', 'employeeName', 'ssnOfEmployee', 'box1WagesTipsAndOtherCompensations',
    'box2FederalIncomeTaxWithheld', 'box3SocialSecurityWages', 'box4SocialSecurityTaxWithheld', 'box16StateWagesTips',
    'box17StateIncomeTax', 'taxYear'
]

# Extract entities
extracted_entities = {entity: [] for entity in entities}

for _, row in df.iterrows():
    if row['field'] in extracted_entities:
        extracted_entities[row['field']].append(row['transcript'])

# Combine list elements into single strings
for entity in extracted_entities:
    extracted_entities[entity] = ' '.join(extracted_entities[entity])

# Print the extracted entities
for entity, value in extracted_entities.items():
    print(f"{entity}: {value}")

employerName: Smith, Morales and Gates LLC
employerAddressStreet_name: Harrison Mission 1698
employerAddressCity: West Dennisview
employerAddressState: NY
employerAddressZip: 30232 -7204
einEmployerIdentificationNumber: 75-5356392
employeeName: Alexis Sexton
ssnOfEmployee: 564-02-8530
box1WagesTipsAndOtherCompensations:
box2FederalIncomeTaxWithheld: 9 - 35212
box3SocialSecurityWages:
box4SocialSecurityTaxWithheld:
box16StateWagesTips:
box17StateIncomeTax:
taxYear: 2018

In [10]:
import pandas as pd

# Load the TSV file
file_path = '/home/killdollar/data_task/dataset/dataset/train/boxes_transcripts_labels/0e997ed9-76ba-4124-ac89-38e870352902_document-6_page-1.tsv'
df = pd.read_csv(file_path, sep=',', header=None, names=['start_index', 'end_index', 'x_top_left', 'y_top_left', 'x_bottom_right', 'y_bottom_right', 'transcript', 'field'])

# Define the entities to extract
entities = [
    'employerName', 'employerAddressStreet_name', 'employerAddressCity', 'employerAddressState', 'employerAddressZip',
    'einEmployerIdentificationNumber', 'employeeName', 'ssnOfEmployee', 'box1WagesTipsAndOtherCompensations',
    'box2FederalIncomeTaxWithheld', 'box3SocialSecurityWages', 'box4SocialSecurityTaxWithheld', 'box16StateWagesTips',
    'box17StateIncomeTax', 'taxYear'
]

# Extract entities
extracted_entities = {entity: [] for entity in entities}

for _, row in df.iterrows():
    if row['field'] in extracted_entities:
        extracted_entities[row['field']].append(row['transcript'])

# Combine list elements into single strings
for entity in extracted_entities:
    extracted_entities[entity] = ' '.join(extracted_entities[entity])

# Print the extracted entities
for entity, value in extracted_entities.items():
    print(f"{entity}: {value}")

employerName: Smith, Morales and Gates LLC
employerAddressStreet_name: Harrison Mission 1698
employerAddressCity: West Dennisview
employerAddressState: NY
employerAddressZip: 30232 -7204
einEmployerIdentificationNumber: 75-5356392
employeeName: Alexis Sexton
ssnOfEmployee: 564-02-8530
box1WagesTipsAndOtherCompensations:
box2FederalIncomeTaxWithheld: 9 - 35212
box3SocialSecurityWages:
box4SocialSecurityTaxWithheld:
box16StateWagesTips:
box17StateIncomeTax:
taxYear: 2018

In [18]:
import pandas as pd

train_ids_path = '/home/killdollar/data_task/dataset/dataset/train/train_ids.tsv'
train_ids_df = pd.read_csv(train_ids_path, sep='\t', header=None, names=['file_path'])

# Display the first few rows of the dataframe
train_ids_df.head()

                                           file_path
0  4734e081-55ff-44b1-97b9-ac818073a487_document-...
1  38acf1e0-e556-4387-8838-8779eb508c8c_document-...
2  38cac7ad-8b09-4d47-a7b0-62d8f409681e_document-...
3  ab756109-1d00-4825-be41-e355ee4a3b2e_document-...
4  09a38de0-1157-4844-9337-38b64cef2275_document-...

In [12]:

# Define the entities to extract
entities = [
    'employerName', 'employerAddressStreet_name', 'employerAddressCity', 'employerAddressState', 'employerAddressZip',
    'einEmployerIdentificationNumber', 'employeeName', 'ssnOfEmployee', 'box1WagesTipsAndOtherCompensations',
    'box2FederalIncomeTaxWithheld', 'box3SocialSecurityWages', 'box4SocialSecurityTaxWithheld', 'box16StateWagesTips',
    'box17StateIncomeTax', 'taxYear'
]

# Base directory for the TSV files
base_dir = '/home/killdollar/data_task/dataset/dataset/train/boxes_transcripts_labels'

# List to store the extracted entities for each file
all_extracted_entities = []

# Iterate over each file path in train_ids.tsv
for file_name in train_ids_df['file_path']:
    full_file_path = os.path.join(base_dir, file_name + '.tsv')
    df = pd.read_csv(full_file_path, sep=',', header=None, names=['start_index', 'end_index', 'x_top_left', 'y_top_left', 'x_bottom_right', 'y_bottom_right', 'transcript', 'field'])
    
    # Initialize a dictionary to store the extracted entities for the current file
    extracted_entities = {entity: [] for entity in entities}
    
    # Extract entities from the current file
    for _, row in df.iterrows():
        if row['field'] in extracted_entities:
            extracted_entities[row['field']].append(row['transcript'])
    
    # Combine list elements into single strings for the current file
    for entity in extracted_entities:
        extracted_entities[entity] = ' '.join(extracted_entities[entity])
    
    # Append the extracted entities for the current file to the list
    all_extracted_entities.append(extracted_entities)

# Convert the list of dictionaries to a DataFrame
extracted_entities_df = pd.DataFrame(all_extracted_entities)

In [13]:
# Print the DataFrame
extracted_entities_df.head()

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
0,Dodson-Kennedy and Sons,247 Alexander Islands,South Mauriceland,SC,79991-9264,03-2885751,Krista Conner,626-47-9086,149394 . 79,16030. 73,120690 . 01,9232 . 79,70985 . 58,5149 .29,2019
1,George-Horton and Sons,55527 Shannon Corner,Alisonfort,LA,24369-8354,43-1414035,Rodney Perez,475-90-1539,240614 . 35,79673.63,266460.93,20384.26,120854 .26,8990 . 12,2019
2,Baker-Memeil Led,3250 Brown Pines Apt. 530,Jasonfort,NOT,86498-7130,06-7076127,Kayla Simmons,403-55-9637,183106.34,(2037.04,142194.16,10877.85,94960.51,3010.6,2019
3,"Henry, Jones and Quinn LLC",23927 Kevin Lane Suite 067,New Shannonshire,OR,41335-1879,53-3435873,Juan Mcguire,240-51-9894,101359 . 41,34772. 33,107449 . 4,8219. 88,55120 .4,4003 66,2019
4,Miller PLC Group,174 Briggs Village,West Johnmouth,NJ,95552-9854,77-6878997,Amanda Hoffman,317-37-6322,107565. 11,36048.57,78648.9,6016 64,56829. 43,3360.53,2019

In [14]:
extracted_entities_df.isnull().sum()

employerName                          0
employerAddressStreet_name            0
employerAddressCity                   0
employerAddressState                  0
employerAddressZip                    0
einEmployerIdentificationNumber       0
employeeName                          0
ssnOfEmployee                         0
box1WagesTipsAndOtherCompensations    0
box2FederalIncomeTaxWithheld          0
box3SocialSecurityWages               0
box4SocialSecurityTaxWithheld         0
box16StateWagesTips                   0
box17StateIncomeTax                   0
taxYear                               0
dtype: int64

In [15]:
extracted_entities_df.shape

(600, 15)

In [16]:
##check if duplicated
extracted_entities_df.duplicated().sum()

np.int64(29)

In [30]:
# Save the extracted entities DataFrame to a CSV file
extracted_entities_df.to_csv('extracted_entities_train.csv', index=False)

In [17]:
extracted_entities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   employerName                        600 non-null    object
 1   employerAddressStreet_name          600 non-null    object
 2   employerAddressCity                 600 non-null    object
 3   employerAddressState                600 non-null    object
 4   employerAddressZip                  600 non-null    object
 5   einEmployerIdentificationNumber     600 non-null    object
 6   employeeName                        600 non-null    object
 7   ssnOfEmployee                       600 non-null    object
 8   box1WagesTipsAndOtherCompensations  600 non-null    object
 9   box2FederalIncomeTaxWithheld        600 non-null    object
 10  box3SocialSecurityWages             600 non-null    object
 11  box4SocialSecurityTaxWithheld       600 non-null    object
 12  box16StateWagesTips                 600 non-null    object
 13  box17StateIncomeTax                 600 non-null    object
 14  taxYear                             600 non-null    object
dtypes: object(15)
memory usage: 70.4+ KB

In [19]:
extracted_entities_df.describe()

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
count,600,600,600,600,600,600,600,600,600,600,600,600,600,600,600
unique,477,488,471,68,468,461,483,355,489,494,482,482,487,496,5
top,,,,,,,,,,,,,,,2018
freq,40,32,38,48,40,59,35,134,81,81,89,96,91,81,396

In [20]:
extracted_entities_df['employerName'].value_counts()

employerName
                                         40
Bennett and Sons Group                    3
Hawkins Inc Ltd                           3
Smith, Winters and Hernandez and Sons     3
Brown-Dunn LLC                            3
                                         ..
Group Lee-williams                        1
Moore ore-Boone and Sons                  1
Sanchez-Rice Ltd                          1
Knight-Lewis and Sons                     1
and Henson Sons LLC                       1
Name: count, Length: 477, dtype: int64

In [21]:
extracted_entities_df['employerName'].unique()

array(['Dodson-Kennedy and Sons', 'George-Horton and Sons',
       'Baker-Memeil Led', 'Henry, Jones and Quinn LLC',
       'Miller PLC Group', 'Diaz and Sons Ltd',
       'Hardy, Larson and Washington LLC',
       'Ford, Sanders and Lawrence Ltd', 'Gray and Sons Inc',
       'Steven Thompson', 'Mendoza-Martin Group', 'Walker Group and Sons',
       'Hobbs Ltd Ltd', 'Scott PLC Ltd', 'Buyah-Moody Ine',
       'Harrison-King LLC', 'Griffith PLC Ltd', 'Johnson-Lucas Group',
       'Allen-Davis LLC', 'Mendoza-Ruiz Inc', 'Fields-Pacheco and Sons',
       'Mcconnell-Whitaker and Sons', 'Bryant Ltd and Sons',
       'Flores, Rich and Jones PLC', 'Harris Group Ltd',
       'Duran Inc Group', 'Curry, Sanchez and Acevedo Inc',
       'Whitehead Ltd and Sons', 'and Sons', 'Sosa PLC Group',
       'Heath-Taylor Ltd', 'Ward LLC and Sons', 'Frank and Sons PLC',
       'Cook, Bailey and Osborne LLC', 'Schultz-Harris and Sons', '',
       'Gamble, Rodriguez and Blair Ltd', 'Hughes-Fields LLC',
       'Novel1-Medina Ltd', 'Martinez-Clements LLC', 'Scott LLC and Sons',
       'Gonzalez, Hughes and Fowler LLC',
       'Sanford, Jones and Eaton and Sons',
       'Pratt, Hernandez and Anthony Led', 'Kennedy PLC PLC',
       'Davis-Wagner and Sons', 'French 104 and See',
       'Pace, Allison and Wallace Inc', 'Davis and Sons Group',
       'Smith, Evans and Hendricks LLC', 'Wheeler Group Inc',
       'Castro LLC Group', 'Rodriguez, Garcia and Pierce Group',
       'nicholson-Dunn Ltd', 'Lawrence, Berger and Archer Ltd',
       'Chapman-Estrada Sons and', 'Nelson, Love and Thompson and Sons',
       'Webb Ltd Group', 'Larson-Young and Sons',
       'Cannon, Diaz and Adkins Inc', 'Johnson-Harvey Group',
       'Kelly PLC Ltd', 'Cole-Hill Group', 'Smith Group LLC',
       'and Sons Strickland-Thomas', 'Andrade-Frazier PLC',
       'Smith, Fitzgerald and Mcdonald Inc', 'Lawson-Gonzalez Inc',
       'Jacobs LLC LLC', 'Knight PLC PLC',
       'Reid, Brown and Yoder Sons and', 'Gay-Potts LLC',
       'Daugherty, Perez and King Inc', 'Clark, Brown and Rivera LLC',
       'Brown-Matthews Inc', 'Brown Inc and Sons',
       'Jefferson, Anderson and Mills Group', 'Williams-Smith PLC',
       'Peterson, Sexton and Love PLC', 'Arnold-Cuevas and Sons',
       'Mata-Ray PLC', 'Collins-Saunders and Sons', 'Bishop PLC LLC',
       'Ingram, Chang and Russell Inc', 'Campbell-Jones LLC',
       'Lyons, Rose and Fuller and Sons', '62-7492385', 'Hawkins Inc Ltd',
       'Williams, Avery and Wood and Sons', 'Cross-White PLC',
       'Mcdonald-Adams Inc', 'Quinn, Nelson and Byrd Inc',
       'Johnson Ltd LLC', 'Lopez Ltd and Sons',
       'Paul, Douglas and Ramos Group', 'Munoz-Johnson Ltd',
       'Lara-Riley Group', 'Parker-Williams PLC',
       'Griffin, Carlson and Moore Inc', 'Cooley LLC Group',
       'Gray, Hernandez and Bradshaw and Sons', 'Mcdonald-Jackson LLC',
       'Lee-Phillips and Sons', 'Lewis-Bell Group',
       'Smith, Rose and French Itd', 'Bates-Cruz Inc',
       'Weaver , Reyes and Barnett LLC', 'Anderson LLC PLC',
       'Castillo-Schroeder PLC', 'Timetay Bryant', 'Richardson LLC Inc',
       'Dudley, Elliott and Miranda and Sons', 'LLC Gardner-Anderson',
       'Johnson Inc Group', 'Johnston LLC Itd', 'Mcdaniel, Wood',
       'Terry Group Inc', 'Grant and Sons and Sons',
       'Bradshaw, Richards and Dalton PLC', 'Martinez-Luna PLC',
       'Miller Inc LLC', 'Perez, Taylor and Ramirez Ltd',
       'Pratt PLC Group', 'and Sons Koch-Mendez', 'Hayes Inc Ltd',
       'Group Palmer-Keith', 'Nichols, Mcneil and Tucker Ltd',
       'Shelton, Castillo and Beard Group', 'Ayala-Colon Inc',
       'Terry, Brown and Clark Led', 'walker Group LLC', 'Rogers LLC PLC',
       'Davis PLC Ltd', 'Lopez-Daniel PLC', 'and Marshall-Cruz',
       'Johnson, Morgan and Lynn Inc', 'Gonzalez, Johnson and Colon LLC',
       'Spencer, Ramirez and Hall PLC',
       'Smith, Winters and Hernandez and Sons', 'Reed Group Group',
       'Sawyer-Harmon PLC', 'Manbey', 'Campbell Inc LLC',
       'Ortega-Hayden and', 'Richmond, Watson and Johnson Group',
       'Garcia and Sons Grow', 'Martin-Lee PLC',
       'salas, Bergera and Levis Group', 'Clayton and Ramirez Led',
       'Bell, Murray and Bryant Group', 'Davis-Douglas and Sons',
       'Hernandez-Melendez Ltd', 'Aguilar PLC Inc', 'Beasley LLC LLC',
       'Savage-Collins Ltd', 'Knight-Lewis and Sons', 'Sanchez-Rice Ltd',
       'Moore ore-Boone and Sons', 'Group Lee-williams',
       'lester and does Ta', 'Merritt Inc LLC', 'Hoffman-Gutierrez Ltd',
       'Jones Ltd Ltd', 'Leach Inc PLC', 'Smith, Morales and Gates LLC',
       'Mason, Mejia and Mitchell Lid', 'Inc Phillips, Brown and Hartman',
       'Fox-Mitchell and sons', 'Sullivan and Sons Inc',
       'and Henson Sons LLC', 'Carlson, Kent and Lewis Ltd',
       'Mills-Leblanc and Sons', 'Cox, Anderson and Sanchez Group',
       'Thomas-May Ltd', 'Lewis, Parks and Schneider Group',
       'Patterson-Walton and Sons', 'Wilcox Group Group',
       'Garcia and Sons Group', 'Brown-Dunn LLC', 'Hawkins-Bailey PLC',
       'Larsen and Sons Ltd', 'Thompson, Bauer and Mullen PLC',
       'Reynolds, Taylor and Wallace LLC', 'Brown Ltd Ltd',
       'Stanley PLC Inc', 'Kent and Sons LLC', 'Valencia Group Ltd',
       'Casey, Terry and Bradley Ltd',
       'Schneider, Martin and Jackson LLC',
       'Crawford, Leon and Shaw Group', 'Jackson, Black and Coleman Ltd',
       'Shah-Ford PLC', 'Wright, Murphy and Taylor Group',
       'Collins, Potter and Hill Inc',
       'Miller, Sherman and Donovan and Sons',
       'Hutchinson, Gonzalez and Mercer and Sons',
       'Kelly, Cunningham and Smith Ltd', 'Price-Jones Inc',
       'Montgomery-Taylor LLC', 'Calderon and Sons and Sons',
       'Payne PLC LLC', 'Roberson-Little PLC', 'Warren-Newman PLC',
       'Golden, Gallegos and Melton Ltd',
       'Gregory, Martin and Morris Group', 'Salas-Castro Ltd',
       'Fields, Adkins and Trevino Ltd', 'Cabrera Group Ltd',
       'Logan-Jones PLC', 'Sandoval, and and White Anderson Sons',
       'Floyd, Bell and Greene Group', 'Moss, Wheeler and Jones Ltd',
       'Carter-Gilmore Ltd', 'Kelley, Fuller and Bennett Ltd',
       'Jackson-Johnson PLC', 'Nguyen-Herman and Sons',
       'Pruitt and Sons Ltd', 'Jones-Mayer and Sons', 'Hall-Walker LLC',
       'Miller-Marks Inc', 'Alvarado Inc Ltd', 'Barnett-Moran Ltd',
       'Bennett and Sons Group', 'Watkins PLC PLC',
       'Baker, Martin and Robinson Group', 'Baker, Wiley and Riley Inc',
       'Bates-Davis and Sons', 'Clark Ltd and Sons', 'King-Anderson Inc',
       'Newman-Bailey and Sons', 'Meyer PLC PLC', 'Williams Inc Inc',
       'Walker Group PLC', 'Franco-Nelson LLC', 'Hernandez LLC and Sons',
       'Meza LLC Inc', 'Castillo Ltd PLC',
       'Crawford, Marquez and Martin Ltd', 'Dixon Group Group',
       'White-Lloyd LLC', 'Gordon-Tanner PLC',
       'Estrada, Taylor and Long Inc', 'Gross LLC Inc',
       'Myers, Cervantes and Scott and Sons', 'Mack-Clark LLC',
       'Waller-Hammond Group', 'Browning LLC Ltd',
       'Ray, Andrews and Garner Inc', 'Brown and Sons Inc',
       'Hamilton-Espinoza Group', 'Scott and Sons and Sons',
       'Deleon Ltd PLC', 'Group Gross-Smith', 'PLC Williams-Mcneil',
       'Velazquez-Ward LLC', 'Smith-Young and Sons', 'Shaw-Green Inc',
       'Shepard LLC LLC', 'Hall LLC PLC', 'Kirby PLC Ltd',
       'Reeves and Sons Group', 'LLC Wright-Mullins',
       'Cardenas, Davis and West LLC', 'Wells Group Ltd',
       'Baxter and Sons Ltd', 'Walsh Inc LLC',
       'Moreno Christian, Turner and LLC', 'Jackson and Sons Group',
       'Reed, Jefferson and Beasley LLC', 'Simmons LLC Inc',
       'Banks and Sons Inc', 'Elliott-Ramsey Group',
       'Lawrence-Brock and Sons', 'Davis, Mills and Chan Group',
       'Thomas-Castillo Ltd', 'Williams-Wall LLC',
       'Nichols, Stewart and Atkins LLC', 'Juarez PLC PLC',
       'Mayo LLC Group', 'Holland-Johnson Group', 'Valenzuela Group LLC',
       'Gardner-Parsons and Sons', 'Haynes-Krause and Sons',
       'Gonzalez Inc Group', 'Cook-Mitchell and Sons', 'Zavala-Stone PLC',
       'Mcintosh, Barrett and Gonzalez Inc', 'Rice-Millians Group',
       'Gilbert The 104', 'King-Lawson and Sons', 'Stone Group LLC',
       'Howard, Armstrong and Webster PLC',
       'Manning, Chambers and Ryan and Sons',
       'Carter, Lucero and Davis PLC', 'Williams-Jackson LLC',
       'Hogan-Arnold and Sons', 'Gibson, Wilkerson and Jacobson Inc',
       'wolfe Ltd and Sons', 'Hall-Huynh PLC', 'Cunningham Ltd Group',
       'Brown, Kelley and Baker LAd', 'Edwards LLC Inc',
       'Burnett-Berry and Sons', 'Hawkins-Taylor Group',
       'King, Estrada and Larson LLC', 'Cook, Burton and Cummings Group',
       'Vincent, Adams and Alvarez Group',
       'Rios, Garrison and Ingram LLC', 'Daniels-Butler Inc',
       'Hood, Morales and Hartman Led', 'Davis-Marks Inc',
       'Adams-Clay Group', 'Valenzuela, Armstrong and Carter Ltd',
       'Parker-Jackson PLC', 'Sanders, Kim and Flores LLC',
       'Flowers and Sons Led', 'Smith and Sons Group',
       'Hansen, Sanders and Jimenez LLC', 'Atkins Ltd Ltd',
       'Wilson, Luna and Simmons Group', 'Beck Inc Group',
       'Smith, Smith and Roberts LLC', 'Bridges-Larsen Group',
       'Jones PLC LLC', 'Miller, Zhang and Bauer Ltd',
       'Owens-Franklin and Sons', 'Rubio, Wang and Hudson Inc',
       'Cox-Ewing PLC', 'Patel and Sons Itd', 'Harmon Group Group',
       'Snyder Ltd and Sons', 'Martin PLC and Sons',
       'Clark, Mitchell and Owens LLC', 'Spencer-Davis LLC',
       'Rich, Ramirez and Rivera PLC', 'Ruiz Inc Group',
       'Gray and Sons PLC', 'Carpenter-Lopes and Side',
       'Ramos-Jordan and Sons', 'Swanson PLC PLC',
       'Fletcher and Sons and Sons', 'Kennedy-Werner PLC',
       'Hernandez PLC LLC', 'Alvarez, Milos and Grant PLC',
       'Walker, Hall and Rodriguez Group',
       'Guerrero, Wilson and Brown Inc', 'Fisher-Walker PLC',
       'Stevenson-Foster LLC', 'Herrera PLC PLC',
       'Green, Davis and Mathews and Sons',
       'Kennedy, Thomas and Johnson Ltd', 'Serrano Group and Sons',
       'Diaz-Lambert Ltd', 'Woods-Collier LLC',
       'Mccarthy, Washington and Larson Group', 'Walker-Brown Inc',
       'Powell-Nguyen LLC', 'Warren, Bell and Warren PLC',
       'Rosales Ltd Inc', 'Clark-Werner PLC', 'Sims-Carson Group',
       'strickland-Thomas and Sons', 'Gray-Williams Inc',
       'Hampton, Duncan and Walton Ltd', 'Thomas Group Ltd',
       'Morrison, Ashley and Henderson and Sons', 'Zhang-Hayes Group',
       'Lyons, Gilmore and Maldonado Ltd', 'Kerr, Vance and Clark Ltd',
       'Sandoval, White and Anderson and Sons', 'Dickerson LLC Inc',
       'Carson LLC LLC', 'Anderson LLC and Sons',
       'Diaz, Walsh and Hoover PLC', 'Maldonado, Parker and Mcclure Ltd',
       'Warren, Thompson and Jones Ltd', 'Vega PLC and Sons',
       'Townsend-Werner LLC', 'Dawson, Jarvis and Mckinney LLC',
       'Irwin, Taylor and Perez Ltd',
       'Taylor, Mitchell and Hernandez PLC', 'Huynh-Moody Inc',
       'Hunt, Knox and Morgan Inc', 'Pratt, Hernandez and Anthony Ltd',
       'Clark-Smith Group', 'Carr, Padilla and Johnson Group',
       'French Ltd and Sons', 'Brown-Robinson PLC', 'Nest-Turner PLC',
       'Nood Inc PLC', 'Perry-Galvan Inc', 'Grimes-Smith Group',
       'Hicks-Vargas LLC', 'Nelson Group Inc', 'Rodriguez-Vance Itd',
       'Townsend Group Itd', 'Griffin-Howard Ltd',
       'Lopez, Gross and Dominguez and Sons', 'Fox-Mitchell and Sons',
       'Lane -Williams Inc', 'waters by dress,', 'White -Harris Group',
       'Burnett, Rosales and Wilson PLC', 'Robbins-Cortez and Sons',
       'Jacobson, Hart and Terry Inc', 'Guerra LLC PLC',
       'Hoffman-Gutierrez Lt', 'Hall-Baker and Sons', 'Fields-Davis Inc',
       'Petty, Jones and Wright Group', 'Romero Itd and Sons',
       'DAYOR LLC GROUP', 'Nichols , Mcneil and Tucker Itd',
       'Barrera Itd Itd', 'Jackson and Sons Itd', 'Decker-Smith PLC',
       'Lee-Wright PLC', 'Cook , Vance and Jones PLC', 'Wells Inc Inc',
       'Mendoza-Shaw Inc', 'Ortiz Inc LLC', 'Knight Lewis and Sons',
       'Livingston Inc PLC', 'Arroyo-Cordova Itd', 'Diaz and Sons PLC',
       'Diaz, Howard and Bridges Group', 'West Ltd Inc',
       'Boyd, Robinson and Bridges and Sons', 'Porter Ltd Inc',
       'Rivera, Martinez and Hunter and Sons', 'Parker-Newman and Sons',
       'Phelps Inc PLC', 'Dunn, Roth and Duran Inc',
       'Hubbard, Simpson and Mcbride Group', 'Warner Ltd Group',
       'Hale-Jones and Sons', 'Howard-Adams Ltd', 'Edwards Inc PLC',
       'Barker Group and Sons', 'Hunter-Wilcox and Sons',
       'Tyler, Nelson and Bender Inc', 'Rogers-Anderson Inc',
       'Page-Hunt PLC', 'Wright-Mullins LLC', 'Henson and Sons LLC',
       'Palmer, Wiley and Porter Inc', 'Taylor PLC and Sons',
       'Powell and Sons LLC', 'Davis LLC LLC', 'Khan-Shepherd PLC',
       'Brown-Moore and Sons', 'Hill Group and Sons',
       'Wright, Johnson and Smith Group',
       'Elliott, West and Gilmore Group', 'Benjamin-Turner PLC',
       'Hill, Vaughan and Garcia PLC', 'Vega, Gonzalez and Lee and Sons',
       'Brooks-Rose and Sons', 'Costa PLC Inc', 'Flowers and Sons Ltd',
       'Terrell-Cunningham Ltd', 'Mitchell-Turner PLC', 'Davis Ltd PLC',
       'Rose, Hess and White Inc', 'Farley-Jordan Ltd',
       'Goodman-Holden Inc', 'Short LLC Inc',
       'Hill, Saunders and Sandoval and Sons', 'Jones-Anderson Group',
       'Patterson, Lopez and Perkins Inc', 'Lewis Inc PLC',
       'Williams Inc Group', 'Richard Group Inc', 'Walker-Howard Inc',
       'Morales-Young Group', 'Rodriguez, Mitchell and Rodgers and Son',
       'Mcgrath, Ray and Flynn and Sons'], dtype=object)

In [41]:
extracted_entities_df['employerName'].isnull().sum()

np.int64(0)

In [50]:
# Filter rows where employerName is not present
missing_employer_name_df = extracted_entities_df[extracted_entities_df['employerName'] == '']
missing_employer_name_df

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
35,,164 Turner Burg Suite 514,East Sean,MN,59199-4858,26-8364506,Decker and Sons PLC,348-60-0732,53923. 35,8573 . 3,41870 . 61,3203.1,25122 . 18,1882.77,2019
102,,,,,,,,None,,,,,,,2018
106,,,,,,,Burtia sey,None,,,,,,,2018
107,,,,,,,,None,,,,,,,2018
109,,,,,,,,None,,,,,,,2018
115,,lis Willey age. 819,,,,,,None,,,,,,,2018
123,,,,,,,,None,,,,,,,2018
127,,,,,,,,None,,,,,,,2018
129,,,,,,,,None,,,,,,,2018
131,,,,,,,,None,,,,,,,2018
134,,,,,,,,None,,,,,,,2018
137,,,,,,,Bemater Guttse,None,,,,,,,2018
140,,Gnuthe age. 499,,,,,,None,,,,,,,2018
141,,,,,,,,None,,,,,,,2018
148,,,,,,,,None,,,,,,,2018
149,,,,,,,,None,,,,,,,2018
153,,,,,,,,None,,,,,,,2018
154,,,,,,,,None,,,,,,,2018
158,,,,,,,,None,,,,,,,2018
161,,494of wall Toland,,,,,,None,,,,,,,2018
163,,,,,,,,None,,,,,,,2018
167,,,,,,,,None,,,,,,,2018
170,,,,,,,,None,,,,,,,2018
171,,,,,,,,None,,,,,,,2018
172,,,,,,,,None,,,,,,,2018
178,,,,,,,,None,,,,,,,2018
180,,010 anita mall,,,64542-5418,,Brian Coleman,None,,,,,,,2018
181,,,,,,,,None,,,,,,,2018
186,,,,,,,,None,,,,,,,2018
187,,,,,,,,None,,,,,,,2018
198,,,,,,,,None,,,,,,,2018
358,,5054 Andrew Mills Suite 527,Meet Jonathanshire,MY,93265-7717,32-9156434,Whitney Dickson,299-20-2304,112540.72,15122.77,414913.13,8790.85,52921.02,1834.89,2018
396,,$406 Tran Club Quite 832,Feltbrille,V,17912-1873,,DE. Laura,None,,,104945.09,14149.03,,(979.39,2018
463,,11510 Patricia Rest,Fieldshaven,AZ,02906-3853,51-9104110,John Kelly,556-01-9925,,,. 49143 87,,,,2018
476,,2676 William Mountain,Danielsfort,MN,31233-5510,25-0180103,Kimberly Villanueva,None,41345. 53,10537 .,,,tips. 46 51,. 1483 14,2018
483,,$898 Robles Estates,Test Donna,MS,03853-8053,,Timothy Green,581-54-3835,,,26245Curity,,115716 . 2,,2018
494,,35657 James Courts,West Jasmine,NM,04093-1257,68-7884298,Sara Dean,708-85-6052,62278.33,,,,"tips. 96, 64",- 2832 39,2018
496,,26427 Harper River Suite 482,forth Garystad,OH,93378-3048,75-9757299,Colleen Morales,None,64561. 45,10105 . 38,,,6 33292 .,1755 - 58,2018
498,,089 Hunter Ford Suite 170,Townsendtown,NY,29893-4846,84-1097895,Alex Warren,None,105770.3,,,,"tips. us , 95",4300.24,2018

In [22]:
extracted_entities_df['employerAddressStreet_name'].value_counts()

employerAddressStreet_name
                                 32
427 Burton Burgs                  3
28857 Edward Ferry Apt. 226       3
03906 Anne Lakes Apt, 408         2
76782 Melissa Manor Suite 642     2
                                 ..
1087 Ashley Flats Apt. 892        1
706 Matthew Greens                1
3339 Emily Trace Suite 390        1
010 anita mall                    1
005 Daniel Isle Suite 494         1
Name: count, Length: 488, dtype: int64

In [23]:
extracted_entities_df['employerAddressCity'].value_counts()

employerAddressCity
                     38
Lake Cynthia          3
Lake Joshua           3
Johnberg              3
Marksfurt             2
                     ..
Lake Anthear          1
Tonyaberg             1
Angelaton             1
South Melissaside     1
Lake Jeffery          1
Name: count, Length: 471, dtype: int64

In [24]:
extracted_entities_df['employerAddressState'].value_counts()

employerAddressState
      48
CA    18
WY    18
VA    17
IL    16
      ..
:      1
10     1
RE     1
MY     1
wy     1
Name: count, Length: 68, dtype: int64

In [25]:
extracted_entities_df['taxYear'].value_counts()

taxYear
2018     396
2019     147
          55
2910       1
20 18      1
Name: count, dtype: int64

In [26]:
extracted_entities_df['taxYear'].unique()

array(['2019', '2018', '2910', '20 18', ''], dtype=object)

In [27]:
extracted_entities_df['taxYear'].isnull().sum()

np.int64(0)

In [28]:
##dataset where taxYear is '2910'
extracted_entities_df[extracted_entities_df['taxYear'] == '2910']

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
155,,,,,,,,,,,,,,,2910

In [33]:
## drop the row of 2910
extracted_entities_df = extracted_entities_df[extracted_entities_df['taxYear'] != '2910']

In [35]:
extracted_entities_df['taxYear'].value_counts()

taxYear
2018     396
2019     147
          55
20 18      1
Name: count, dtype: int64

In [36]:
## see the row of taxYear is '20 18'
extracted_entities_df[extracted_entities_df['taxYear'] == '20 18']

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
308,Lawrence-Brock and Sons,575 Derrick Village,Ericaborough,WY,03848-1352,71-6295447,David Tucker,549-21-1230,80018.32,13737 .59,67581 . 19,5169 . 96,41985 24,3012 91,20 18

In [37]:
## make the year '20 18' to '2018'
extracted_entities_df['taxYear'] = extracted_entities_df['taxYear'].replace('20 18', '2018')

In [38]:
extracted_entities_df['taxYear'].value_counts()

taxYear
2018    397
2019    147
         55
Name: count, dtype: int64

In [39]:
extracted_entities_df[extracted_entities_df['taxYear'] == '']

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
367,Harmon Group Group,94500 Downs Mount,Williston,KY,20903-5126,56-0737019,William Cruz,381-37-6717,134168 14,37067. 23,122384. 39,9362 . 41,67220 . 02,3481 72,
412,"Sandoval, White and Anderson and Sons",275 Peter Dale Suite 633,Johnberg,OK,46724-6879,13-2456974,Mrs. Stacy,0,135146.15,30825.86,148589.27,11367.08,65527.5,4386.91,
423,"Diaz, Walsh and Hoover PLC",3342 Foster Centers,Smithchester,OH,11186-3810,91-6060021,Dr. Mark,0,120770.16,41406.24,112158.31,8580.11,63632.55,7208.31,
438,Clark-Smith Group,31046 Hartman Cape,New Emma,NV,82314-6154,33-6879304,Brooke Logan,0,226026.52,78719.87,238003.48,18207.27,117291.76,7333.57,
489,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,,,,,,,,228500 74,,97392 . 27,,
500,Diaz and Sons PLC,67058 Glass Cliffs,New Jacquelinechester,OK,56874-5788,54-8166379,Jonathan Jefferson,0,56717.73,10196.83,50031.1,3827.38,30531.82,1441.45,
501,"Diaz, Howard and Bridges Group",8252 Lambert Court,Port Rebecca,WI,44550-6507,61-9854442,Kenneth Rodriguez,0,69124.36,24286.89,57427.67,4393.22,33421.07,2524.2,
502,West Ltd Inc,584 Williams Place Apt. 321,South Joseph,KY,72583-7843,48-8496621,Juan Paul,0,107443.01,16749.58,123207.9,9425.4,50825.09,4796.83,
503,"Boyd, Robinson and Bridges and Sons",14501 Jenkins Brooks Suite 674,East Tiffany,LA,89324-3350,26-1131295,Lisa Scott,0,206942.45,31818.62,201165.32,15389.15,111458.45,5424.1,
504,"Kelly, Cunningham and Smith Ltd",866 Wilson Fall Suite 425,West Frankland,WI,61690-0393,42-9933985,Paul Jones,0,148757.18,50567.23,118352.64,9053.98,71865.87,5614.28,
505,Porter Ltd Inc,229 Jeffrey Summit,Coxshire,HI,83322-3824,41-8067463,Mr. Robert,0,161590.28,41434.61,150840.93,11539.33,84463.99,6741.02,
506,Jackson-Johnson PLC,32483 Curtis Greens,Michaelberg,WY,06943-5520,73-0232661,Vanessa Jackson,0,44595.43,10041.55,46101.93,3526.8,23961.38,1308.19,
507,"Rivera, Martinez and Hunter and Sons",010 Johnson Alley,Wheelerfort,NM,47003-9227,20-2352784,William Miranda,0,176900.59,18844.28,133200.83,10189.86,88723.29,11184.13,
508,Parker-Newman and Sons,611 Albert Ville Apt. 251,Kevinburgh,CO,75289-7952,03-9669778,Daniel Johnson,0,173750.0,36969.31,184831.19,14139.59,84822.81,2873.54,
509,Hernandez LLC and Sons,720 Thomas Track Apt. 253,Johnsonhaven,WY,73034-5606,27-0916551,Richard Smith,0,196625.39,35884.32,200379.52,15329.03,99246.64,10098.15,
510,Phelps Inc PLC,5464 Gill Row,Rogerfort,NJ,88801-6373,88-5432651,Ashley Patterson,0,84816.64,20111.26,68605.05,5248.29,41367.74,1299.86,
511,Dixon Group Group,7825 Jeremy Garden Apt. 534,Lake Johnnystad,OR,23936-6471,98-9821712,Michael Hill,0,200012.79,23986.4,236745.01,18110.99,105195.87,11105.95,
512,"Dunn, Roth and Duran Inc",8262 Raymond Fork,Louisburgh,MS,87537-4097,44-4804680,Thomas Jones,0,249432.11,29347.38,255879.4,19574.77,132620.9,6688.0,
513,Nguyen-Herman and Sons,86489 Jennifer Mission,Marksfurt,MD,86393-4326,66-0288314,Megan Gonzales,0,170054.88,24582.68,150583.84,11519.66,76892.39,6870.53,
514,Jones-Mayer and Sons,76782 Melissa Manor Suite 642,Shawstad,WA,94675-4771,66-6917490,Johnathan Fox,0,136292.85,14732.21,137852.88,10545.75,64630.83,6110.54,
515,"Hubbard, Simpson and Mcbride Group",94832 Spears Extensions,Christopherport,DC,89689-1939,91-8133210,Randy Gutierrez,0,41296.39,14829.48,32567.62,2491.42,19867.52,1815.06,
516,Mack-Clark LLC,9102 Hill Park Apt. 082,Carlland,AR,22343-9040,27-1943480,Jordan Clark,0,234405.35,71288.69,236532.35,18094.72,124391.78,13323.12,
517,Warner Ltd Group,175 Frank Skyway,Martintown,WY,81267-3666,59-6062727,Michael Reese,0,73278.62,7750.26,93382.49,7143.76,34461.78,3506.87,
518,Hale-Jones and Sons,6324 Jose Dam,Johnberg,OR,17736-9083,91-3675989,Edward Williams,0,120076.92,24991.41,130311.08,9968.8,56707.75,4928.03,
519,"Cardenas, Davis and West LLC",8360 Martha Divide Suite 069,Port Matthewport,MO,43642-4359,73-7897333,Brian Edwards,0,162690.95,43415.1,205064.75,15687.45,78060.24,6457.78,
520,Howard-Adams Ltd,111 Compton Ports Suite 825,Hernandezchester,FL,71925-1677,47-9705455,Zachary Jones,0,210538.33,68443.11,231780.5,17731.21,102658.76,7696.93,
521,Scott and Sons and Sons,5508 Alejandro Grove,Griffithshire,NJ,59836-2163,66-1216131,Cynthia Garcia,0,247571.07,50219.14,180256.5,13789.62,118916.12,7477.28,
522,Edwards Inc PLC,60567 Griffin Forks Suite 450,South Elizabethfurt,CA,67696-6442,33-7314295,Paul Oneal,0,100685.61,15340.3,104087.79,7962.72,52757.35,4189.84,
523,Bennett and Sons Group,313 Barron Fort,West Anthonyfort,KY,97555-4063,85-1389854,Shawn Mercado,0,190584.88,59835.97,159290.95,12185.76,103016.7,5686.23,
524,Meyer PLC PLC,019 Sarah Mews,Port Robert,VT,68747-1945,15-9413202,Angela Griffin,0,65068.1,22307.33,77518.79,5930.19,34276.63,2427.58,
525,Barker Group and Sons,09863 Brandon Isle,South William,MS,94567-4333,58-8124259,Brian Arnold,0,66286.46,12096.63,68737.21,5258.4,35135.17,1074.2,
526,Hunter-Wilcox and Sons,8659 Brian Coves,Jenningsview,TN,89962-5208,35-8825702,Timothy Figueroa,0,132027.39,48546.09,112158.18,8580.1,61263.09,3541.45,
527,"Tyler, Nelson and Bender Inc",5654 Parker View,North Sara,AZ,50949-7371,98-3866411,Tiffany Simmons,0,110503.15,15540.51,82512.35,6312.19,56172.04,5554.06,
528,"Jackson, Black and Coleman Ltd",9754 Ross Route Suite 669,New Vincent,MN,65429-3555,20-4868320,Edward Valdez,0,67768.27,22110.14,80965.34,6193.85,33522.47,2453.72,
529,"Lewis, Parks and Schneider Group",0181 Philip Brook,Sharonport,TX,85235-8662,59-5500683,Mitchell Williams,0,138773.44,17021.97,142455.83,10897.87,65497.75,7560.95,
530,Rogers-Anderson Inc,5033 Arthur Causeway,North Jennifer,ME,62396-9663,41-3273885,Sheri Wright,0,233548.97,67003.47,292635.29,22386.6,109063.34,9596.89,
531,Page-Hunt PLC,8464 Bradford Meadow,Simpsonmouth,CA,65795-4458,38-5155936,Gary Webb,0,92813.42,12730.22,119617.25,9150.72,42658.06,3146.84,
532,Wright-Mullins LLC,742 Hamilton Divide,Catherinefurt,WA,63584-4218,63-5533013,Tamara Parker,0,217121.52,59149.63,272926.45,20878.87,106414.23,8331.14,
533,Gross LLC Inc,6942 Nicholson Spur Apt. 213,Davilafort,NY,60049-4999,48-9239329,Nathan Hanson,0,145662.36,50063.59,160831.37,12303.6,78932.39,5719.77,
534,"Casey, Terry and Bradley Ltd",556 Hoffman Shoal Suite 475,Port Cheryl,AZ,77170-2706,62-2164100,William Byrd,0,98893.18,24968.78,111322.05,8516.14,44899.88,5055.19,
535,"Schneider, Martin and Jackson LLC",31990 Clark Corner,Lake Jenniferfort,WI,56526-3457,94-3980999,Thomas Moody,0,233146.9,73449.38,208770.54,15970.95,106270.46,13531.38,
536,"Crawford, Leon and Shaw Group",02488 Joseph Shore,Joshuamouth,IL,05110-3687,52-9690896,Karen Gray,0,118170.21,29617.95,130117.54,9953.99,59199.31,5105.16,
537,Cabrera Group Ltd,5553 Thomas Passage Apt. 705,West Theodore,CO,56221-5487,50-4141334,Melissa Anderson,0,214731.04,47393.74,211281.72,16163.05,105901.45,5436.4,
538,Brown-Dunn LLC,28857 Edward Ferry Apt. 226,Lake Cynthia,MI,84969-1857,26-9963170,Jo Kelly,0,131815.8,27993.41,131475.37,10057.87,72241.36,6961.16,
539,Kirby PLC Ltd,2886 James Glen Suite 809,West Brittneymouth,UT,47391-8866,01-9893232,Timothy White,0,83875.53,9550.74,100885.22,7717.72,41861.65,4034.54,
540,Henson and Sons LLC,31421 Eric Hollow,Wallacetown,NV,05459-4081,81-4598559,Miranda Harrison,0,142081.5,28361.15,105238.52,8050.75,76062.21,4972.97,
541,"Palmer, Wiley and Porter Inc",608 Long Shores Suite 772,East Gloriahaven,KS,34780-3473,57-1254541,Amber Wood,0,186102.88,56403.34,147389.57,11275.3,93198.69,4521.36,
542,Taylor PLC and Sons,804 Stacy Coves,New Lisachester,AR,14521-6355,63-0100580,Ethan West,0,231262.65,74105.55,227572.95,17409.33,108268.36,8715.95,
543,Mills-Leblanc and Sons,2516 Rodgers Forges Apt. 268,Roseborough,KY,20338-4106,41-6457623,Charles Martin,0,100883.71,30749.57,104947.04,8028.45,52972.8,3317.57,
544,Miller-Marks Inc,0759 Kelly Camp,West Angela,MO,27722-6633,64-7554162,Christine Moore,0,57695.6,7191.74,62590.87,4788.2,27597.95,1212.44,
545,Calderon and Sons and Sons,3584 Bennett Rapids,West Johntown,WV,16441-1778,58-6019724,Amber Harmon,0,185228.44,35009.12,177043.07,13543.79,92543.3,11060.06,
546,Valencia Group Ltd,632 Jensen Roads,Laurachester,VT,54791-2119,74-3529838,Latasha Johnson,0,147123.33,52569.93,117853.94,9015.83,73176.09,6525.45,
547,Powell and Sons LLC,8761 Sanders Walk,Jamesburgh,ID,94348-1537,14-0201070,Alexander Patterson,0,179587.02,64354.8,158200.2,12102.32,90525.11,7589.47,
548,Davis LLC LLC,863 Daniel Inlet Apt. 566,Elizabethburgh,VA,37513-2679,33-6539601,Eric Williams,0,179553.17,63904.04,150330.34,11500.27,87372.24,3346.5,
549,Franco-Nelson LLC,396 Frazier Spur,Julieland,WY,77609-7429,39-3160482,James Bird,0,84320.5,20001.02,96762.24,7402.31,46281.64,2803.71,

In [40]:
extracted_entities_df[extracted_entities_df['taxYear'] == ''].count()

employerName                          55
employerAddressStreet_name            55
employerAddressCity                   55
employerAddressState                  55
employerAddressZip                    55
einEmployerIdentificationNumber       55
employeeName                          55
ssnOfEmployee                         55
box1WagesTipsAndOtherCompensations    55
box2FederalIncomeTaxWithheld          55
box3SocialSecurityWages               55
box4SocialSecurityTaxWithheld         55
box16StateWagesTips                   55
box17StateIncomeTax                   55
taxYear                               55
dtype: int64

In [31]:
extracted_entities_df['ssnOfEmployee'].value_counts()

ssnOfEmployee
                   134
0                   73
751-60-9547          2
725-96-4934          2
426-54-3183          2
                  ...
- 800 - 04 7226      1
453-01-2098          1
339-21-8499          1
458-59-1504          1
025- 42 -1606        1
Name: count, Length: 355, dtype: int64

In [32]:
extracted_entities_df['ssnOfEmployee'].unique()

array(['626-47-9086', '475-90-1539', '403-55-9637', '240-51-9894',
       '317-37-6322', '227-22-3523', '469-79-2403', '117-65-3078',
       '155-62-1637', '595-45-6525', '276-57-6944', '197-71-1499',
       '616-42-0119', '051-70-0598', '846-62-1414', '331-13-8982',
       '050-77-5869', '331-23-0733', '755-95-3280', '806-48-9778',
       '207-09-8027', '178-86-9660', '753-52-7353', '008-33-5675',
       '143-32-6653', '870-96-4337', '463-41-8439', '079-98-8087',
       '380-62-5767', '767-92-4559', '030-71-4252', '633-66-8979',
       '850-30-3411', '325-64-9593', '140-57-9055', '348-60-0732',
       '105-78-0260', '560-52-7390', '(07-42-9804', '045-87-7812',
       '311-89-7688', '059-53-8595', '252-57-6299', '467-23-4754',
       '210-97-3143', '019-62-3340', '$35-36-3912', '751-60-9547',
       '725-96-4934', '741-51-3041', '840-98-5933', '437-56-6585',
       '426-54-3183', '809-21-4576', '269-49-2779', '550-60-6655',
       '659-29-4275', '497-78-5154', '370-06-1290', '875-36-4609',
       '537-16-0400', '380-25-7673', '401-35-4717', '748-16-1689',
       '167-23-8381', '710-09-6630', '372-90-4537', '081-27-9674',
       '800-50-0733', '274-05-6682', '274-17-2150', '532-46-5259',
       '556-94-5171', '475-13-3309', '561-41-2712', '522-55-5977',
       '515-83-7808', '713-20-5302', '391-85-4508', '629-50-9203',
       '580-94-9430', '720-74-9502', '298-58-3762', '377-38-8854',
       '388-91-5728', '613-01-7429', '813-07-9495', '402-22-3590',
       '577-09-1344', '183-58-4573', '200-56-4100', '875-34-1319',
       '495-41-8499', '190-72-9169', '249-60-9185', '638-62-9924',
       '651-35-7892', '843-96-1492', '128-77-5884', '420-08-9639',
       '664-08-7686', '413-59-4505', '', '233-88-5197', '234-25-5539',
       '612-24-8196', '708-85-6052', '758-31-8946', '802-40-5682',
       '725-28-8485', '242-39-6533', '298-44-6815', '207-66-8919',
       '#30-09-9642', '15-97-9048', '444-72-5153', '458-59-1504',
       '339-21-8499', '453-01-2098', '- 800 - 04 7226', '654-43-4102',
       '100-02-7219', '138-08-0355', '398-80-5506', '802-99-4257',
       '123-25-9294', '025- 42 -1606', '300-49-562', '183-90-9286',
       '245-57-7420', '125-35-059', '811-27-0825', '272-18-1078',
       '469-16-1389', '441-19-5767', '765-95-9193', '316-49-5793',
       '307-70-421', '035-51-2594', '515-94-500', '347-72-7630',
       '722-96-7683', '374-87-7160', '487-42-2012', '419-93-4513',
       '178-21-6267', '842-39-2152', '404-40-6072', '364-77-1221',
       '278-03-4504', '671-21-9179', '473-54-7207', '455-11-6220',
       '556-01-992', '664 -02-8630', '698-35-0143', '560-44-5950',
       '29-20-2098', '129-35-6394', '32-27-161', '0', '04-35-801',
       '592-84-1506', '337-36-0115', '482-93-5189', '827-30-5864',
       '066-13-5202', '591-25-7170', '693-62-1393', '449-71-8470',
       '549-21-1230', '650-86-5783', '591-73-9041', '617-45-4904',
       '143-24-8099', '772-87-4174', '071-51-2027', '224-11-9026',
       '010-28-9679', '149-93-4511', '496-69-7194', '822-93-0777',
       '496-29-3911', '449-96-5985', '297-01-8002', '793-75-8410',
       '451-10-1014', '133-91-4942', '257-02-8934', '574-54-1310',
       '307-18-7968', '352-77-4276', '029-18-8536', '017-06-4779',
       '100-43-1278', '498-64-1325', '641-02-1377', '653-70-6743',
       '427-33-4506', '746-03-7042', '024-25-1828', '651-04-4746',
       '491-42-0688', '445-61-3300', '871-24-7039', '066-39-2289',
       '038-14-7215', '365-69-7885', '697-88-6696', '639-32-9265',
       '404-78-0491', '898-20-3623', '295-20-2777', '481-60-4241',
       '206-89-2179', '312-77-6073', '520-30-2243', '784-01-5990',
       '299-20-2304', '712-23-7304', '069-72-9627', '278-69-7877',
       '412-52-5042', '072-90-9805', '605-94-9102', '117-22-2124',
       '844-77-7874', '381-37-6717', '780-77-0225', '181-52-3270',
       '257-17-1943', '486-39-2454', '284-29-8034', '163-72-7039',
       '664-40-5512', '415-10-1039', '471-84-4028', '811-96-6625',
       '494-35-4815', '836-45-7280', '433-21-4661', '246-91-2924',
       '185-14-9204', '517-43-3149', '007-80-4407', '208-01-9056',
       '072-86-5348', '451-42-4051', '777-19-6923', '016-74-4489',
       '364-48-7013', '702-68-1004', '074-66-5545', '335-36-7976',
       '579-24-1268', '580-89-3073', '267-12-3513', '310-75-6792',
       '386-77-0048', '198-89-0541', '876-05-7073', '281-81-6482',
       '766-63-6654', '801-45-0440', '163-11-1013', '714-27-1345',
       '204-43-4552', '382-60-1185', '232-92-0962', '591-29-4776',
       '670-11-2087', '218-87-9793', '436-02-0832', '529-50-9203',
       '035-49-2984', '473-57-9699', '168-57-9855', '463-71-9369',
       '62-7492385', '467-08-8770', '761-46-2325', '035-36-3992',
       '183-72-0537', '674-06-5373', '764-12-1171', '083-28-8507',
       '697-85-3013', '125-35-0590', 'numb54-4104', '600-26-5491',
       '795-07-5278', 'numbag-8485', '097-08-6995', 'numb53-0073',
       '212-81-6129', '556-01-9925', '035-51-2588', '777-15-1653',
       'number_3090', 'number_57', '$52-21-1054', 'numbig-2500',
       'number_77', '122-96-7683', 'num-43-4102', '564-02-8530',
       '851-81-1236', 'numb40-8657', '025 - 42- 1505', 'number_$70',
       '581-54-3835', 'numDog-2077', 'number_19', '335-88-9022',
       '183-90-9886', '463-35-7797', '005-21-0888', '280-10-5382',
       'numba3-1679', 'numbed-3230', '555-40-9458', 'number_4561',
       '194-35-4815', '112-52-5042', '398-20-3623', '105-50-1951',
       '399-91-3759', '198-72-7914', '066-30-9199', '301-51-4482',
       '079-65-9252', '228-35-1007', '598-42-0464', '786-90-3921',
       '10-82-3196', '295-28-2777', '112-70-6903', '518-96-1028',
       '580-68-9211', '455-64-3675', '290-12-4455', '847-97-4679',
       '19-65-7862', '747-06-3527', '516-78-3994', '595-16-7997',
       '$28-01-0124', '751-75-2442', '374-47-6692', '196-69-7194',
       '133-21-4661', '112-74-4692', '429-46-5266', '131-44-3499',
       '166-17-3465'], dtype=object)

The regex pattern r'\b\d{3}-\d{2}-\d{4}\b' matches SSNs in the XXX-XX-XXXX format.
The \b word boundary ensures that the pattern matches whole SSNs and not parts of other strings.

In [42]:
import re 

# Define a function to clean and standardize SSNs
def clean_ssn(ssn):
    # Define regex pattern for SSN
    ssn_pattern = re.compile(r'\b\d{3}-\d{2}-\d{4}\b')
    
    # Search for SSN pattern in the text
    match = ssn_pattern.search(ssn)
    
    if match:
        return match.group(0)
    else:
        # Handle invalid SSNs (e.g., return None or a placeholder)
        return None

In [43]:
extracted_entities_df['ssnOfEmployee'] = extracted_entities_df['ssnOfEmployee'].apply(clean_ssn)

In [49]:
## show me some odd ssn
extracted_entities_df[extracted_entities_df['ssnOfEmployee'].isnull()].head()

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
38,Novel1-Medina Ltd,490 Parker Bypass Suite 313,knappburgh,0,35300-1931,94-4130330,Kim Moore,None,180558.05,42029.25,139843.75,10698.05,97631.03,5015.72,2019
46,French 104 and See,22463 moreno Stream,Victoriabury,FA,90146-9103,,Katie Hensley,None,49239.09,10471-76,,1012.09,39034.35,2306.07,2019
102,,,,,,,,None,,,,,,,2018
106,,,,,,,Burtia sey,None,,,,,,,2018
107,,,,,,,,None,,,,,,,2018