# Data Study

Extract the following entities from the dataset 
<ol>
  <li>employerName</li>
  <li>employerAddressStreet_name</li>
  <li>employerAddressCity</li>
  <li>employerAddressState</li>
  <li>employerAddressZip</li>
  <li>einEmployerIdentificationNumber</li>
  <li>employeeName</li>
  <li>ssnOfEmployee</li>
  <li>box1WagesTipsAndOtherCompensations</li>
  <li>box2FederalIncomeTaxWithheld</li>
  <li>box3SocialSecurityWages</li>
  <li>box4SocialSecurityTaxWithheld</li>
  <li>box16StateWagesTips</li>
  <li>box17StateIncomeTax</li>
  <li>taxYear</li>
</ol>

In [264]:
import numpy as np
import pandas as pd
import os

In [265]:
# Load the dataset
train_path = 'dataset/dataset/train'
val_path = 'dataset/dataset/val'

def load_tsv_files(path):
    data = []
    for file in os.listdir(path):
        if file.endswith('.tsv'):
            file_path = os.path.join(path, file)
            df = pd.read_csv(file_path, sep='\t', header=None)
            data.append(df)
    return data

train_data = load_tsv_files(train_path)
val_data = load_tsv_files(val_path)

In [266]:
# Display first few rows of the first file for EDA
train_data[0].head()

                                                   0
0  4734e081-55ff-44b1-97b9-ac818073a487_document-...
1  38acf1e0-e556-4387-8838-8779eb508c8c_document-...
2  38cac7ad-8b09-4d47-a7b0-62d8f409681e_document-...
3  ab756109-1d00-4825-be41-e355ee4a3b2e_document-...
4  09a38de0-1157-4844-9337-38b64cef2275_document-...

In [267]:
# Check for missing values
for df in train_data:
    print(df.isnull().sum())

0    0
dtype: int64

In [268]:
import pandas as pd

# Load the TSV file
file_path = '/home/killdollar/data_task/dataset/dataset/train/boxes_transcripts_labels/0e997ed9-76ba-4124-ac89-38e870352902_document-6_page-1.tsv'
df = pd.read_csv(file_path, sep=',', header=None, names=['start_index', 'end_index', 'x_top_left', 'y_top_left', 'x_bottom_right', 'y_bottom_right', 'transcript', 'field'])

# Define the entities to extract
entities = [
    'employerName', 'employerAddressStreet_name', 'employerAddressCity', 'employerAddressState', 'employerAddressZip',
    'einEmployerIdentificationNumber', 'employeeName', 'ssnOfEmployee', 'box1WagesTipsAndOtherCompensations',
    'box2FederalIncomeTaxWithheld', 'box3SocialSecurityWages', 'box4SocialSecurityTaxWithheld', 'box16StateWagesTips',
    'box17StateIncomeTax', 'taxYear'
]

# Extract entities
extracted_entities = {entity: [] for entity in entities}

for _, row in df.iterrows():
    if row['field'] in extracted_entities:
        extracted_entities[row['field']].append(row['transcript'])

# Print the extracted entities
for entity, values in extracted_entities.items():
    print(f"{entity}: {values}")

employerName: ['Smith,', 'Morales', 'and', 'Gates', 'LLC']
employerAddressStreet_name: ['Harrison', 'Mission', '1698']
employerAddressCity: ['West', 'Dennisview']
employerAddressState: ['NY']
employerAddressZip: ['30232', '-7204']
einEmployerIdentificationNumber: ['75-5356392']
employeeName: ['Alexis', 'Sexton']
ssnOfEmployee: ['564-02-8530']
box1WagesTipsAndOtherCompensations: []
box2FederalIncomeTaxWithheld: ['9', '-', '35212']
box3SocialSecurityWages: []
box4SocialSecurityTaxWithheld: []
box16StateWagesTips: []
box17StateIncomeTax: []
taxYear: ['2018']

In [269]:
import pandas as pd

# Load the TSV file
file_path = '/home/killdollar/data_task/dataset/dataset/train/boxes_transcripts_labels/0e997ed9-76ba-4124-ac89-38e870352902_document-6_page-1.tsv'
df = pd.read_csv(file_path, sep=',', header=None, names=['start_index', 'end_index', 'x_top_left', 'y_top_left', 'x_bottom_right', 'y_bottom_right', 'transcript', 'field'])

# Define the entities to extract
entities = [
    'employerName', 'employerAddressStreet_name', 'employerAddressCity', 'employerAddressState', 'employerAddressZip',
    'einEmployerIdentificationNumber', 'employeeName', 'ssnOfEmployee', 'box1WagesTipsAndOtherCompensations',
    'box2FederalIncomeTaxWithheld', 'box3SocialSecurityWages', 'box4SocialSecurityTaxWithheld', 'box16StateWagesTips',
    'box17StateIncomeTax', 'taxYear'
]

# Extract entities
extracted_entities = {entity: [] for entity in entities}

for _, row in df.iterrows():
    if row['field'] in extracted_entities:
        extracted_entities[row['field']].append(row['transcript'])

# Combine list elements into single strings
for entity in extracted_entities:
    extracted_entities[entity] = ' '.join(extracted_entities[entity])

# Print the extracted entities
for entity, value in extracted_entities.items():
    print(f"{entity}: {value}")

employerName: Smith, Morales and Gates LLC
employerAddressStreet_name: Harrison Mission 1698
employerAddressCity: West Dennisview
employerAddressState: NY
employerAddressZip: 30232 -7204
einEmployerIdentificationNumber: 75-5356392
employeeName: Alexis Sexton
ssnOfEmployee: 564-02-8530
box1WagesTipsAndOtherCompensations:
box2FederalIncomeTaxWithheld: 9 - 35212
box3SocialSecurityWages:
box4SocialSecurityTaxWithheld:
box16StateWagesTips:
box17StateIncomeTax:
taxYear: 2018

In [270]:
import pandas as pd

# Load the TSV file
file_path = '/home/killdollar/data_task/dataset/dataset/train/boxes_transcripts_labels/0e997ed9-76ba-4124-ac89-38e870352902_document-6_page-1.tsv'
df = pd.read_csv(file_path, sep=',', header=None, names=['start_index', 'end_index', 'x_top_left', 'y_top_left', 'x_bottom_right', 'y_bottom_right', 'transcript', 'field'])

# Define the entities to extract
entities = [
    'employerName', 'employerAddressStreet_name', 'employerAddressCity', 'employerAddressState', 'employerAddressZip',
    'einEmployerIdentificationNumber', 'employeeName', 'ssnOfEmployee', 'box1WagesTipsAndOtherCompensations',
    'box2FederalIncomeTaxWithheld', 'box3SocialSecurityWages', 'box4SocialSecurityTaxWithheld', 'box16StateWagesTips',
    'box17StateIncomeTax', 'taxYear'
]

# Extract entities
extracted_entities = {entity: [] for entity in entities}

for _, row in df.iterrows():
    if row['field'] in extracted_entities:
        extracted_entities[row['field']].append(row['transcript'])

# Combine list elements into single strings
for entity in extracted_entities:
    extracted_entities[entity] = ' '.join(extracted_entities[entity])

# Print the extracted entities
for entity, value in extracted_entities.items():
    print(f"{entity}: {value}")

employerName: Smith, Morales and Gates LLC
employerAddressStreet_name: Harrison Mission 1698
employerAddressCity: West Dennisview
employerAddressState: NY
employerAddressZip: 30232 -7204
einEmployerIdentificationNumber: 75-5356392
employeeName: Alexis Sexton
ssnOfEmployee: 564-02-8530
box1WagesTipsAndOtherCompensations:
box2FederalIncomeTaxWithheld: 9 - 35212
box3SocialSecurityWages:
box4SocialSecurityTaxWithheld:
box16StateWagesTips:
box17StateIncomeTax:
taxYear: 2018

In [271]:
import pandas as pd

train_ids_path = '/home/killdollar/data_task/dataset/dataset/train/train_ids.tsv'
train_ids_df = pd.read_csv(train_ids_path, sep='\t', header=None, names=['file_path'])

# Display the first few rows of the dataframe
train_ids_df.head()

                                           file_path
0  4734e081-55ff-44b1-97b9-ac818073a487_document-...
1  38acf1e0-e556-4387-8838-8779eb508c8c_document-...
2  38cac7ad-8b09-4d47-a7b0-62d8f409681e_document-...
3  ab756109-1d00-4825-be41-e355ee4a3b2e_document-...
4  09a38de0-1157-4844-9337-38b64cef2275_document-...

### Defining the function to extract the entities needed

In [272]:

# Define the entities to extract
entities = [
    'employerName', 'employerAddressStreet_name', 'employerAddressCity', 'employerAddressState', 'employerAddressZip',
    'einEmployerIdentificationNumber', 'employeeName', 'ssnOfEmployee', 'box1WagesTipsAndOtherCompensations',
    'box2FederalIncomeTaxWithheld', 'box3SocialSecurityWages', 'box4SocialSecurityTaxWithheld', 'box16StateWagesTips',
    'box17StateIncomeTax', 'taxYear'
]

# Base directory for the TSV files
base_dir = '/home/killdollar/data_task/dataset/dataset/train/boxes_transcripts_labels'

# List to store the extracted entities for each file
all_extracted_entities = []

# Iterate over each file path in train_ids.tsv
for file_name in train_ids_df['file_path']:
    full_file_path = os.path.join(base_dir, file_name + '.tsv')
    df = pd.read_csv(full_file_path, sep=',', header=None, names=['start_index', 'end_index', 'x_top_left', 'y_top_left', 'x_bottom_right', 'y_bottom_right', 'transcript', 'field'])
    
    # Initialize a dictionary to store the extracted entities for the current file
    extracted_entities = {entity: [] for entity in entities}
    
    # Extract entities from the current file
    for _, row in df.iterrows():
        if row['field'] in extracted_entities:
            extracted_entities[row['field']].append(row['transcript'])
    
    # Combine list elements into single strings for the current file
    for entity in extracted_entities:
        extracted_entities[entity] = ' '.join(extracted_entities[entity])
    
    # Append the extracted entities for the current file to the list
    all_extracted_entities.append(extracted_entities)

# Convert the list of dictionaries to a DataFrame
extracted_entities_df = pd.DataFrame(all_extracted_entities)

In [273]:
# Print the DataFrame
extracted_entities_df.head()

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
0,Dodson-Kennedy and Sons,247 Alexander Islands,South Mauriceland,SC,79991-9264,03-2885751,Krista Conner,626-47-9086,149394 . 79,16030. 73,120690 . 01,9232 . 79,70985 . 58,5149 .29,2019
1,George-Horton and Sons,55527 Shannon Corner,Alisonfort,LA,24369-8354,43-1414035,Rodney Perez,475-90-1539,240614 . 35,79673.63,266460.93,20384.26,120854 .26,8990 . 12,2019
2,Baker-Memeil Led,3250 Brown Pines Apt. 530,Jasonfort,NOT,86498-7130,06-7076127,Kayla Simmons,403-55-9637,183106.34,(2037.04,142194.16,10877.85,94960.51,3010.6,2019
3,"Henry, Jones and Quinn LLC",23927 Kevin Lane Suite 067,New Shannonshire,OR,41335-1879,53-3435873,Juan Mcguire,240-51-9894,101359 . 41,34772. 33,107449 . 4,8219. 88,55120 .4,4003 66,2019
4,Miller PLC Group,174 Briggs Village,West Johnmouth,NJ,95552-9854,77-6878997,Amanda Hoffman,317-37-6322,107565. 11,36048.57,78648.9,6016 64,56829. 43,3360.53,2019

In [274]:
extracted_entities_df.isnull().sum()

employerName                          0
employerAddressStreet_name            0
employerAddressCity                   0
employerAddressState                  0
employerAddressZip                    0
einEmployerIdentificationNumber       0
employeeName                          0
ssnOfEmployee                         0
box1WagesTipsAndOtherCompensations    0
box2FederalIncomeTaxWithheld          0
box3SocialSecurityWages               0
box4SocialSecurityTaxWithheld         0
box16StateWagesTips                   0
box17StateIncomeTax                   0
taxYear                               0
dtype: int64

- There are some Null values but there are always space with ' '

In [275]:
extracted_entities_df.shape ## 600 client details extracted

(600, 15)

In [276]:
##check if duplicated
extracted_entities_df.duplicated().sum()

np.int64(29)

In [277]:
# Save the extracted entities DataFrame to a CSV file
extracted_entities_df.to_csv('extracted_entities_train.csv', index=False)

In [278]:
extracted_entities_df.info()    ##info non null count is there becuase it is filled with empty string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   employerName                        600 non-null    object
 1   employerAddressStreet_name          600 non-null    object
 2   employerAddressCity                 600 non-null    object
 3   employerAddressState                600 non-null    object
 4   employerAddressZip                  600 non-null    object
 5   einEmployerIdentificationNumber     600 non-null    object
 6   employeeName                        600 non-null    object
 7   ssnOfEmployee                       600 non-null    object
 8   box1WagesTipsAndOtherCompensations  600 non-null    object
 9   box2FederalIncomeTaxWithheld        600 non-null    object
 10  box3SocialSecurityWages             600 non-null    object
 11  box4SocialSecurityTaxWithheld       600 non-null    object
 12  box16StateWagesTips                 600 non-null    object
 13  box17StateIncomeTax                 600 non-null    object
 14  taxYear                             600 non-null    object
dtypes: object(15)
memory usage: 70.4+ KB

In [279]:
##check for empty string
extracted_entities_df[extracted_entities_df == ''].count()

employerName                           40
employerAddressStreet_name             32
employerAddressCity                    38
employerAddressState                   48
employerAddressZip                     40
einEmployerIdentificationNumber        59
employeeName                           35
ssnOfEmployee                         134
box1WagesTipsAndOtherCompensations     81
box2FederalIncomeTaxWithheld           81
box3SocialSecurityWages                89
box4SocialSecurityTaxWithheld          96
box16StateWagesTips                    91
box17StateIncomeTax                    81
taxYear                                55
dtype: int64

In [280]:
## now filling those empty string with nan
extracted_entities_df = extracted_entities_df.replace('', np.nan)

In [281]:
## now seeing the null values
extracted_entities_df.isnull().sum()

employerName                           40
employerAddressStreet_name             32
employerAddressCity                    38
employerAddressState                   48
employerAddressZip                     40
einEmployerIdentificationNumber        59
employeeName                           35
ssnOfEmployee                         134
box1WagesTipsAndOtherCompensations     81
box2FederalIncomeTaxWithheld           81
box3SocialSecurityWages                89
box4SocialSecurityTaxWithheld          96
box16StateWagesTips                    91
box17StateIncomeTax                    81
taxYear                                55
dtype: int64

- Now we have to handle those missing values

In [282]:
extracted_entities_df.describe()

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
count,560,568,562,552,560,541,565,466,519,519,511,504,509,519,545
unique,476,487,470,67,467,460,482,354,488,493,481,481,486,495,4
top,Bennett and Sons Group,427 Burton Burgs,Johnberg,CA,84969-1857,26-9963170,Edward Valdez,0,109302 . 09,8877 . 69,185135.81,10545.75,70561 . 63,3317.57,2018
freq,3,3,3,18,3,3,2,73,2,2,2,2,2,2,396

#### Starting with first column 'EmployerName'

In [283]:
extracted_entities_df['employerName'].value_counts()

employerName
Bennett and Sons Group                   3
Hawkins Inc Ltd                          3
Brown-Dunn LLC                           3
Smith, Winters and Hernandez and Sons    3
Casey, Terry and Bradley Ltd             2
                                        ..
Roberson-Little PLC                      1
Payne PLC LLC                            1
Rivera, Martinez and Hunter and Sons     1
Montgomery-Taylor LLC                    1
Floyd, Bell and Greene Group             1
Name: count, Length: 476, dtype: int64

In [284]:
extracted_entities_df['employerName'].unique()

array(['Dodson-Kennedy and Sons', 'George-Horton and Sons',
       'Baker-Memeil Led', 'Henry, Jones and Quinn LLC',
       'Miller PLC Group', 'Diaz and Sons Ltd',
       'Hardy, Larson and Washington LLC',
       'Ford, Sanders and Lawrence Ltd', 'Gray and Sons Inc',
       'Steven Thompson', 'Mendoza-Martin Group', 'Walker Group and Sons',
       'Hobbs Ltd Ltd', 'Scott PLC Ltd', 'Buyah-Moody Ine',
       'Harrison-King LLC', 'Griffith PLC Ltd', 'Johnson-Lucas Group',
       'Allen-Davis LLC', 'Mendoza-Ruiz Inc', 'Fields-Pacheco and Sons',
       'Mcconnell-Whitaker and Sons', 'Bryant Ltd and Sons',
       'Flores, Rich and Jones PLC', 'Harris Group Ltd',
       'Duran Inc Group', 'Curry, Sanchez and Acevedo Inc',
       'Whitehead Ltd and Sons', 'and Sons', 'Sosa PLC Group',
       'Heath-Taylor Ltd', 'Ward LLC and Sons', 'Frank and Sons PLC',
       'Cook, Bailey and Osborne LLC', 'Schultz-Harris and Sons', nan,
       'Gamble, Rodriguez and Blair Ltd', 'Hughes-Fields LLC',
       'Novel1-Medina Ltd', 'Martinez-Clements LLC', 'Scott LLC and Sons',
       'Gonzalez, Hughes and Fowler LLC',
       'Sanford, Jones and Eaton and Sons',
       'Pratt, Hernandez and Anthony Led', 'Kennedy PLC PLC',
       'Davis-Wagner and Sons', 'French 104 and See',
       'Pace, Allison and Wallace Inc', 'Davis and Sons Group',
       'Smith, Evans and Hendricks LLC', 'Wheeler Group Inc',
       'Castro LLC Group', 'Rodriguez, Garcia and Pierce Group',
       'nicholson-Dunn Ltd', 'Lawrence, Berger and Archer Ltd',
       'Chapman-Estrada Sons and', 'Nelson, Love and Thompson and Sons',
       'Webb Ltd Group', 'Larson-Young and Sons',
       'Cannon, Diaz and Adkins Inc', 'Johnson-Harvey Group',
       'Kelly PLC Ltd', 'Cole-Hill Group', 'Smith Group LLC',
       'and Sons Strickland-Thomas', 'Andrade-Frazier PLC',
       'Smith, Fitzgerald and Mcdonald Inc', 'Lawson-Gonzalez Inc',
       'Jacobs LLC LLC', 'Knight PLC PLC',
       'Reid, Brown and Yoder Sons and', 'Gay-Potts LLC',
       'Daugherty, Perez and King Inc', 'Clark, Brown and Rivera LLC',
       'Brown-Matthews Inc', 'Brown Inc and Sons',
       'Jefferson, Anderson and Mills Group', 'Williams-Smith PLC',
       'Peterson, Sexton and Love PLC', 'Arnold-Cuevas and Sons',
       'Mata-Ray PLC', 'Collins-Saunders and Sons', 'Bishop PLC LLC',
       'Ingram, Chang and Russell Inc', 'Campbell-Jones LLC',
       'Lyons, Rose and Fuller and Sons', '62-7492385', 'Hawkins Inc Ltd',
       'Williams, Avery and Wood and Sons', 'Cross-White PLC',
       'Mcdonald-Adams Inc', 'Quinn, Nelson and Byrd Inc',
       'Johnson Ltd LLC', 'Lopez Ltd and Sons',
       'Paul, Douglas and Ramos Group', 'Munoz-Johnson Ltd',
       'Lara-Riley Group', 'Parker-Williams PLC',
       'Griffin, Carlson and Moore Inc', 'Cooley LLC Group',
       'Gray, Hernandez and Bradshaw and Sons', 'Mcdonald-Jackson LLC',
       'Lee-Phillips and Sons', 'Lewis-Bell Group',
       'Smith, Rose and French Itd', 'Bates-Cruz Inc',
       'Weaver , Reyes and Barnett LLC', 'Anderson LLC PLC',
       'Castillo-Schroeder PLC', 'Timetay Bryant', 'Richardson LLC Inc',
       'Dudley, Elliott and Miranda and Sons', 'LLC Gardner-Anderson',
       'Johnson Inc Group', 'Johnston LLC Itd', 'Mcdaniel, Wood',
       'Terry Group Inc', 'Grant and Sons and Sons',
       'Bradshaw, Richards and Dalton PLC', 'Martinez-Luna PLC',
       'Miller Inc LLC', 'Perez, Taylor and Ramirez Ltd',
       'Pratt PLC Group', 'and Sons Koch-Mendez', 'Hayes Inc Ltd',
       'Group Palmer-Keith', 'Nichols, Mcneil and Tucker Ltd',
       'Shelton, Castillo and Beard Group', 'Ayala-Colon Inc',
       'Terry, Brown and Clark Led', 'walker Group LLC', 'Rogers LLC PLC',
       'Davis PLC Ltd', 'Lopez-Daniel PLC', 'and Marshall-Cruz',
       'Johnson, Morgan and Lynn Inc', 'Gonzalez, Johnson and Colon LLC',
       'Spencer, Ramirez and Hall PLC',
       'Smith, Winters and Hernandez and Sons', 'Reed Group Group',
       'Sawyer-Harmon PLC', 'Manbey', 'Campbell Inc LLC',
       'Ortega-Hayden and', 'Richmond, Watson and Johnson Group',
       'Garcia and Sons Grow', 'Martin-Lee PLC',
       'salas, Bergera and Levis Group', 'Clayton and Ramirez Led',
       'Bell, Murray and Bryant Group', 'Davis-Douglas and Sons',
       'Hernandez-Melendez Ltd', 'Aguilar PLC Inc', 'Beasley LLC LLC',
       'Savage-Collins Ltd', 'Knight-Lewis and Sons', 'Sanchez-Rice Ltd',
       'Moore ore-Boone and Sons', 'Group Lee-williams',
       'lester and does Ta', 'Merritt Inc LLC', 'Hoffman-Gutierrez Ltd',
       'Jones Ltd Ltd', 'Leach Inc PLC', 'Smith, Morales and Gates LLC',
       'Mason, Mejia and Mitchell Lid', 'Inc Phillips, Brown and Hartman',
       'Fox-Mitchell and sons', 'Sullivan and Sons Inc',
       'and Henson Sons LLC', 'Carlson, Kent and Lewis Ltd',
       'Mills-Leblanc and Sons', 'Cox, Anderson and Sanchez Group',
       'Thomas-May Ltd', 'Lewis, Parks and Schneider Group',
       'Patterson-Walton and Sons', 'Wilcox Group Group',
       'Garcia and Sons Group', 'Brown-Dunn LLC', 'Hawkins-Bailey PLC',
       'Larsen and Sons Ltd', 'Thompson, Bauer and Mullen PLC',
       'Reynolds, Taylor and Wallace LLC', 'Brown Ltd Ltd',
       'Stanley PLC Inc', 'Kent and Sons LLC', 'Valencia Group Ltd',
       'Casey, Terry and Bradley Ltd',
       'Schneider, Martin and Jackson LLC',
       'Crawford, Leon and Shaw Group', 'Jackson, Black and Coleman Ltd',
       'Shah-Ford PLC', 'Wright, Murphy and Taylor Group',
       'Collins, Potter and Hill Inc',
       'Miller, Sherman and Donovan and Sons',
       'Hutchinson, Gonzalez and Mercer and Sons',
       'Kelly, Cunningham and Smith Ltd', 'Price-Jones Inc',
       'Montgomery-Taylor LLC', 'Calderon and Sons and Sons',
       'Payne PLC LLC', 'Roberson-Little PLC', 'Warren-Newman PLC',
       'Golden, Gallegos and Melton Ltd',
       'Gregory, Martin and Morris Group', 'Salas-Castro Ltd',
       'Fields, Adkins and Trevino Ltd', 'Cabrera Group Ltd',
       'Logan-Jones PLC', 'Sandoval, and and White Anderson Sons',
       'Floyd, Bell and Greene Group', 'Moss, Wheeler and Jones Ltd',
       'Carter-Gilmore Ltd', 'Kelley, Fuller and Bennett Ltd',
       'Jackson-Johnson PLC', 'Nguyen-Herman and Sons',
       'Pruitt and Sons Ltd', 'Jones-Mayer and Sons', 'Hall-Walker LLC',
       'Miller-Marks Inc', 'Alvarado Inc Ltd', 'Barnett-Moran Ltd',
       'Bennett and Sons Group', 'Watkins PLC PLC',
       'Baker, Martin and Robinson Group', 'Baker, Wiley and Riley Inc',
       'Bates-Davis and Sons', 'Clark Ltd and Sons', 'King-Anderson Inc',
       'Newman-Bailey and Sons', 'Meyer PLC PLC', 'Williams Inc Inc',
       'Walker Group PLC', 'Franco-Nelson LLC', 'Hernandez LLC and Sons',
       'Meza LLC Inc', 'Castillo Ltd PLC',
       'Crawford, Marquez and Martin Ltd', 'Dixon Group Group',
       'White-Lloyd LLC', 'Gordon-Tanner PLC',
       'Estrada, Taylor and Long Inc', 'Gross LLC Inc',
       'Myers, Cervantes and Scott and Sons', 'Mack-Clark LLC',
       'Waller-Hammond Group', 'Browning LLC Ltd',
       'Ray, Andrews and Garner Inc', 'Brown and Sons Inc',
       'Hamilton-Espinoza Group', 'Scott and Sons and Sons',
       'Deleon Ltd PLC', 'Group Gross-Smith', 'PLC Williams-Mcneil',
       'Velazquez-Ward LLC', 'Smith-Young and Sons', 'Shaw-Green Inc',
       'Shepard LLC LLC', 'Hall LLC PLC', 'Kirby PLC Ltd',
       'Reeves and Sons Group', 'LLC Wright-Mullins',
       'Cardenas, Davis and West LLC', 'Wells Group Ltd',
       'Baxter and Sons Ltd', 'Walsh Inc LLC',
       'Moreno Christian, Turner and LLC', 'Jackson and Sons Group',
       'Reed, Jefferson and Beasley LLC', 'Simmons LLC Inc',
       'Banks and Sons Inc', 'Elliott-Ramsey Group',
       'Lawrence-Brock and Sons', 'Davis, Mills and Chan Group',
       'Thomas-Castillo Ltd', 'Williams-Wall LLC',
       'Nichols, Stewart and Atkins LLC', 'Juarez PLC PLC',
       'Mayo LLC Group', 'Holland-Johnson Group', 'Valenzuela Group LLC',
       'Gardner-Parsons and Sons', 'Haynes-Krause and Sons',
       'Gonzalez Inc Group', 'Cook-Mitchell and Sons', 'Zavala-Stone PLC',
       'Mcintosh, Barrett and Gonzalez Inc', 'Rice-Millians Group',
       'Gilbert The 104', 'King-Lawson and Sons', 'Stone Group LLC',
       'Howard, Armstrong and Webster PLC',
       'Manning, Chambers and Ryan and Sons',
       'Carter, Lucero and Davis PLC', 'Williams-Jackson LLC',
       'Hogan-Arnold and Sons', 'Gibson, Wilkerson and Jacobson Inc',
       'wolfe Ltd and Sons', 'Hall-Huynh PLC', 'Cunningham Ltd Group',
       'Brown, Kelley and Baker LAd', 'Edwards LLC Inc',
       'Burnett-Berry and Sons', 'Hawkins-Taylor Group',
       'King, Estrada and Larson LLC', 'Cook, Burton and Cummings Group',
       'Vincent, Adams and Alvarez Group',
       'Rios, Garrison and Ingram LLC', 'Daniels-Butler Inc',
       'Hood, Morales and Hartman Led', 'Davis-Marks Inc',
       'Adams-Clay Group', 'Valenzuela, Armstrong and Carter Ltd',
       'Parker-Jackson PLC', 'Sanders, Kim and Flores LLC',
       'Flowers and Sons Led', 'Smith and Sons Group',
       'Hansen, Sanders and Jimenez LLC', 'Atkins Ltd Ltd',
       'Wilson, Luna and Simmons Group', 'Beck Inc Group',
       'Smith, Smith and Roberts LLC', 'Bridges-Larsen Group',
       'Jones PLC LLC', 'Miller, Zhang and Bauer Ltd',
       'Owens-Franklin and Sons', 'Rubio, Wang and Hudson Inc',
       'Cox-Ewing PLC', 'Patel and Sons Itd', 'Harmon Group Group',
       'Snyder Ltd and Sons', 'Martin PLC and Sons',
       'Clark, Mitchell and Owens LLC', 'Spencer-Davis LLC',
       'Rich, Ramirez and Rivera PLC', 'Ruiz Inc Group',
       'Gray and Sons PLC', 'Carpenter-Lopes and Side',
       'Ramos-Jordan and Sons', 'Swanson PLC PLC',
       'Fletcher and Sons and Sons', 'Kennedy-Werner PLC',
       'Hernandez PLC LLC', 'Alvarez, Milos and Grant PLC',
       'Walker, Hall and Rodriguez Group',
       'Guerrero, Wilson and Brown Inc', 'Fisher-Walker PLC',
       'Stevenson-Foster LLC', 'Herrera PLC PLC',
       'Green, Davis and Mathews and Sons',
       'Kennedy, Thomas and Johnson Ltd', 'Serrano Group and Sons',
       'Diaz-Lambert Ltd', 'Woods-Collier LLC',
       'Mccarthy, Washington and Larson Group', 'Walker-Brown Inc',
       'Powell-Nguyen LLC', 'Warren, Bell and Warren PLC',
       'Rosales Ltd Inc', 'Clark-Werner PLC', 'Sims-Carson Group',
       'strickland-Thomas and Sons', 'Gray-Williams Inc',
       'Hampton, Duncan and Walton Ltd', 'Thomas Group Ltd',
       'Morrison, Ashley and Henderson and Sons', 'Zhang-Hayes Group',
       'Lyons, Gilmore and Maldonado Ltd', 'Kerr, Vance and Clark Ltd',
       'Sandoval, White and Anderson and Sons', 'Dickerson LLC Inc',
       'Carson LLC LLC', 'Anderson LLC and Sons',
       'Diaz, Walsh and Hoover PLC', 'Maldonado, Parker and Mcclure Ltd',
       'Warren, Thompson and Jones Ltd', 'Vega PLC and Sons',
       'Townsend-Werner LLC', 'Dawson, Jarvis and Mckinney LLC',
       'Irwin, Taylor and Perez Ltd',
       'Taylor, Mitchell and Hernandez PLC', 'Huynh-Moody Inc',
       'Hunt, Knox and Morgan Inc', 'Pratt, Hernandez and Anthony Ltd',
       'Clark-Smith Group', 'Carr, Padilla and Johnson Group',
       'French Ltd and Sons', 'Brown-Robinson PLC', 'Nest-Turner PLC',
       'Nood Inc PLC', 'Perry-Galvan Inc', 'Grimes-Smith Group',
       'Hicks-Vargas LLC', 'Nelson Group Inc', 'Rodriguez-Vance Itd',
       'Townsend Group Itd', 'Griffin-Howard Ltd',
       'Lopez, Gross and Dominguez and Sons', 'Fox-Mitchell and Sons',
       'Lane -Williams Inc', 'waters by dress,', 'White -Harris Group',
       'Burnett, Rosales and Wilson PLC', 'Robbins-Cortez and Sons',
       'Jacobson, Hart and Terry Inc', 'Guerra LLC PLC',
       'Hoffman-Gutierrez Lt', 'Hall-Baker and Sons', 'Fields-Davis Inc',
       'Petty, Jones and Wright Group', 'Romero Itd and Sons',
       'DAYOR LLC GROUP', 'Nichols , Mcneil and Tucker Itd',
       'Barrera Itd Itd', 'Jackson and Sons Itd', 'Decker-Smith PLC',
       'Lee-Wright PLC', 'Cook , Vance and Jones PLC', 'Wells Inc Inc',
       'Mendoza-Shaw Inc', 'Ortiz Inc LLC', 'Knight Lewis and Sons',
       'Livingston Inc PLC', 'Arroyo-Cordova Itd', 'Diaz and Sons PLC',
       'Diaz, Howard and Bridges Group', 'West Ltd Inc',
       'Boyd, Robinson and Bridges and Sons', 'Porter Ltd Inc',
       'Rivera, Martinez and Hunter and Sons', 'Parker-Newman and Sons',
       'Phelps Inc PLC', 'Dunn, Roth and Duran Inc',
       'Hubbard, Simpson and Mcbride Group', 'Warner Ltd Group',
       'Hale-Jones and Sons', 'Howard-Adams Ltd', 'Edwards Inc PLC',
       'Barker Group and Sons', 'Hunter-Wilcox and Sons',
       'Tyler, Nelson and Bender Inc', 'Rogers-Anderson Inc',
       'Page-Hunt PLC', 'Wright-Mullins LLC', 'Henson and Sons LLC',
       'Palmer, Wiley and Porter Inc', 'Taylor PLC and Sons',
       'Powell and Sons LLC', 'Davis LLC LLC', 'Khan-Shepherd PLC',
       'Brown-Moore and Sons', 'Hill Group and Sons',
       'Wright, Johnson and Smith Group',
       'Elliott, West and Gilmore Group', 'Benjamin-Turner PLC',
       'Hill, Vaughan and Garcia PLC', 'Vega, Gonzalez and Lee and Sons',
       'Brooks-Rose and Sons', 'Costa PLC Inc', 'Flowers and Sons Ltd',
       'Terrell-Cunningham Ltd', 'Mitchell-Turner PLC', 'Davis Ltd PLC',
       'Rose, Hess and White Inc', 'Farley-Jordan Ltd',
       'Goodman-Holden Inc', 'Short LLC Inc',
       'Hill, Saunders and Sandoval and Sons', 'Jones-Anderson Group',
       'Patterson, Lopez and Perkins Inc', 'Lewis Inc PLC',
       'Williams Inc Group', 'Richard Group Inc', 'Walker-Howard Inc',
       'Morales-Young Group', 'Rodriguez, Mitchell and Rodgers and Son',
       'Mcgrath, Ray and Flynn and Sons'], dtype=object)

In [285]:
extracted_entities_df['employerName'].isnull().sum()

np.int64(40)

In [286]:
extracted_entities_df[extracted_entities_df['employerName'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
35,NaN,164 Turner Burg Suite 514,East Sean,MN,59199-4858,26-8364506,Decker and Sons PLC,348-60-0732,53923. 35,8573 . 3,41870 . 61,3203.1,25122 . 18,1882.77,2019
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
106,NaN,NaN,NaN,NaN,NaN,NaN,Burtia sey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
115,NaN,lis Willey age. 819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
137,NaN,NaN,NaN,NaN,NaN,NaN,Bemater Guttse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
140,NaN,Gnuthe age. 499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
161,NaN,494of wall Toland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
180,NaN,010 anita mall,NaN,NaN,64542-5418,NaN,Brian Coleman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
358,NaN,5054 Andrew Mills Suite 527,Meet Jonathanshire,MY,93265-7717,32-9156434,Whitney Dickson,299-20-2304,112540.72,15122.77,414913.13,8790.85,52921.02,1834.89,2018
396,NaN,$406 Tran Club Quite 832,Feltbrille,V,17912-1873,NaN,DE. Laura,NaN,NaN,NaN,104945.09,14149.03,NaN,(979.39,2018
463,NaN,11510 Patricia Rest,Fieldshaven,AZ,02906-3853,51-9104110,John Kelly,556-01-9925,NaN,NaN,. 49143 87,NaN,NaN,NaN,2018
476,NaN,2676 William Mountain,Danielsfort,MN,31233-5510,25-0180103,Kimberly Villanueva,num-43-4102,41345. 53,10537 .,NaN,NaN,tips. 46 51,. 1483 14,2018
483,NaN,$898 Robles Estates,Test Donna,MS,03853-8053,NaN,Timothy Green,581-54-3835,NaN,NaN,26245Curity,NaN,115716 . 2,NaN,2018
494,NaN,35657 James Courts,West Jasmine,NM,04093-1257,68-7884298,Sara Dean,708-85-6052,62278.33,NaN,NaN,NaN,"tips. 96, 64",- 2832 39,2018
496,NaN,26427 Harper River Suite 482,forth Garystad,OH,93378-3048,75-9757299,Colleen Morales,numbed-3230,64561. 45,10105 . 38,NaN,NaN,6 33292 .,1755 - 58,2018
498,NaN,089 Hunter Ford Suite 170,Townsendtown,NY,29893-4846,84-1097895,Alex Warren,NaN,105770.3,NaN,NaN,NaN,"tips. us , 95",4300.24,2018

In [287]:
# Delete rows where 'employerName' is null but keep those which have an address
extracted_entities_df = extracted_entities_df[~extracted_entities_df['employerName'].isnull() | 
                                              (~extracted_entities_df['employerAddressStreet_name'].isnull() & 
                                               ~extracted_entities_df['employerAddressCity'].isnull() & 
                                               ~extracted_entities_df['employerAddressState'].isnull() & 
                                               ~extracted_entities_df['employerAddressZip'].isnull())]

In [288]:
extracted_entities_df[extracted_entities_df['employerName'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
35,NaN,164 Turner Burg Suite 514,East Sean,MN,59199-4858,26-8364506,Decker and Sons PLC,348-60-0732,53923. 35,8573 . 3,41870 . 61,3203.1,25122 . 18,1882.77,2019
358,NaN,5054 Andrew Mills Suite 527,Meet Jonathanshire,MY,93265-7717,32-9156434,Whitney Dickson,299-20-2304,112540.72,15122.77,414913.13,8790.85,52921.02,1834.89,2018
396,NaN,$406 Tran Club Quite 832,Feltbrille,V,17912-1873,NaN,DE. Laura,NaN,NaN,NaN,104945.09,14149.03,NaN,(979.39,2018
463,NaN,11510 Patricia Rest,Fieldshaven,AZ,02906-3853,51-9104110,John Kelly,556-01-9925,NaN,NaN,. 49143 87,NaN,NaN,NaN,2018
476,NaN,2676 William Mountain,Danielsfort,MN,31233-5510,25-0180103,Kimberly Villanueva,num-43-4102,41345. 53,10537 .,NaN,NaN,tips. 46 51,. 1483 14,2018
483,NaN,$898 Robles Estates,Test Donna,MS,03853-8053,NaN,Timothy Green,581-54-3835,NaN,NaN,26245Curity,NaN,115716 . 2,NaN,2018
494,NaN,35657 James Courts,West Jasmine,NM,04093-1257,68-7884298,Sara Dean,708-85-6052,62278.33,NaN,NaN,NaN,"tips. 96, 64",- 2832 39,2018
496,NaN,26427 Harper River Suite 482,forth Garystad,OH,93378-3048,75-9757299,Colleen Morales,numbed-3230,64561. 45,10105 . 38,NaN,NaN,6 33292 .,1755 - 58,2018
498,NaN,089 Hunter Ford Suite 170,Townsendtown,NY,29893-4846,84-1097895,Alex Warren,NaN,105770.3,NaN,NaN,NaN,"tips. us , 95",4300.24,2018

- Now we will look into the four columns for the address of the Employer(employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip)

In [289]:
extracted_entities_df['employerAddressStreet_name'].value_counts()

employerAddressStreet_name
427 Burton Burgs                  3
28857 Edward Ferry Apt. 226       3
866 Wilson Fall Suite 425         2
2762 Blair Ramp                   2
32444 Delacruz Locks              2
                                 ..
83244 Gary Ways Apt. 177          1
1087 Ashley Flats Apt. 892        1
706 Matthew Greens                1
3339 Emily Trace Suite 390        1
673 Navarro Parkways Suite 318    1
Name: count, Length: 483, dtype: int64

In [290]:
extracted_entities_df['employerAddressStreet_name'].isnull().sum()

np.int64(5)

In [291]:
## rows with employerAdressstreetname null value
extracted_entities_df[extracted_entities_df['employerAddressStreet_name'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
113,Timetay Bryant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
160,Manbey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
169,"salas, Bergera and Levis Group",NaN,Kristinburgh,FL,16432-,NaN,Robin Alexander,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
330,"Carter, Lucero and Davis PLC",NaN,Brownborough,VT,34455-6450,76-0796293,Christopher Love,352-77-4276,69050 . 02,7493 . 91,69773.9,5337.7,33840 . 47,2385 25,2018
361,Jones PLC LLC,NaN,Hortonstad,OK,99476-2797,44-1608409,Shane Burch,278-69-7877,248046. 96,. 36844 57,318641 43 .,24376 . 07,126574. 85,5953 . 42,2018

In [292]:
# Define the employer names to drop
employers_to_drop = ['Timetay Bryant', 'Manbey', 'salas, Bergera and Levis Group']

# Drop the rows where employerName is in the list
extracted_entities_df = extracted_entities_df[~extracted_entities_df['employerName'].isin(employers_to_drop)]

# Display the updated dataframe
extracted_entities_df.head()

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
0,Dodson-Kennedy and Sons,247 Alexander Islands,South Mauriceland,SC,79991-9264,03-2885751,Krista Conner,626-47-9086,149394 . 79,16030. 73,120690 . 01,9232 . 79,70985 . 58,5149 .29,2019
1,George-Horton and Sons,55527 Shannon Corner,Alisonfort,LA,24369-8354,43-1414035,Rodney Perez,475-90-1539,240614 . 35,79673.63,266460.93,20384.26,120854 .26,8990 . 12,2019
2,Baker-Memeil Led,3250 Brown Pines Apt. 530,Jasonfort,NOT,86498-7130,06-7076127,Kayla Simmons,403-55-9637,183106.34,(2037.04,142194.16,10877.85,94960.51,3010.6,2019
3,"Henry, Jones and Quinn LLC",23927 Kevin Lane Suite 067,New Shannonshire,OR,41335-1879,53-3435873,Juan Mcguire,240-51-9894,101359 . 41,34772. 33,107449 . 4,8219. 88,55120 .4,4003 66,2019
4,Miller PLC Group,174 Briggs Village,West Johnmouth,NJ,95552-9854,77-6878997,Amanda Hoffman,317-37-6322,107565. 11,36048.57,78648.9,6016 64,56829. 43,3360.53,2019

In [293]:
## rows with employerAdressstreetname null value
extracted_entities_df[extracted_entities_df['employerAddressStreet_name'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
330,"Carter, Lucero and Davis PLC",NaN,Brownborough,VT,34455-6450,76-0796293,Christopher Love,352-77-4276,69050 . 02,7493 . 91,69773.9,5337.7,33840 . 47,2385 25,2018
361,Jones PLC LLC,NaN,Hortonstad,OK,99476-2797,44-1608409,Shane Burch,278-69-7877,248046. 96,. 36844 57,318641 43 .,24376 . 07,126574. 85,5953 . 42,2018

In [294]:
extracted_entities_df.isnull().sum()

employerName                            9
employerAddressStreet_name              2
employerAddressCity                     5
employerAddressState                   15
employerAddressZip                      8
einEmployerIdentificationNumber        25
employeeName                            5
ssnOfEmployee                         100
box1WagesTipsAndOtherCompensations     47
box2FederalIncomeTaxWithheld           47
box3SocialSecurityWages                55
box4SocialSecurityTaxWithheld          62
box16StateWagesTips                    57
box17StateIncomeTax                    47
taxYear                                55
dtype: int64

In [295]:
extracted_entities_df['employerAddressCity'].value_counts()

employerAddressCity
Lake Joshua        3
Johnberg           3
Lake Cynthia       3
Hortonstad         2
East Michael       2
                  ..
South Allenside    1
Lake Anthear       1
Tonyaberg          1
Angelaton          1
West Tonyashire    1
Name: count, Length: 469, dtype: int64

In [296]:
extracted_entities_df['employerAddressState'].value_counts()

employerAddressState
CA    18
WY    18
VA    17
NV    16
IL    16
      ..
:      1
10     1
RE     1
MY     1
wy     1
Name: count, Length: 67, dtype: int64

In [297]:

extracted_entities_df['employerAddressZip'].value_counts()

employerAddressZip
84969-1857    3
77170-2706    2
56526-3457    2
05110-3687    2
65429-3555    2
             ..
06179-5945    1
42158-3720    1
27738-3051    1
90311-4687    1
07679-0916    1
Name: count, Length: 465, dtype: int64

In [298]:
## again checking for null values
extracted_entities_df.isnull().sum()

employerName                            9
employerAddressStreet_name              2
employerAddressCity                     5
employerAddressState                   15
employerAddressZip                      8
einEmployerIdentificationNumber        25
employeeName                            5
ssnOfEmployee                         100
box1WagesTipsAndOtherCompensations     47
box2FederalIncomeTaxWithheld           47
box3SocialSecurityWages                55
box4SocialSecurityTaxWithheld          62
box16StateWagesTips                    57
box17StateIncomeTax                    47
taxYear                                55
dtype: int64

In [299]:
# Fill missing values in the specified columns with 'Unknown'
columns_to_fill = ['employerAddressStreet_name', 'employerAddressCity', 'employerAddressState', 'employerAddressZip']
extracted_entities_df[columns_to_fill] = extracted_entities_df[columns_to_fill].fillna('Unknown')

# Verify the changes
extracted_entities_df[columns_to_fill].isnull().sum()

employerAddressStreet_name    0
employerAddressCity           0
employerAddressState          0
employerAddressZip            0
dtype: int64

In [300]:
## also make the employerName unknown where null
extracted_entities_df['employerName'] = extracted_entities_df['employerName'].fillna('Unknown')

In [301]:
extracted_entities_df.isnull().sum()

employerName                            0
employerAddressStreet_name              0
employerAddressCity                     0
employerAddressState                    0
employerAddressZip                      0
einEmployerIdentificationNumber        25
employeeName                            5
ssnOfEmployee                         100
box1WagesTipsAndOtherCompensations     47
box2FederalIncomeTaxWithheld           47
box3SocialSecurityWages                55
box4SocialSecurityTaxWithheld          62
box16StateWagesTips                    57
box17StateIncomeTax                    47
taxYear                                55
dtype: int64

- Now we have cleaned the data for our NER model for the columns employeeName,employerAddressStreet_name,employerAddressCity,employerAddressState ,employerAddressZip

- Now we will move to our new column 'einEmployerIdentificationNumber'

In [302]:
## seeing the unique values of einEmployerIdentificationNumber
extracted_entities_df['einEmployerIdentificationNumber'].unique()

array(['03-2885751', '43-1414035', '06-7076127', '53-3435873',
       '77-6878997', '54-8640873', '34-5282093', '72-7975122',
       '27-4314855', nan, '27-6591270', '34-2378159', '05-3897143',
       '99-2710525', '50-0626121', '27-0420737', '41-7771215',
       '184-33-868', '73-0620933', '45-4647132', '36-4807362',
       '16-8543273', '16-5367778', '45-1687371', '01-1527003',
       '66-7506198', '26-7423123', '44-6375438', 'Flores-Robinson',
       '23-7862151', '74-1339134', '84-0030604', '25-4987079',
       '10-8875958', '47-9456324', '26-8364506', '83-4827756',
       '80-1359580', '94-4130330', '98-0715720', '04-4091485',
       '34-0417697', '10-4796415', '87-4907955', '23-2105958',
       '76-4920923', '63-7847782', '45-4918349', '37-8013701',
       '71-4914665', '88-9566199', '75-6263820', '43-4391249',
       '58-2554877', '30-5758869', '25-4917998', '52-2836465',
       '45-8902038', '21-7745308', '26-9819949', '95-7356736',
       '92-8446496', '31-8637274', '20-5765046', '93-0374958',
       '16-3723191', '33-2156676', '24-6988796', '60-4330956',
       '38-2743335', '68-3376487', '64-0231031', '90-9375060',
       '80-7005454', '12-2585373', '23-4242003', '01-9775171',
       '85-6607113', '85-2692425', '62-8360028', '37-3493491',
       '36-6521506', '10-6184066', '73-1929189', '26-3716151',
       '52-8087700', '37-1722295', '12-0493907', '42-2215286',
       '43-7530030', '93-8085571', '60-1214042', '21-0600826',
       '71-8393024', '92-8299145', '76-2402746', '11-7308678',
       '40-5955563', '92-8459614', '30-7488907', '93-8027739',
       '60-5598124', '53-9494262', '68-78 84298', '30-0915668',
       '81-1598279', '95-0812195', '87-0100147', '93-9684825',
       '35-3517049', '13-2131329', '57-4496004', '32-0404777',
       '65-7930490', '15-0580989', '26-0180103', '34-9125256',
       '76-1132926', '57-7864420', '83-7061575', '83-8423636',
       '75-5648282', '84-3289694', '66-1920593', '66-5950759',
       '25-9239875', '22-1094092', '37-9520497', '47-3994792',
       '67-9975862', '93-7573510', '63-7216642', '32-1745124',
       '57-6393179', '40-8165150', '23-3804616', '55-7682319',
       '50-4959379', '22-2210445', '55-4570839', '10-5048072',
       '36-2690635', '54-4891082', '03-7742861', '59-5629589',
       '33-3344253', '58-7007829', '51-9104110', '52-6484468',
       '75-5356392', '98-1743706', '44-1028453', '46-8285369',
       '20-9619600', '81-4598559', '04-2996811', '41-6457623',
       '72-0239768', '72-9911022', '59-5500683', '44-7924459',
       '40-0340211', '50-8500107', '26-9963170', '22-0503147',
       '34-3640687', '16-9242735', '27-7226250', '38-9684643',
       '72-2371062', '25-3349410', '74-3529838', '62-2164100',
       '94-3980999', '52-9690896', '20-4868320', '90-3209845',
       '85-6781669', '64-0920164', '31-3324143', '90-0856165',
       '42-9933985', '04-1007725', '81-4587812', '58-6019724',
       '04-3690028', '62-9391778', '04-8918704', '71-4697892',
       '86-5611901', '05-3484839', '13-7957726', '50-4141334',
       '34-1278184', '13-2456974', '56-7916787', '31-5341496',
       '52-6317444', '36-6965882', '73-0232661', '66-0288314',
       '38-2151002', '66-6917490', '71-5875451', '64-7554162',
       '04-4602698', '80-2515542', '85-1389854', '74-3629388',
       '11-6833649', '80-9054136', '86-3853566', '41-9862091',
       '34-7235543', '80-1065756', '15-9413202', '91-0762016',
       '42-1551597', '39-3160482', '27-0916551', '74-8667153',
       '32-8922015', '66-2312959', '98-9821712', '20-5656002',
       '84-2011890', '34-6859675', '48-9239329', '21-1016982',
       '27-1943400', '64-7211061', '12-2350152', '10-3823699',
       '03-0129485', '35-3959351', '66-1216131', '20-0178502',
       '03-3954378', '99-9100245', '26-1919026', '34-2914710',
       '16-7296926', '48-3729849', '76-1126613', '01-9893232',
       '10-2898529', '63-5533013', '73-7897333', '30-3186696',
       '30-1943467', '88-1679621', '24-8916953', '35-3094953',
       '45-6520533', '71-6295447', '47-0722436', '24-3435068',
       '55-1514528', '06-1121055', '991-35-322', '52-2477514',
       '95-2659063', '84-8708100', '11-9245123', '41-1303756',
       '98-8222854', '71-4911193', '77-8231038', '73-2184591',
       '86-3555396', '83-9993923', '52-4199713', '60-8334905',
       '41-8236050', '76-0796293', '52-4622242', '67-8367398',
       '66-1518074', '47-7546204', '50-6983989', '32-4982442',
       '43-6315844', '77-9819318', '32-6509415', '36-5639269',
       '02-9563166', '11-3980129', '45-4819407', '84-0929946',
       '77-4968935', '02-1059149', '91-5727355', '55-7630433',
       '68-7282777', '22-5791245', '47-6910970', '62-9385789',
       '50-5192603', '44-2621256', '35-8392508', '03-3401120',
       '32-9156434', '24-1703992', '53-0741018', '44-1608409',
       '14-2133094', '58-0314025', '74-3141818', '02-6719242',
       '39-5015863', '56-0737019', '06-3325992', '73-5256549',
       '93-2223268', '93-9578737', '22-3269359', '71-7778693',
       '56-6797845', '72-2173475', '12-8804549', '42-8411647',
       '01-9257529', '98-5183738', '$9-0141149', '11-4484869',
       '99-3131626', '34-8483770', '54-3245497', '06-4156216',
       '20-6275123', '82-8931302', '43-6832227', '44-2729005',
       '22-1434252', '48-1135308', '58-3835382', '60-8367324',
       '36-7753760', '23-6711751', '94-8902608', '90-9856804',
       '13-4196315', '16-0473480', '73-8527658', '23-8630038',
       '55-0290079', '36-5729511', '88-7582496', '74-2993178',
       '30-7003064', '03-3595235', '15-4530578', '91-6060021',
       '39-1117251', '94-3031191', '81-0351080', '59-8642060',
       '23-9365213', '86-4819516', '58-0626121', '91-4559008',
       '33-6879304', '38-3995762', '63-3480270', '75-2833286',
       '01-2720604', '04-0780021', '25-9603462', '68-5252268',
       '20-5039449', '25-8614153', '32-0889196', '81-9019677',
       '92-4122293', '52-8013713', '42-0706879', '93-9684820',
       '33-4675845', '15-9365410', '57-6393177', '93-6441213',
       '38-1745124', '40-0499557', '38-1014654', '60-0909394',
       '12-0098450', '55-7913926', '33-7544322', '25-0180103',
       '39-9236408', '30-5841370', '92-6254111', '04-9363655',
       '30-9755097', '01-0464391', '56-1920993', '71-2321301',
       '48-1656583', '71-7703278', '72-4516908', '50-4329817',
       '68-7884298', '75-9757299', '64-3586889', '84-1097895',
       '30-5492273', '54-8166379', '61-9854442', '48-8496621',
       '26-1131295', '41-8067463', '20-2352784', '03-9669778',
       '88-5432651', '44-4804680', '91-8133210', '27-1943480',
       '59-6062727', '91-3675989', '47-9705455', '33-7314295',
       '58-8124259', '35-8825702', '98-3866411', '41-3273885',
       '38-5155936', '57-1254541', '63-0100580', '14-0201070',
       '33-6539601', '22-579124!', '34-3711208', '51-7915439',
       '24-343506', '76-5514856', '99-2878933', '56-145355:',
       '01-2612249', '61-8999124', '86-323988', '21-4888866',
       '62-894266:', '95-265906.', '41-5985414', '24-9041945',
       '21-866859', '35-3817190', '01-7065617', '68-2409176',
       '58-5192683', '86-3932650', '37-8348178', '50-761060:',
       '74-2147351', '82-0613719', '39-4233862', '59-7836148',
       '82-893130', '13-2722851', '02-096016', '06-9041745'], dtype=object)

In [303]:
## null values of einEmployerIdentificationNumber
extracted_entities_df['einEmployerIdentificationNumber'].isnull().sum()

np.int64(25)

In [304]:
## the rows with null values of einEmployerIdentificationNumber
extracted_entities_df[extracted_entities_df['einEmployerIdentificationNumber'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
9,Steven Thompson,3176 Jonathan Oval,West Jeffreyberg,MN,15743-9552,NaN,80-1366099,595-45-6525,201325. 11,. 21647 49,NaN,17671 57,104055 99,9745 69,2019
46,French 104 and See,22463 moreno Stream,Victoriabury,FA,90146-9103,NaN,Katie Hensley,$35-36-3912,49239.09,10471-76,NaN,1012.09,39034.35,2306.07,2019
86,62-7492385,2762 Blair Ramp,Mathewsville,MT,73701-7055,NaN,Miller James,813-07-9495,150047 . 64,29336.88,144555 . 81,11058 .52,74994 . 88,1959 . 47,2019
114,Richardson LLC Inc,951 Jonathon Underpass,West Davidfort,IN,14837-2735,NaN,Matthew Manning,242-39-6533,139507.77,24453-32,149344.52,13424.86,NaN,4630.34,2018
116,"Dudley, Elliott and Miranda and Sons",114 Allison Pike Apt. 591,New Mistyburgh,VA,41995-9955,NaN,James Cooper,298-44-6815,82441 .12,NaN,101276.39,7747 .64,45122 15,. 2284 63,2018
142,"Terry, Brown and Clark Led",7463 Brent Green,Carterport,MA,25746-0106,NaN,stacie Bruce,NaN,236316.14,96159.02,196389.15,NaN,4 tiphilly,3134.07,2018
157,Reed Group Group,por Jones Fall,Brad,MA,49272 -0415,NaN,Michelle Cannon,307-70-421,41686.29,NaN,NaN,NaN,22398 .54,NaN,2018
162,Campbell Inc LLC,8854 Tanya Ways,Heatherside,MT,90791-7419,NaN,william Frye,515-94-500,77120.93,22335 . 46,97931 37,7491.75,tips. 89 7,3718 .39,2018
164,Ortega-Hayden and,$540 Beat Spring Apt. 471,Laurafurt,IN,40913-5681,NaN,Candice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
166,Garcia and Sons Grow,929 Chapman Talands,Unknown,Unknown,Unknown,NaN,Faaneta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
173,Clayton and Ramirez Led,7553 Bates Rest Suite 521,West Trevormouth,MV,12524-2457,NaN,Jennifer Carter,NaN,NaN,NaN,NaN,NaN,NaN,9433.4,2018
188,Group Lee-williams,83244 Gary Ways Apt. 177,Tonyaberg,CA,42158-3720,NaN,David Paul,671-21-9179,NaN,. 37298 89,88 Cha8 55,NaN,NaN,4530 .22,2018
189,lester and does Ta,987 Townsend Spray,Lake Anthear,Unknown,06179-5945,NaN,michael Andrade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
301,Walsh Inc LLC,28563 Zachary Way Suite 292,Jonesshire,NC,21721-3431,NaN,Catherine Meyer,337-36-0115,68715 . 96,11800 . 02,62447 . 59,4777 . 24,34518 . 15,3979.87,2018
303,Jackson and Sons Group,324 Amber Rue Suite 121,Birdchester,SC,81962-8266,NaN,Hill Tanya,827-30-5864,179343. 13,47320 . 49,167262 . 18,12795 . 56,98396. 52,7901 . 88,2018
307,Elliott-Ramsey Group,06425 Johnson Springs,North Debbie,IL,29524-7236,NaN,Valerie Brown,449-71-8470,12 221701 .,47202 . 05,186031 . 14,14231 . 38,105024.5,7252. 29,2018
325,Gilbert The 104,75745 Jessica Mission Suite 832,Bryanmouth,Unknown,Unknown,NaN,Janice Wright,451-10-1014,NaN,69050.09,137045.22,NaN,NaN,NaN,2018
337,"Brown, Kelley and Baker LAd",240 Gill Locks,Unknown,Unknown,06742-6063,NaN,fairy Salinas,NaN,NaN,NaN,271548.23,NaN,NaN,NaN,2018
375,Carpenter-Lopes and Side,170 Smith Dale Apt. 422,Unknown,Unknown,Unknown,NaN,Scott Martin,415-10-1039,147042.26,NaN,NaN,$716.46,NaN,NaN,2018
396,Unknown,$406 Tran Club Quite 832,Feltbrille,V,17912-1873,NaN,DE. Laura,NaN,NaN,NaN,104945.09,14149.03,NaN,(979.39,2018
433,"Taylor, Mitchell and Hernandez PLC",2762 Blair Ramp,Mathewsville,MT,73701-7055,NaN,James Miller,62-7492385,150047 . 64,29336 . 88,144555 . 81,11058 .52,74994 . 88,4959 . 47,2019
483,Unknown,$898 Robles Estates,Test Donna,MS,03853-8053,NaN,Timothy Green,581-54-3835,NaN,NaN,26245Curity,NaN,115716 . 2,NaN,2018
489,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,228500 74,NaN,97392 . 27,NaN,NaN
574,Flowers and Sons Ltd,327 Miranda Shoals,Lake Kayla,MD,75749-9541,NaN,Mason Edwards,295-28-2777,170481 . 23,23526.27,137908.53,10550 0,83795 . 31,5470 . 95,2018
596,Morales-Young Group,063 Jones Dam Suite 031,Coxport,VA,92083-9497,NaN,Michael Gonzalez,429-46-5266,193143 .8,49242 . 6,235289.85,17999 . 67,92498 . 81,3130 . 16,2018

In [305]:
# Impute missing einEmployerIdentificationNumber with a placeholder
extracted_entities_df['einEmployerIdentificationNumber'].fillna('UNKNOWN_EIN', inplace=True)

/tmp/ipykernel_17980/318607838.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  extracted_entities_df['einEmployerIdentificationNumber'].fillna('UNKNOWN_EIN', inplace=True)

In [306]:
extracted_entities_df

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
0,Dodson-Kennedy and Sons,247 Alexander Islands,South Mauriceland,SC,79991-9264,03-2885751,Krista Conner,626-47-9086,149394 . 79,16030. 73,120690 . 01,9232 . 79,70985 . 58,5149 .29,2019
1,George-Horton and Sons,55527 Shannon Corner,Alisonfort,LA,24369-8354,43-1414035,Rodney Perez,475-90-1539,240614 . 35,79673.63,266460.93,20384.26,120854 .26,8990 . 12,2019
2,Baker-Memeil Led,3250 Brown Pines Apt. 530,Jasonfort,NOT,86498-7130,06-7076127,Kayla Simmons,403-55-9637,183106.34,(2037.04,142194.16,10877.85,94960.51,3010.6,2019
3,"Henry, Jones and Quinn LLC",23927 Kevin Lane Suite 067,New Shannonshire,OR,41335-1879,53-3435873,Juan Mcguire,240-51-9894,101359 . 41,34772. 33,107449 . 4,8219. 88,55120 .4,4003 66,2019
4,Miller PLC Group,174 Briggs Village,West Johnmouth,NJ,95552-9854,77-6878997,Amanda Hoffman,317-37-6322,107565. 11,36048.57,78648.9,6016 64,56829. 43,3360.53,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Walker-Howard Inc,5530 Cohen Lodge,Davisview,CA,82937-5566,13-2722851,Jacob Skinner,112-74-4692,48791 . 84,16579 .87,17063 . 08,3600 . 33,26168. 1,2616.16,2018
596,Morales-Young Group,063 Jones Dam Suite 031,Coxport,VA,92083-9497,UNKNOWN_EIN,Michael Gonzalez,429-46-5266,193143 .8,49242 . 6,235289.85,17999 . 67,92498 . 81,3130 . 16,2018
597,"Rodriguez, Mitchell and Rodgers and Son",24284 Zachary Brook Suite 023,Brendaville,OR,12462-8099,02-096016,Briana Montgomery,131-44-3499,102053 . 8,12066.96,91557 . 44,7004 . 14,49100 . 25,3242 . 14,2018
598,Hawkins Inc Ltd,00193 Aimee Garden,Griffinbury,CA,00534-4134,58-3835382,April Brown,335-36-7976,198607 38,24593 . 28,147079.3,11251 57,96875 . 19,4096.83,2018
599,"Mcgrath, Ray and Flynn and Sons",767 Leonard Ports,North Maryside,ID,24011-4654,06-9041745,Jeffery Vargas,166-17-3465,124006.4,12347 . 78,120178 .51,9193 . 66,63496 . 09,5549 . 62,2018

In [307]:
## the rows with null values of einEmployerIdentificationNumber
extracted_entities_df.isnull().sum()

employerName                            0
employerAddressStreet_name              0
employerAddressCity                     0
employerAddressState                    0
employerAddressZip                      0
einEmployerIdentificationNumber         0
employeeName                            5
ssnOfEmployee                         100
box1WagesTipsAndOtherCompensations     47
box2FederalIncomeTaxWithheld           47
box3SocialSecurityWages                55
box4SocialSecurityTaxWithheld          62
box16StateWagesTips                    57
box17StateIncomeTax                    47
taxYear                                55
dtype: int64

In [308]:
## doing same we will set unknow to employeeName which are null
extracted_entities_df['employeeName'] = extracted_entities_df['employeeName'].fillna('Unknown')

In [309]:
extracted_entities_df.isnull().sum()

employerName                            0
employerAddressStreet_name              0
employerAddressCity                     0
employerAddressState                    0
employerAddressZip                      0
einEmployerIdentificationNumber         0
employeeName                            0
ssnOfEmployee                         100
box1WagesTipsAndOtherCompensations     47
box2FederalIncomeTaxWithheld           47
box3SocialSecurityWages                55
box4SocialSecurityTaxWithheld          62
box16StateWagesTips                    57
box17StateIncomeTax                    47
taxYear                                55
dtype: int64

- Now We will do the column 'ssnOfEmployee'

In [310]:
## checking for ssnOfEmployee
extracted_entities_df['ssnOfEmployee'].unique()

array(['626-47-9086', '475-90-1539', '403-55-9637', '240-51-9894',
       '317-37-6322', '227-22-3523', '469-79-2403', '117-65-3078',
       '155-62-1637', '595-45-6525', '276-57-6944', '197-71-1499',
       '616-42-0119', '051-70-0598', '846-62-1414', '331-13-8982',
       '050-77-5869', '331-23-0733', '755-95-3280', '806-48-9778',
       '207-09-8027', '178-86-9660', '753-52-7353', '008-33-5675',
       '143-32-6653', '870-96-4337', '463-41-8439', '079-98-8087',
       '380-62-5767', '767-92-4559', '030-71-4252', '633-66-8979',
       '850-30-3411', '325-64-9593', '140-57-9055', '348-60-0732',
       '105-78-0260', '560-52-7390', '(07-42-9804', '045-87-7812',
       '311-89-7688', '059-53-8595', '252-57-6299', '467-23-4754',
       '210-97-3143', '019-62-3340', '$35-36-3912', '751-60-9547',
       '725-96-4934', '741-51-3041', '840-98-5933', '437-56-6585',
       '426-54-3183', '809-21-4576', '269-49-2779', '550-60-6655',
       '659-29-4275', '497-78-5154', '370-06-1290', '875-36-4609',
       '537-16-0400', '380-25-7673', '401-35-4717', '748-16-1689',
       '167-23-8381', '710-09-6630', '372-90-4537', '081-27-9674',
       '800-50-0733', '274-05-6682', '274-17-2150', '532-46-5259',
       '556-94-5171', '475-13-3309', '561-41-2712', '522-55-5977',
       '515-83-7808', '713-20-5302', '391-85-4508', '629-50-9203',
       '580-94-9430', '720-74-9502', '298-58-3762', '377-38-8854',
       '388-91-5728', '613-01-7429', '813-07-9495', '402-22-3590',
       '577-09-1344', '183-58-4573', '200-56-4100', '875-34-1319',
       '495-41-8499', '190-72-9169', '249-60-9185', '638-62-9924',
       '651-35-7892', '843-96-1492', '128-77-5884', '420-08-9639',
       '664-08-7686', '413-59-4505', '233-88-5197', '234-25-5539',
       '612-24-8196', '708-85-6052', '758-31-8946', '802-40-5682',
       '725-28-8485', '242-39-6533', '298-44-6815', '207-66-8919',
       '#30-09-9642', '15-97-9048', '444-72-5153', '458-59-1504',
       '339-21-8499', '453-01-2098', '- 800 - 04 7226', '654-43-4102',
       '100-02-7219', '138-08-0355', '398-80-5506', '802-99-4257',
       '123-25-9294', '025- 42 -1606', '300-49-562', '183-90-9286', nan,
       '245-57-7420', '125-35-059', '811-27-0825', '272-18-1078',
       '469-16-1389', '441-19-5767', '765-95-9193', '316-49-5793',
       '307-70-421', '035-51-2594', '515-94-500', '347-72-7630',
       '722-96-7683', '374-87-7160', '487-42-2012', '419-93-4513',
       '178-21-6267', '842-39-2152', '404-40-6072', '364-77-1221',
       '278-03-4504', '671-21-9179', '473-54-7207', '455-11-6220',
       '556-01-992', '664 -02-8630', '698-35-0143', '560-44-5950',
       '29-20-2098', '129-35-6394', '32-27-161', '0', '04-35-801',
       '592-84-1506', '337-36-0115', '482-93-5189', '827-30-5864',
       '066-13-5202', '591-25-7170', '693-62-1393', '449-71-8470',
       '549-21-1230', '650-86-5783', '591-73-9041', '617-45-4904',
       '143-24-8099', '772-87-4174', '071-51-2027', '224-11-9026',
       '010-28-9679', '149-93-4511', '496-69-7194', '822-93-0777',
       '496-29-3911', '449-96-5985', '297-01-8002', '793-75-8410',
       '451-10-1014', '133-91-4942', '257-02-8934', '574-54-1310',
       '307-18-7968', '352-77-4276', '029-18-8536', '017-06-4779',
       '100-43-1278', '498-64-1325', '641-02-1377', '653-70-6743',
       '427-33-4506', '746-03-7042', '024-25-1828', '651-04-4746',
       '491-42-0688', '445-61-3300', '871-24-7039', '066-39-2289',
       '038-14-7215', '365-69-7885', '697-88-6696', '639-32-9265',
       '404-78-0491', '898-20-3623', '295-20-2777', '481-60-4241',
       '206-89-2179', '312-77-6073', '520-30-2243', '784-01-5990',
       '299-20-2304', '712-23-7304', '069-72-9627', '278-69-7877',
       '412-52-5042', '072-90-9805', '605-94-9102', '117-22-2124',
       '844-77-7874', '381-37-6717', '780-77-0225', '181-52-3270',
       '257-17-1943', '486-39-2454', '284-29-8034', '163-72-7039',
       '664-40-5512', '415-10-1039', '471-84-4028', '811-96-6625',
       '494-35-4815', '836-45-7280', '433-21-4661', '246-91-2924',
       '185-14-9204', '517-43-3149', '007-80-4407', '208-01-9056',
       '072-86-5348', '451-42-4051', '777-19-6923', '016-74-4489',
       '364-48-7013', '702-68-1004', '074-66-5545', '335-36-7976',
       '579-24-1268', '580-89-3073', '267-12-3513', '310-75-6792',
       '386-77-0048', '198-89-0541', '876-05-7073', '281-81-6482',
       '766-63-6654', '801-45-0440', '163-11-1013', '714-27-1345',
       '204-43-4552', '382-60-1185', '232-92-0962', '591-29-4776',
       '670-11-2087', '218-87-9793', '436-02-0832', '529-50-9203',
       '035-49-2984', '473-57-9699', '168-57-9855', '463-71-9369',
       '62-7492385', '467-08-8770', '761-46-2325', '035-36-3992',
       '183-72-0537', '674-06-5373', '764-12-1171', '083-28-8507',
       '697-85-3013', '125-35-0590', 'numb54-4104', '600-26-5491',
       '795-07-5278', 'numbag-8485', '097-08-6995', 'numb53-0073',
       '212-81-6129', '556-01-9925', '035-51-2588', '777-15-1653',
       'number_3090', 'number_57', '$52-21-1054', 'numbig-2500',
       'number_77', '122-96-7683', 'num-43-4102', '564-02-8530',
       '851-81-1236', 'numb40-8657', '025 - 42- 1505', 'number_$70',
       '581-54-3835', 'numDog-2077', 'number_19', '335-88-9022',
       '183-90-9886', '463-35-7797', '005-21-0888', '280-10-5382',
       'numba3-1679', 'numbed-3230', '555-40-9458', 'number_4561',
       '194-35-4815', '112-52-5042', '398-20-3623', '105-50-1951',
       '399-91-3759', '198-72-7914', '066-30-9199', '301-51-4482',
       '079-65-9252', '228-35-1007', '598-42-0464', '786-90-3921',
       '10-82-3196', '295-28-2777', '112-70-6903', '518-96-1028',
       '580-68-9211', '455-64-3675', '290-12-4455', '847-97-4679',
       '19-65-7862', '747-06-3527', '516-78-3994', '595-16-7997',
       '$28-01-0124', '751-75-2442', '374-47-6692', '196-69-7194',
       '133-21-4661', '112-74-4692', '429-46-5266', '131-44-3499',
       '166-17-3465'], dtype=object)

In [311]:
extracted_entities_df['ssnOfEmployee'].value_counts()

ssnOfEmployee
0                  73
751-60-9547         2
725-96-4934         2
426-54-3183         2
497-78-5154         2
                   ..
654-43-4102         1
- 800 - 04 7226     1
453-01-2098         1
339-21-8499         1
300-49-562          1
Name: count, Length: 354, dtype: int64

- There are some pattern mismatch in social security number of the employee. we will be using regex for that to filter that and in place of placeholder we will be having none

- The regex pattern r`\b\d{3}-\d{2}-\d{4}\b` matches SSNs in the XXX-XX-XXXX format.
The \b word boundary ensures that the pattern matches whole SSNs and not parts of other strings.

In [312]:
import re 

# Define a function to clean and standardize SSNs
def clean_ssn(ssn):
    # Ensure the input is a string
    if not isinstance(ssn, str):
        return '000-00-0000'
    
    # Define regex pattern for valid SSN
    ssn_pattern = re.compile(r'\b\d{3}-\d{2}-\d{4}\b')
    
    # Search for SSN pattern in the text
    match = ssn_pattern.search(ssn)
    
    if match:
        return match.group(0)
    else:
        # Handle invalid SSNs (e.g., return a placeholder)
        return '000-00-0000'

In [313]:
extracted_entities_df['ssnOfEmployee'] = extracted_entities_df['ssnOfEmployee'].apply(clean_ssn)

In [314]:
## cheking null values again
extracted_entities_df.isnull().sum()

employerName                           0
employerAddressStreet_name             0
employerAddressCity                    0
employerAddressState                   0
employerAddressZip                     0
einEmployerIdentificationNumber        0
employeeName                           0
ssnOfEmployee                          0
box1WagesTipsAndOtherCompensations    47
box2FederalIncomeTaxWithheld          47
box3SocialSecurityWages               55
box4SocialSecurityTaxWithheld         62
box16StateWagesTips                   57
box17StateIncomeTax                   47
taxYear                               55
dtype: int64

- Our Next column is box1WagesTipsAndOtherCompensations

In [315]:
## null values of box1WagesTipsAndOtherCompensations
extracted_entities_df['box1WagesTipsAndOtherCompensations'].isnull().sum()

np.int64(47)

In [316]:
## rows with null values of box1WagesTipsAndOtherCompensations
extracted_entities_df[extracted_entities_df['box1WagesTipsAndOtherCompensations'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
100,"Gray, Hernandez and Bradshaw and Sons",021 Clayton Springs Suite 653,Ryanmouth,Unknown,54833-9807,92-8459614,Kurt Krueger,664-08-7686,NaN,. 53 13295,106398 .05,8139 .45,47120 .79,6063 .72,2018
103,Lee-Phillips and Sons,3086 Jennifer Lakes Apt. 032,Silvaport,MD,21737-9247,93-8027739,Carlos Miller,233-88-5197,NaN,12202 99,47455.25,3630.33,. $4907,. 3391 74,2018
104,Lewis-Bell Group,13203 Robert Pines,East Williamhaven,WV,15930-8821,60-5598124,Lisa Wells,234-25-5539,NaN,NaN,193137 .53,14775.02,71082 . 42,. 7345 02,2018
105,"Smith, Rose and French Itd",0377 David Shoal,North Anthonychester,NH,96961-6876,53-9494262,Justin Gonzalez,612-24-8196,NaN,9981 38,41698 .6,3189.94,26838 .4,2527 .01,2018
110,"Weaver , Reyes and Barnett LLC",05125 Snow Isle,South Deborahfurt,NH,28864-6919,30-0915668,Michael Brown,758-31-8946,NaN,10371 . 99,50639.22,3873.9,23916.83,1801 .2,2018
112,Castillo-Schroeder PLC,151 Thomas Ville Apt. 019,West Isaiahmouth,Mo,40729-7558,95-0812195,Erica Lee,725-28-8485,NaN,NaN,41868.71,3202 .96,25909.23,845.36,2018
118,Johnson Inc Group,90404 Anita Club Suite 751,Guerreroville,PA,14463-7391,93-9684825,aron Kennedy,000-00-0000,NaN,12233.56,NaN,7689. 93,49309.57,3808.35-,2018
120,"Mcdaniel, Wood",88524 Sandra Ferry,Aprilhaven,VT,61714-2674,13-2131329,Thomas Robinson,444-72-5153,NaN,NaN,25931-57,NaN,citing,4132.54,2018
121,Terry Group Inc,207 Lisa Underpass Suite 644,Port Kendra,CO,64443-3719,57-4496004,Kimberly Meyer,458-59-1504,NaN,NaN,NaN,NaN,36972.4,2925.99,2018
124,"Bradshaw, Richards and Dalton PLC",584 Jones Throughway,East Shelbyfort,VT,75319-9486,65-7930490,Eric Hernandez,453-01-2098,NaN,36106.47,NaN,10563.28,. 59328 91,5932 .34,2018
125,Martinez-Luna PLC,16845 Matthew Tunnel Apt. 779,South Christine,ND,83703-3820,15-0580989,April Maldonado,000-00-0000,NaN,. 20678 11,. 88381 67,6761.2,NaN,NaN,2018
128,"Perez, Taylor and Ramirez Ltd",2316 Price Squares Suite 053,Lake James,NV,78054-9921,34-9125256,Christopher Carr,100-02-7219,NaN,NaN,134133 .34,10261 .2,63837 89,4137 57,2018
130,Pratt PLC Group,9783 Garcia Meadow,Greenmouth,AL,01436-7916,76-1132926,Ricky Adams,138-08-0355,NaN,6700.29,. 56 32185,2462.23,. 20520 65,2095.2,2018
135,Group Palmer-Keith,74120 Martinez Shores,Amandaborough,ID,82371-6317,83-8423636,Elizabeth Phillips,123-25-9294,NaN,138 89 . 11,88282 .45,6753. 61,37532 83,2775 .2,2018
138,"Shelton, Castillo and Beard Group",39497 Jacob Fork,North Matthew,ND,21793-7969,84-3289694,Alexis,000-00-0000,NaN,NaN,276923.83,21189.26,123932.43,5714. 97,2018
144,Rogers LLC PLC,024 Young unions,Port Donald,SC,99938-3971,25-9239875,Rachel Oconnell,000-00-0000,NaN,13170.2,135459.3,10362. 64,62174.02,4481. 22,2018
156,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,West Ryanberg,NH,34884-4550,32-1745124,Jerry Orr,316-49-5793,NaN,NaN,228500.77,17480 . 31,97892 . 27,5023.97,2018
164,Ortega-Hayden and,$540 Beat Spring Apt. 471,Laurafurt,IN,40913-5681,UNKNOWN_EIN,Candice,000-00-0000,NaN,NaN,NaN,NaN,NaN,NaN,2018
166,Garcia and Sons Grow,929 Chapman Talands,Unknown,Unknown,Unknown,UNKNOWN_EIN,Faaneta,000-00-0000,NaN,NaN,NaN,NaN,NaN,NaN,2018
173,Clayton and Ramirez Led,7553 Bates Rest Suite 521,West Trevormouth,MV,12524-2457,UNKNOWN_EIN,Jennifer Carter,000-00-0000,NaN,NaN,NaN,NaN,NaN,9433.4,2018
175,Davis-Douglas and Sons,054 Lane Vista Apt. 056,Alexanderland,IL,22806-8430,50-4959379,Emily Hamilton,487-42-2012,NaN,. 26355 66,NaN,7299 .77,49756 . 6,. 3942 79,2018
177,Aguilar PLC Inc,220 Matthews Parkway Apt. 305,East Debra,Unknown,49011-2182,55-4570839,Christine Patel,178-21-6267,NaN,23789.22,168870 .85,12918 62,65977 58,8 . 5681,2018
179,Beasley LLC LLC,009 collins Ways Suite 050,Parkshaven,Co,52069-5665,10-5048072,Mr Tony,842-39-2152,NaN,24998.29,236890.91,18122.15,29038 17,3138 .2,2018
182,Savage-Collins Ltd,3339 Emily Trace Suite 390,Alexandermouth,VT,83851-0087,36-2690635,Courtney Hayden,404-40-6072,NaN,.55 28107,218074.14,. 16682 67,. 83989 14,. 5442 72,2018
184,Sanchez-Rice Ltd,706 Matthew Greens,South Melissaside,MO,90311-4687,03-7742861,Jeremy Brown,000-00-0000,NaN,20612.08,NaN,6659.32,. 40377 61,. 3152 73,2018
188,Group Lee-williams,83244 Gary Ways Apt. 177,Tonyaberg,CA,42158-3720,UNKNOWN_EIN,David Paul,671-21-9179,NaN,. 37298 89,88 Cha8 55,NaN,NaN,4530 .22,2018
189,lester and does Ta,987 Townsend Spray,Lake Anthear,Unknown,06179-5945,UNKNOWN_EIN,michael Andrade,000-00-0000,NaN,NaN,NaN,NaN,NaN,NaN,2018
190,Merritt Inc LLC,49002 Davis Passage Apt. 320,South Allenside,WI,41144-6583,33-3344253,Barry Donovan,473-54-7207,NaN,. 27555 41,103868 .31,7945.93,44411. 75,4459 .92,2018
192,Jones Ltd Ltd,11510 Rest Fieldshaven,Unknown,AZ,02906-3853,51-9104110,John Kelly,000-00-0000,NaN,2on Withheld,492security,37syithheld,NaN,2200.93,2018
193,Leach Inc PLC,59415 Griffith Garden,East Angelamouth,TN,17890-4194,52-6484468,Harry Cobb,000-00-0000,NaN,NaN,91585.04,7006.26,53562 05,4394.47,2018
194,"Smith, Morales and Gates LLC",1698 Harrison Mission,West Dennisview,NY,30232-7204,75-5356392,Alexis Sexton,000-00-0000,NaN,35212 .96,NaN,11579.53,86280 . 81,4623 .79,2018
195,"Mason, Mejia and Mitchell Lid",31658 Stevenson Meadow Apt. 729,New Matthew,NY,73479-0478,98-1743706,Angela Warren,698-35-0143,NaN,10670 69,NaN,6620.0,46664.,3245.08,2018
245,Carter-Gilmore Ltd,454 Gregory Ridges Suite 548,West James,GA,53721-2553,52-6317444,Penny Hart,000-00-0000,NaN,. 13565 65,74873.26,5727 .8,. 30767 64,. 2768 63,2018
325,Gilbert The 104,75745 Jessica Mission Suite 832,Bryanmouth,Unknown,Unknown,UNKNOWN_EIN,Janice Wright,451-10-1014,NaN,69050.09,137045.22,NaN,NaN,NaN,2018
337,"Brown, Kelley and Baker LAd",240 Gill Locks,Unknown,Unknown,06742-6063,UNKNOWN_EIN,fairy Salinas,000-00-0000,NaN,NaN,271548.23,NaN,NaN,NaN,2018
396,Unknown,$406 Tran Club Quite 832,Feltbrille,V,17912-1873,UNKNOWN_EIN,DE. Laura,000-00-0000,NaN,NaN,104945.09,14149.03,NaN,(979.39,2018
452,Hicks-Vargas LLC,103 Whitaker Parkways,South Seth,MD,87001 -1899,20-5039449,Melissa Bailey,000-00-0000,NaN,NaN,118736 . 68,NaN,NaN,. 38 5801,2018
457,Griffin-Howard Ltd,1833 Raymond Street Suite 23,Jasonland,IA,67148-6396,92-4122293,Randy Calhoun,097-08-6995,NaN,.7 53593,NaN,NaN,101610 . 23,NaN,2018
462,"waters by dress,",1867 Lisa Highway,stephaniemouth,KS,98923-0294,33-4675845,Alexis Anderson,212-81-6129,NaN,NaN,NaN,NaN,NaN,NaN,2018
463,Unknown,11510 Patricia Rest,Fieldshaven,AZ,02906-3853,51-9104110,John Kelly,556-01-9925,NaN,NaN,. 49143 87,NaN,NaN,NaN,2018
467,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,Unknown,34884-4550,38-1745124,Jerry orr,316-49-5793,NaN,NaN,228500 74,NaN,97392 . 27,NaN,2018
475,Martin-Lee PLC,2709 Travis Lakes,Whitefort,WI,55196-2712,23-3804616,Connor Medina,122-96-7683,NaN,NaN,NaN,NaN,NaN,5077.64,2018
477,"Smith, Morales and Gates LLC",Harrison Mission 1698,West Dennisview,NY,30232 -7204,75-5356392,Alexis Sexton,564-02-8530,NaN,9 - 35212,NaN,NaN,NaN,NaN,2018
483,Unknown,$898 Robles Estates,Test Donna,MS,03853-8053,UNKNOWN_EIN,Timothy Green,581-54-3835,NaN,NaN,26245Curity,NaN,115716 . 2,NaN,2018
487,Ayala-Colon Inc,9381 Santiago Divide,savageberg,VA,96529-0481,56-1920993,Joshua Martin,183-90-9886,NaN,33327 01,NaN,NaN,63513. 81,NaN,2018
489,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,Unknown,Unknown,UNKNOWN_EIN,Unknown,000-00-0000,NaN,NaN,228500 74,NaN,97392 . 27,NaN,NaN
499,Arroyo-Cordova Itd,757 Ortega Plain,Diazfurt,NH,53917-6286,30-5492273,Joseph Hayes,000-00-0000,NaN,23056. 07,NaN,NaN,NaN,NaN,2018

In [317]:
## replace all null value with 0
extracted_entities_df['box1WagesTipsAndOtherCompensations'] = extracted_entities_df['box1WagesTipsAndOtherCompensations'].fillna(0)

In [318]:
extracted_entities_df['box1WagesTipsAndOtherCompensations'].isnull().sum()

np.int64(0)

In [319]:
## unique values of box1WagesTipsAndOtherCompensations
extracted_entities_df['box1WagesTipsAndOtherCompensations'].unique()

array(['149394 . 79', '240614 . 35', '183106.34', '101359 . 41',
       '107565. 11', '147496 . 92', '146910.41', '173418 31',
       '239921 . 72', '201325. 11', '207898.7', '62511 95', '61850 .9',
       '229346 . 09', '80716.7', '127623. 85', '145584 . 79',
       '. 140632 91', '56418.54', '211698. 37', '132590 .9', '167506 94',
       '182644 . 07', '145710 .2', '177355 . 09', '205438 .26',
       '92974 . 4', '133855. 27', '80470 . 88', '102029.2', '91590. 23',
       '224464 . 93', '42469. 96', '108293.29', '226872.04', '53923. 35',
       '84232 . 68', '180688.53', '180558.05', '249641 . 71', '128754.19',
       '86811 . 49', '194865 . 62', '48186.52', '75423 . 94',
       '237815. 51', '49239.09', '161516.46', '182649. 73', '248637.54',
       '144945 . 07', '211162 . 56', '141176.79', '234070.02',
       '142841 . 18', '69896 01', '232471 05', '212792 . 18', '246482.31',
       '238724.37', '84406 .54', '59814.81', '86024 94', '239228 . 88',
       '203417 02', '227755 . 88', '58709. 15', '102901 . 12', '190226.6',
       '78721 69', '129999 . 8', '57569-68', '231225 . 24', '175675.5',
       '100610 . 78', '240965.98', '133935 . 67', '208473.2', '131930 58',
       '197057 .56', '57879 . 41', '41669. 07', '221413 . 09',
       '94073. 93', '219960 . 94', '213828.3', '150047 . 64', '66074. 9',
       '219464 . 4', '93193.42', '195064 14', '219631 .58', '224476. 19',
       '166114.55', '. 63644 41', '241992 . 09', '74015 . 69',
       '194649. 25', '221260.06', '182428 .14', 0, '103048.43',
       '62278.33', '144041.89', '139507.77', '82441 .12', '. 42985 62',
       '7612 7.', '55558.73', '41345.53', '192371 . 71', '204462 . 02',
       '172730 02', '118662. 94', '236316.14', '206961.49', '84345 9',
       '80gg tips,', '220322 . 62', '144018 67', '45353.42',
       '. 77 228187', '41686.29', '147640.25', '77120.93', '141073 .46',
       '180517 .28', '109550.16', '191517 .51', '182018 .87', '190203.27',
       '158376.77', '205961 .82', '181356.1', '118514 .45', '142081.5',
       '206185 . 64', '100883. 71', '243726 . 91', '221339. 69',
       '138773. 44', '247828.99', '174110. 95', '178119. 99',
       '131815 . 8', '87607.33', '206318. 49', '237546 . 01',
       '242842 . 12', '84744 . 35', '187993.39', '240330 . 89',
       '147123.33', '98893 18', '233146.9', '118170.21', '67768.27',
       '71207.69', '187638.77', '67328 . 87', '202897 . 03',
       '164476 . 66', '148757 . 18', '40052.63', '172009. 07',
       '185228 . 44', '205515.16', '119440 . 15', '97553 . 19',
       '228301 . 87', '132137 . 41', '159997 .03', '113879.87',
       '214731 . 04', '81342.73', '135146.15', '245027 . 48',
       '95517 . 52', '97993 . 64', '44595 . 43', '170054 . 88',
       '50117 . 88', '136292 .85', '107560.22', '57695 . 6',
       '170001 . 82', '58304. 97', '190584 . 88', '76710.3',
       '165335 . 02', '138993.72', '76488.12', '145660 .2', '152306.97',
       '155676 .04', '65068 , 1', '88023 . 79', '86860.24', '84320 .5',
       '196625. 39', '113402 . 14', '155940.37', '167194.56',
       '200012 . 79', '128454 . 46', '163364. 16', '224687.26',
       '145662 . 36', '240216 . 54', '234405.35', '158916.89',
       '72866. 96', '249429 . 38', '167920. 69', '192428.9',
       '247571 . 07', '100735 . 35', '123721.35', '151311 .25',
       '62879.15', '190841.94', '89573 . 84', '109643.93', '147978.06',
       '83875.53', '182042 . 65', '217121.52', '162690 . 95',
       '163236 13 .', '80898 . 06', '68715 . 96', '233867 . 03',
       '179343. 13', '57571.49', '115183 . 06', '222288.33',
       '12 221701 .', '80018.32', '171241 . 75', '226279.2',
       '195581 . 69', '47495 .27', '109303.32', '152802 . 26',
       '178168 .92', '128268 . 61', '144625. 19', '54250.52',
       '170885. 76', '100924 . 96', '134794 . 16', '. 83745 45',
       '210249.94', '77057 . 22', '130335 . 07', '221178.68',
       '81220 . 92', '69050 . 02', '215731 .51', '175196 . 99',
       '176755 .57', '124801.06', '186876.35', '116883 . 09', '245379-13',
       '239166.56', '81899 . 04', '234319 . 18', '84392 . 04',
       '223557 . 54', '92685 . 64', '116855.28', '89847.19', '74967.02',
       '235225 . 65', '. 187515 43', '129060 . 79', '177481 . 49',
       '170401.23', '86101 . 64', '148703.0', '218443. 73', '54418 . 6',
       '160427 .52', '112540.72', '. 160483 78', '43575 . 84',
       '248046. 96', '71309.25', '162850 . 76', '133845.76',
       '227171 . 95', '191444.5', '134168 14', '73881.28', '. 229193 16',
       '231962 .0', '140684.34', '194203.9', '203364 . 66', '172752 . 16',
       '147042.26', '231871 .56', '221799.57', '159559 . 78',
       '109302 . 09', '140348.11', '241879.54', '93819. 93', '114051 .02',
       '219087 . 68', '145021 . 05', '69586.36', '102685.59',
       '115223. 03', '85971.25', '138878.03', '223794 . 52',
       '123565 . 85', '198607.38', '190999. 07', '238353.97',
       '67699 . 04', '106221 . 36', '96655 . 68', '195374 . 79',
       '203417 . 02', '70660 . 18', '240242. 17', '179098 . 72',
       '183794 .85', '81486. 12', '104101 .55', '155137 . 64',
       '58709 . 15', '161516. 46', '217891 . 52', '55304 . 44',
       '141176. 79', '132590.9', '101359. 41', '57879 . 4', '118491 . 14',
       '166114 . 55', '120770.16', '45397 . 14', '116288. 14',
       '192308 . 75', '203944 .61', '179777 . 62', '226872. 84',
       '62511 . 95', '12836. 79', '167506 . 94', '80716 . 7',
       '141025 .22', '226026.52', '62522 . 68', '62239 . 89',
       '66753 . 72', '211148 .64', '207898 . 7', '133855 .27',
       '56418 .54', '99748 . 38', '227187.56', '156647 . 19',
       '118300 .92', '226374 .13', '72356.23', '52705.24', '212139 61',
       '48477 15 .', '122581.04', '140016.39', '83 98227.', '51 84746.',
       '147640 .25', '$5718.94', '130327.06', '114384. 92', '156331.43',
       '158376 .77', '248557 .47', '.82 157320', '158427.99', '41345. 53',
       '. 124649 65', '235428 . 19', '172730 . 02', '.02 176835',
       '.42 105727', '190879 58', '53 364.86', '203237 .92', '105531 .53',
       '64916.31', "94354.5'", '107263 .8', '204711.04', '182018.87',
       '64561. 45', '46285 56 .', '105770.3', '56717.73', '69124.36',
       '107443.01', '206942.45', '148757.18', '161590.28', '44595.43',
       '176900.59', '173750.0', '196625.39', '84816.64', '200012.79',
       '249432.11', '170054.88', '136292.85', '41296.39', '73278.62',
       '120076.92', '162690.95', '210538.33', '247571.07', '100685.61',
       '190584.88', '65068.1', '66286.46', '132027.39', '110503.15',
       '138773.44', '233548.97', '92813.42', '145662.36', '98893.18',
       '214731.04', '131815.8', '186102.88', '231262.65', '100883.71',
       '57695.6', '185228.44', '179587.02', '179553.17', '84320.5',
       '80018 . 32', '71309 .25', '74886.59', '23794 52', '129060 .79',
       '197662 . 88', '226279 .2', '157889 .45', '179678 68', '60041 .',
       '106982 . 53', '78359. 09', '144625 . 19', '157631 . 78',
       '77057 .22', '94274 . 37', '211923 . 18', '170481 . 23',
       '178168 . 92', '113524 . 03', '203772 .26', '123682 . 75',
       '162299 . 7', '170737 . 31', '65582 . 8', '148703.8', '21215 41',
       '102790 . 68', '150440 .24', '222489 . 24', '70660 .94',
       '64992 . 7', '248046.96', '56944 . 47', '218443 .73',
       '115223 . 03', '54250 52', '140348 . 11', '48791 . 84',
       '193143 .8', '102053 . 8', '198607 38', '124006.4'], dtype=object)

In [320]:
# Define a function to clean and standardize the values
def clean_wages_tips(value):
    if not isinstance(value, str):
        return value
    # Remove non-numeric characters except for the decimal point
    value = re.sub(r'[^\d.]', '', value)
    # Fix misplaced decimal points
    parts = value.split('.')
    if len(parts) > 2:
        value = parts[0] + '.' + ''.join(parts[1:])
    return value

In [321]:
# Apply the cleaning function to the column
extracted_entities_df['box1WagesTipsAndOtherCompensations'] = extracted_entities_df['box1WagesTipsAndOtherCompensations'].apply(clean_wages_tips)

In [322]:
extracted_entities_df['box1WagesTipsAndOtherCompensations'].unique()

array(['149394.79', '240614.35', '183106.34', '101359.41', '107565.11',
       '147496.92', '146910.41', '17341831', '239921.72', '201325.11',
       '207898.7', '6251195', '61850.9', '229346.09', '80716.7',
       '127623.85', '145584.79', '.14063291', '56418.54', '211698.37',
       '132590.9', '16750694', '182644.07', '145710.2', '177355.09',
       '205438.26', '92974.4', '133855.27', '80470.88', '102029.2',
       '91590.23', '224464.93', '42469.96', '108293.29', '226872.04',
       '53923.35', '84232.68', '180688.53', '180558.05', '249641.71',
       '128754.19', '86811.49', '194865.62', '48186.52', '75423.94',
       '237815.51', '49239.09', '161516.46', '182649.73', '248637.54',
       '144945.07', '211162.56', '141176.79', '234070.02', '142841.18',
       '6989601', '23247105', '212792.18', '246482.31', '238724.37',
       '84406.54', '59814.81', '8602494', '239228.88', '20341702',
       '227755.88', '58709.15', '102901.12', '190226.6', '7872169',
       '129999.8', '5756968', '231225.24', '175675.5', '100610.78',
       '240965.98', '133935.67', '208473.2', '13193058', '197057.56',
       '57879.41', '41669.07', '221413.09', '94073.93', '219960.94',
       '213828.3', '150047.64', '66074.9', '219464.4', '93193.42',
       '19506414', '219631.58', '224476.19', '166114.55', '.6364441',
       '241992.09', '74015.69', '194649.25', '221260.06', '182428.14', 0,
       '103048.43', '62278.33', '144041.89', '139507.77', '82441.12',
       '.4298562', '76127.', '55558.73', '41345.53', '192371.71',
       '204462.02', '17273002', '118662.94', '236316.14', '206961.49',
       '843459', '80', '220322.62', '14401867', '45353.42', '.77228187',
       '41686.29', '147640.25', '77120.93', '141073.46', '180517.28',
       '109550.16', '191517.51', '182018.87', '190203.27', '158376.77',
       '205961.82', '181356.1', '118514.45', '142081.5', '206185.64',
       '100883.71', '243726.91', '221339.69', '138773.44', '247828.99',
       '174110.95', '178119.99', '131815.8', '87607.33', '206318.49',
       '237546.01', '242842.12', '84744.35', '187993.39', '240330.89',
       '147123.33', '9889318', '233146.9', '118170.21', '67768.27',
       '71207.69', '187638.77', '67328.87', '202897.03', '164476.66',
       '148757.18', '40052.63', '172009.07', '185228.44', '205515.16',
       '119440.15', '97553.19', '228301.87', '132137.41', '159997.03',
       '113879.87', '214731.04', '81342.73', '135146.15', '245027.48',
       '95517.52', '97993.64', '44595.43', '170054.88', '50117.88',
       '136292.85', '107560.22', '57695.6', '170001.82', '58304.97',
       '190584.88', '76710.3', '165335.02', '138993.72', '76488.12',
       '145660.2', '152306.97', '155676.04', '650681', '88023.79',
       '86860.24', '84320.5', '196625.39', '113402.14', '155940.37',
       '167194.56', '200012.79', '128454.46', '163364.16', '224687.26',
       '145662.36', '240216.54', '234405.35', '158916.89', '72866.96',
       '249429.38', '167920.69', '192428.9', '247571.07', '100735.35',
       '123721.35', '151311.25', '62879.15', '190841.94', '89573.84',
       '109643.93', '147978.06', '83875.53', '182042.65', '217121.52',
       '162690.95', '16323613.', '80898.06', '68715.96', '233867.03',
       '179343.13', '57571.49', '115183.06', '222288.33', '12221701.',
       '80018.32', '171241.75', '226279.2', '195581.69', '47495.27',
       '109303.32', '152802.26', '178168.92', '128268.61', '144625.19',
       '54250.52', '170885.76', '100924.96', '134794.16', '.8374545',
       '210249.94', '77057.22', '130335.07', '221178.68', '81220.92',
       '69050.02', '215731.51', '175196.99', '176755.57', '124801.06',
       '186876.35', '116883.09', '24537913', '239166.56', '81899.04',
       '234319.18', '84392.04', '223557.54', '92685.64', '116855.28',
       '89847.19', '74967.02', '235225.65', '.18751543', '129060.79',
       '177481.49', '170401.23', '86101.64', '148703.0', '218443.73',
       '54418.6', '160427.52', '112540.72', '.16048378', '43575.84',
       '248046.96', '71309.25', '162850.76', '133845.76', '227171.95',
       '191444.5', '13416814', '73881.28', '.22919316', '231962.0',
       '140684.34', '194203.9', '203364.66', '172752.16', '147042.26',
       '231871.56', '221799.57', '159559.78', '109302.09', '140348.11',
       '241879.54', '93819.93', '114051.02', '219087.68', '145021.05',
       '69586.36', '102685.59', '115223.03', '85971.25', '138878.03',
       '223794.52', '123565.85', '198607.38', '190999.07', '238353.97',
       '67699.04', '106221.36', '96655.68', '195374.79', '203417.02',
       '70660.18', '240242.17', '179098.72', '183794.85', '81486.12',
       '104101.55', '155137.64', '217891.52', '55304.44', '57879.4',
       '118491.14', '120770.16', '45397.14', '116288.14', '192308.75',
       '203944.61', '179777.62', '226872.84', '62511.95', '12836.79',
       '167506.94', '141025.22', '226026.52', '62522.68', '62239.89',
       '66753.72', '211148.64', '99748.38', '227187.56', '156647.19',
       '118300.92', '226374.13', '72356.23', '52705.24', '21213961',
       '4847715.', '122581.04', '140016.39', '8398227.', '5184746.',
       '5718.94', '130327.06', '114384.92', '156331.43', '248557.47',
       '.82157320', '158427.99', '.12464965', '235428.19', '172730.02',
       '.02176835', '.42105727', '19087958', '53364.86', '203237.92',
       '105531.53', '64916.31', '94354.5', '107263.8', '204711.04',
       '64561.45', '4628556.', '105770.3', '56717.73', '69124.36',
       '107443.01', '206942.45', '161590.28', '176900.59', '173750.0',
       '84816.64', '249432.11', '41296.39', '73278.62', '120076.92',
       '210538.33', '100685.61', '65068.1', '66286.46', '132027.39',
       '110503.15', '233548.97', '92813.42', '98893.18', '186102.88',
       '231262.65', '179587.02', '179553.17', '74886.59', '2379452',
       '197662.88', '157889.45', '17967868', '60041.', '106982.53',
       '78359.09', '157631.78', '94274.37', '211923.18', '170481.23',
       '113524.03', '203772.26', '123682.75', '162299.7', '170737.31',
       '65582.8', '148703.8', '2121541', '102790.68', '150440.24',
       '222489.24', '70660.94', '64992.7', '56944.47', '5425052',
       '48791.84', '193143.8', '102053.8', '19860738', '124006.4'],
      dtype=object)

In [323]:
## show me rows with 0 value
extracted_entities_df[extracted_entities_df['box1WagesTipsAndOtherCompensations'] == 0]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
100,"Gray, Hernandez and Bradshaw and Sons",021 Clayton Springs Suite 653,Ryanmouth,Unknown,54833-9807,92-8459614,Kurt Krueger,664-08-7686,0,. 53 13295,106398 .05,8139 .45,47120 .79,6063 .72,2018
103,Lee-Phillips and Sons,3086 Jennifer Lakes Apt. 032,Silvaport,MD,21737-9247,93-8027739,Carlos Miller,233-88-5197,0,12202 99,47455.25,3630.33,. $4907,. 3391 74,2018
104,Lewis-Bell Group,13203 Robert Pines,East Williamhaven,WV,15930-8821,60-5598124,Lisa Wells,234-25-5539,0,NaN,193137 .53,14775.02,71082 . 42,. 7345 02,2018
105,"Smith, Rose and French Itd",0377 David Shoal,North Anthonychester,NH,96961-6876,53-9494262,Justin Gonzalez,612-24-8196,0,9981 38,41698 .6,3189.94,26838 .4,2527 .01,2018
110,"Weaver , Reyes and Barnett LLC",05125 Snow Isle,South Deborahfurt,NH,28864-6919,30-0915668,Michael Brown,758-31-8946,0,10371 . 99,50639.22,3873.9,23916.83,1801 .2,2018
112,Castillo-Schroeder PLC,151 Thomas Ville Apt. 019,West Isaiahmouth,Mo,40729-7558,95-0812195,Erica Lee,725-28-8485,0,NaN,41868.71,3202 .96,25909.23,845.36,2018
118,Johnson Inc Group,90404 Anita Club Suite 751,Guerreroville,PA,14463-7391,93-9684825,aron Kennedy,000-00-0000,0,12233.56,NaN,7689. 93,49309.57,3808.35-,2018
120,"Mcdaniel, Wood",88524 Sandra Ferry,Aprilhaven,VT,61714-2674,13-2131329,Thomas Robinson,444-72-5153,0,NaN,25931-57,NaN,citing,4132.54,2018
121,Terry Group Inc,207 Lisa Underpass Suite 644,Port Kendra,CO,64443-3719,57-4496004,Kimberly Meyer,458-59-1504,0,NaN,NaN,NaN,36972.4,2925.99,2018
124,"Bradshaw, Richards and Dalton PLC",584 Jones Throughway,East Shelbyfort,VT,75319-9486,65-7930490,Eric Hernandez,453-01-2098,0,36106.47,NaN,10563.28,. 59328 91,5932 .34,2018
125,Martinez-Luna PLC,16845 Matthew Tunnel Apt. 779,South Christine,ND,83703-3820,15-0580989,April Maldonado,000-00-0000,0,. 20678 11,. 88381 67,6761.2,NaN,NaN,2018
128,"Perez, Taylor and Ramirez Ltd",2316 Price Squares Suite 053,Lake James,NV,78054-9921,34-9125256,Christopher Carr,100-02-7219,0,NaN,134133 .34,10261 .2,63837 89,4137 57,2018
130,Pratt PLC Group,9783 Garcia Meadow,Greenmouth,AL,01436-7916,76-1132926,Ricky Adams,138-08-0355,0,6700.29,. 56 32185,2462.23,. 20520 65,2095.2,2018
135,Group Palmer-Keith,74120 Martinez Shores,Amandaborough,ID,82371-6317,83-8423636,Elizabeth Phillips,123-25-9294,0,138 89 . 11,88282 .45,6753. 61,37532 83,2775 .2,2018
138,"Shelton, Castillo and Beard Group",39497 Jacob Fork,North Matthew,ND,21793-7969,84-3289694,Alexis,000-00-0000,0,NaN,276923.83,21189.26,123932.43,5714. 97,2018
144,Rogers LLC PLC,024 Young unions,Port Donald,SC,99938-3971,25-9239875,Rachel Oconnell,000-00-0000,0,13170.2,135459.3,10362. 64,62174.02,4481. 22,2018
156,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,West Ryanberg,NH,34884-4550,32-1745124,Jerry Orr,316-49-5793,0,NaN,228500.77,17480 . 31,97892 . 27,5023.97,2018
164,Ortega-Hayden and,$540 Beat Spring Apt. 471,Laurafurt,IN,40913-5681,UNKNOWN_EIN,Candice,000-00-0000,0,NaN,NaN,NaN,NaN,NaN,2018
166,Garcia and Sons Grow,929 Chapman Talands,Unknown,Unknown,Unknown,UNKNOWN_EIN,Faaneta,000-00-0000,0,NaN,NaN,NaN,NaN,NaN,2018
173,Clayton and Ramirez Led,7553 Bates Rest Suite 521,West Trevormouth,MV,12524-2457,UNKNOWN_EIN,Jennifer Carter,000-00-0000,0,NaN,NaN,NaN,NaN,9433.4,2018
175,Davis-Douglas and Sons,054 Lane Vista Apt. 056,Alexanderland,IL,22806-8430,50-4959379,Emily Hamilton,487-42-2012,0,. 26355 66,NaN,7299 .77,49756 . 6,. 3942 79,2018
177,Aguilar PLC Inc,220 Matthews Parkway Apt. 305,East Debra,Unknown,49011-2182,55-4570839,Christine Patel,178-21-6267,0,23789.22,168870 .85,12918 62,65977 58,8 . 5681,2018
179,Beasley LLC LLC,009 collins Ways Suite 050,Parkshaven,Co,52069-5665,10-5048072,Mr Tony,842-39-2152,0,24998.29,236890.91,18122.15,29038 17,3138 .2,2018
182,Savage-Collins Ltd,3339 Emily Trace Suite 390,Alexandermouth,VT,83851-0087,36-2690635,Courtney Hayden,404-40-6072,0,.55 28107,218074.14,. 16682 67,. 83989 14,. 5442 72,2018
184,Sanchez-Rice Ltd,706 Matthew Greens,South Melissaside,MO,90311-4687,03-7742861,Jeremy Brown,000-00-0000,0,20612.08,NaN,6659.32,. 40377 61,. 3152 73,2018
188,Group Lee-williams,83244 Gary Ways Apt. 177,Tonyaberg,CA,42158-3720,UNKNOWN_EIN,David Paul,671-21-9179,0,. 37298 89,88 Cha8 55,NaN,NaN,4530 .22,2018
189,lester and does Ta,987 Townsend Spray,Lake Anthear,Unknown,06179-5945,UNKNOWN_EIN,michael Andrade,000-00-0000,0,NaN,NaN,NaN,NaN,NaN,2018
190,Merritt Inc LLC,49002 Davis Passage Apt. 320,South Allenside,WI,41144-6583,33-3344253,Barry Donovan,473-54-7207,0,. 27555 41,103868 .31,7945.93,44411. 75,4459 .92,2018
192,Jones Ltd Ltd,11510 Rest Fieldshaven,Unknown,AZ,02906-3853,51-9104110,John Kelly,000-00-0000,0,2on Withheld,492security,37syithheld,NaN,2200.93,2018
193,Leach Inc PLC,59415 Griffith Garden,East Angelamouth,TN,17890-4194,52-6484468,Harry Cobb,000-00-0000,0,NaN,91585.04,7006.26,53562 05,4394.47,2018
194,"Smith, Morales and Gates LLC",1698 Harrison Mission,West Dennisview,NY,30232-7204,75-5356392,Alexis Sexton,000-00-0000,0,35212 .96,NaN,11579.53,86280 . 81,4623 .79,2018
195,"Mason, Mejia and Mitchell Lid",31658 Stevenson Meadow Apt. 729,New Matthew,NY,73479-0478,98-1743706,Angela Warren,698-35-0143,0,10670 69,NaN,6620.0,46664.,3245.08,2018
245,Carter-Gilmore Ltd,454 Gregory Ridges Suite 548,West James,GA,53721-2553,52-6317444,Penny Hart,000-00-0000,0,. 13565 65,74873.26,5727 .8,. 30767 64,. 2768 63,2018
325,Gilbert The 104,75745 Jessica Mission Suite 832,Bryanmouth,Unknown,Unknown,UNKNOWN_EIN,Janice Wright,451-10-1014,0,69050.09,137045.22,NaN,NaN,NaN,2018
337,"Brown, Kelley and Baker LAd",240 Gill Locks,Unknown,Unknown,06742-6063,UNKNOWN_EIN,fairy Salinas,000-00-0000,0,NaN,271548.23,NaN,NaN,NaN,2018
396,Unknown,$406 Tran Club Quite 832,Feltbrille,V,17912-1873,UNKNOWN_EIN,DE. Laura,000-00-0000,0,NaN,104945.09,14149.03,NaN,(979.39,2018
452,Hicks-Vargas LLC,103 Whitaker Parkways,South Seth,MD,87001 -1899,20-5039449,Melissa Bailey,000-00-0000,0,NaN,118736 . 68,NaN,NaN,. 38 5801,2018
457,Griffin-Howard Ltd,1833 Raymond Street Suite 23,Jasonland,IA,67148-6396,92-4122293,Randy Calhoun,097-08-6995,0,.7 53593,NaN,NaN,101610 . 23,NaN,2018
462,"waters by dress,",1867 Lisa Highway,stephaniemouth,KS,98923-0294,33-4675845,Alexis Anderson,212-81-6129,0,NaN,NaN,NaN,NaN,NaN,2018
463,Unknown,11510 Patricia Rest,Fieldshaven,AZ,02906-3853,51-9104110,John Kelly,556-01-9925,0,NaN,. 49143 87,NaN,NaN,NaN,2018
467,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,Unknown,34884-4550,38-1745124,Jerry orr,316-49-5793,0,NaN,228500 74,NaN,97392 . 27,NaN,2018
475,Martin-Lee PLC,2709 Travis Lakes,Whitefort,WI,55196-2712,23-3804616,Connor Medina,122-96-7683,0,NaN,NaN,NaN,NaN,5077.64,2018
477,"Smith, Morales and Gates LLC",Harrison Mission 1698,West Dennisview,NY,30232 -7204,75-5356392,Alexis Sexton,564-02-8530,0,9 - 35212,NaN,NaN,NaN,NaN,2018
483,Unknown,$898 Robles Estates,Test Donna,MS,03853-8053,UNKNOWN_EIN,Timothy Green,581-54-3835,0,NaN,26245Curity,NaN,115716 . 2,NaN,2018
487,Ayala-Colon Inc,9381 Santiago Divide,savageberg,VA,96529-0481,56-1920993,Joshua Martin,183-90-9886,0,33327 01,NaN,NaN,63513. 81,NaN,2018
489,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,Unknown,Unknown,UNKNOWN_EIN,Unknown,000-00-0000,0,NaN,228500 74,NaN,97392 . 27,NaN,NaN
499,Arroyo-Cordova Itd,757 Ortega Plain,Diazfurt,NH,53917-6286,30-5492273,Joseph Hayes,000-00-0000,0,23056. 07,NaN,NaN,NaN,NaN,2018

In [324]:
extracted_entities_df.isnull().sum()

employerName                           0
employerAddressStreet_name             0
employerAddressCity                    0
employerAddressState                   0
employerAddressZip                     0
einEmployerIdentificationNumber        0
employeeName                           0
ssnOfEmployee                          0
box1WagesTipsAndOtherCompensations     0
box2FederalIncomeTaxWithheld          47
box3SocialSecurityWages               55
box4SocialSecurityTaxWithheld         62
box16StateWagesTips                   57
box17StateIncomeTax                   47
taxYear                               55
dtype: int64

- Next we will go for the column 'box2FederalIncomeTaxWithheld'

In [325]:
## null values of box2FederalIncomeTaxWithheld
extracted_entities_df['box2FederalIncomeTaxWithheld'].isnull().sum()

np.int64(47)

In [326]:
## rows with null values of box2FederalIncomeTaxWithheld
extracted_entities_df[extracted_entities_df['box2FederalIncomeTaxWithheld'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
104,Lewis-Bell Group,13203 Robert Pines,East Williamhaven,WV,15930-8821,60-5598124,Lisa Wells,234-25-5539,0,NaN,193137 .53,14775.02,71082 . 42,. 7345 02,2018
112,Castillo-Schroeder PLC,151 Thomas Ville Apt. 019,West Isaiahmouth,Mo,40729-7558,95-0812195,Erica Lee,725-28-8485,0,NaN,41868.71,3202 .96,25909.23,845.36,2018
116,"Dudley, Elliott and Miranda and Sons",114 Allison Pike Apt. 591,New Mistyburgh,VA,41995-9955,UNKNOWN_EIN,James Cooper,298-44-6815,82441.12,NaN,101276.39,7747 .64,45122 15,. 2284 63,2018
117,LLC Gardner-Anderson,757 Cassidy Garden,East Davidfort,KY,45062-0904,87-0100147,Bruce Jones,207-66-8919,.4298562,NaN,42332 .19,3238.41,. 21589 72,1285.9,2018
119,Johnston LLC Itd,9788 william Lodge,Chandlerfurt,NV,31006-1793,35-3517049,Francisco Thornton,000-00-0000,76127.,NaN,64222.03,4912.99,NaN,3250.38,2018
120,"Mcdaniel, Wood",88524 Sandra Ferry,Aprilhaven,VT,61714-2674,13-2131329,Thomas Robinson,444-72-5153,0,NaN,25931-57,NaN,citing,4132.54,2018
121,Terry Group Inc,207 Lisa Underpass Suite 644,Port Kendra,CO,64443-3719,57-4496004,Kimberly Meyer,458-59-1504,0,NaN,NaN,NaN,36972.4,2925.99,2018
128,"Perez, Taylor and Ramirez Ltd",2316 Price Squares Suite 053,Lake James,NV,78054-9921,34-9125256,Christopher Carr,100-02-7219,0,NaN,134133 .34,10261 .2,63837 89,4137 57,2018
138,"Shelton, Castillo and Beard Group",39497 Jacob Fork,North Matthew,ND,21793-7969,84-3289694,Alexis,000-00-0000,0,NaN,276923.83,21189.26,123932.43,5714. 97,2018
145,Davis PLC Ltd,4072 Hart Cove Suite 439,East Aaron,NY,36912-4324,22-1094092,Lisa Baker,000-00-0000,843459,NaN,70931.34,NaN,44234.11,5244. 97,2018
146,Lopez-Daniel PLC,47076 Jonathan Mountain,West Pamela,DE,88415 - 0981,37-9520497,Lauren Vance,811-27-0825,80,NaN,NaN,NaN,6 36315.,98 1653.,2018
147,and Marshall-Cruz,9803 Giles Skyway,Stevenberg,OH,10459-3508,47-3994792,Jordan Hoffman,272-18-1078,220322.62,NaN,249662. 8a,19099.21,115767.91,14302 .44,2018
156,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,West Ryanberg,NH,34884-4550,32-1745124,Jerry Orr,316-49-5793,0,NaN,228500.77,17480 . 31,97892 . 27,5023.97,2018
157,Reed Group Group,por Jones Fall,Brad,MA,49272 -0415,UNKNOWN_EIN,Michelle Cannon,000-00-0000,41686.29,NaN,NaN,NaN,22398 .54,NaN,2018
164,Ortega-Hayden and,$540 Beat Spring Apt. 471,Laurafurt,IN,40913-5681,UNKNOWN_EIN,Candice,000-00-0000,0,NaN,NaN,NaN,NaN,NaN,2018
166,Garcia and Sons Grow,929 Chapman Talands,Unknown,Unknown,Unknown,UNKNOWN_EIN,Faaneta,000-00-0000,0,NaN,NaN,NaN,NaN,NaN,2018
173,Clayton and Ramirez Led,7553 Bates Rest Suite 521,West Trevormouth,MV,12524-2457,UNKNOWN_EIN,Jennifer Carter,000-00-0000,0,NaN,NaN,NaN,NaN,9433.4,2018
189,lester and does Ta,987 Townsend Spray,Lake Anthear,Unknown,06179-5945,UNKNOWN_EIN,michael Andrade,000-00-0000,0,NaN,NaN,NaN,NaN,NaN,2018
193,Leach Inc PLC,59415 Griffith Garden,East Angelamouth,TN,17890-4194,52-6484468,Harry Cobb,000-00-0000,0,NaN,91585.04,7006.26,53562 05,4394.47,2018
196,"Inc Phillips, Brown and Hartman",88614 Bowman Greens,Port Christopherview,AL,16116-5700,44-1028453,Krystal Pena,560-44-5950,205961.82,NaN,NaN,NaN,NaN,5361. 89,2018
197,Fox-Mitchell and sons,Anthony Green Suite 080,Port Markland,VA,16842-7708,46-8285369,Jeffrey Herrera,000-00-0000,181356.1,NaN,207963.37,15909.2,NaN,10233.7,2018
337,"Brown, Kelley and Baker LAd",240 Gill Locks,Unknown,Unknown,06742-6063,UNKNOWN_EIN,fairy Salinas,000-00-0000,0,NaN,271548.23,NaN,NaN,NaN,2018
375,Carpenter-Lopes and Side,170 Smith Dale Apt. 422,Unknown,Unknown,Unknown,UNKNOWN_EIN,Scott Martin,415-10-1039,147042.26,NaN,NaN,$716.46,NaN,NaN,2018
381,"Alvarez, Milos and Grant PLC",603 Janie Rapids,Meat Brian,ND,93513-9121,$9-0141149,Beth Bart,246-91-2924,241879.54,NaN,NaN,19276.3,NaN,NaN,2018
396,Unknown,$406 Tran Club Quite 832,Feltbrille,V,17912-1873,UNKNOWN_EIN,DE. Laura,000-00-0000,0,NaN,104945.09,14149.03,NaN,(979.39,2018
452,Hicks-Vargas LLC,103 Whitaker Parkways,South Seth,MD,87001 -1899,20-5039449,Melissa Bailey,000-00-0000,0,NaN,118736 . 68,NaN,NaN,. 38 5801,2018
455,Townsend Group Itd,141 Lloyd Ville Apt. 091,iazchester,MA,82518 - 4831,81-9019677,Dr. David,795-07-5278,21213961,NaN,NaN,NaN,"3 tips etc ,",. 60 94 99,2018
460,Lane -Williams Inc,5071 Anderson Stravenue,East Josephland,DE,22582-4266,42-0706879,Whitaker,000-00-0000,140016.39,NaN,NaN,NaN,tips. 95 94,NaN,2018
461,Johnson Inc Group,90404 Anita Club Suite 751,Guerreroville,PA,14463-7391,93-9684820,Aaron Kennedy,000-00-0000,8398227.,NaN,NaN,NaN,49309. 57,NaN,2018
462,"waters by dress,",1867 Lisa Highway,stephaniemouth,KS,98923-0294,33-4675845,Alexis Anderson,212-81-6129,0,NaN,NaN,NaN,NaN,NaN,2018
463,Unknown,11510 Patricia Rest,Fieldshaven,AZ,02906-3853,51-9104110,John Kelly,556-01-9925,0,NaN,. 49143 87,NaN,NaN,NaN,2018
464,White -Harris Group,5833 Rivera Fords,Port Leslie,AL,28839-0600,15-9365410,Mitchell Kirk,000-00-0000,5184746.,NaN,NaN,NaN,NaN,3656.46,2018
466,"Burnett, Rosales and Wilson PLC",037 Johnston Ford,last Joshua,MI,74272-5071,93-6441213,Melissa Garcia,777-15-1653,5718.94,NaN,85330 . 78,NaN,NaN,NaN,2018
467,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,Unknown,34884-4550,38-1745124,Jerry orr,316-49-5793,0,NaN,228500 74,NaN,97392 . 27,NaN,2018
469,"Jacobson, Hart and Terry Inc",683 Geoffrey Island Suite 038,last Jeanneville,GA,82171-2434,38-1014654,John Adkins,000-00-0000,114384.92,NaN,NaN,NaN,82358. 54,5959 .29,2018
470,Guerra LLC PLC,680 Tanner Flat,Gainesville,IL,52700-7811,60-0909394,Erin Horton,000-00-0000,156331.43,NaN,141392 43,2 was 2 4,NaN,NaN,2018
471,Hoffman-Gutierrez Lt,38300 Nancy Roads,Jessicaside,WY,69552-5201,58-7007829,Michael Friedman,455-11-6220,158376.77,NaN,NaN,. 1286 78,79385. 67,NaN,2018
473,Fields-Davis Inc,2772 Richard Crescent,East Katrinaview,MD,42256-1116,55-7913926,Sandra Wright,000-00-0000,.82157320,NaN,167356 54,NaN,NaN,8243 -46,2018
474,"Petty, Jones and Wright Group",065 Hayley Lake,Ramseymouth,MI,53446-2041,33-7544322,DI. Shawn,000-00-0000,158427.99,NaN,153058 .37,NaN,NaN,7176-59,2018
475,Martin-Lee PLC,2709 Travis Lakes,Whitefort,WI,55196-2712,23-3804616,Connor Medina,122-96-7683,0,NaN,NaN,NaN,NaN,5077.64,2018
482,Jackson and Sons Itd,51263 Terri Mission,South Mollyborough,Unknown,35155-9045,04-9363655,Jessica Swanson,000-00-0000,.42105727,NaN,NaN,NaN,NaN,NaN,2018
483,Unknown,$898 Robles Estates,Test Donna,MS,03853-8053,UNKNOWN_EIN,Timothy Green,581-54-3835,0,NaN,26245Curity,NaN,115716 . 2,NaN,2018
489,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,Unknown,Unknown,UNKNOWN_EIN,Unknown,000-00-0000,0,NaN,228500 74,NaN,97392 . 27,NaN,NaN
493,Ortiz Inc LLC,441 Shannon Turnpike,Valenciaport,VA,26302-2422,50-4329817,Stephanie Dixon,000-00-0000,204711.04,NaN,177435 74,NaN,NaN,8387. 54,2018
494,Unknown,35657 James Courts,West Jasmine,NM,04093-1257,68-7884298,Sara Dean,708-85-6052,62278.33,NaN,NaN,NaN,"tips. 96, 64",- 2832 39,2018
495,Knight Lewis and Sons,245 Shannon Vista,East Austin,UT,72161-6403,54-4891082,. Alexis,000-00-0000,182018.87,NaN,227148 . 72,NaN,93839. 57,NaN,2018
498,Unknown,089 Hunter Ford Suite 170,Townsendtown,NY,29893-4846,84-1097895,Alex Warren,000-00-0000,105770.3,NaN,NaN,NaN,"tips. us , 95",4300.24,2018

In [327]:
## replace all null value with 0
extracted_entities_df['box2FederalIncomeTaxWithheld'] = extracted_entities_df['box2FederalIncomeTaxWithheld'].fillna(0)

In [328]:
## unique values of box2FederalIncomeTaxWithheld
extracted_entities_df['box2FederalIncomeTaxWithheld'].unique()

array(['16030. 73', '79673.63', '(2037.04', '34772. 33', '36048.57',
       '27867.37', '27685. 88', '8956.53', '31452 16', '. 21647 49',
       '58315.11', '14203.37', '8742 . 14', '25185 . 41', '$372.33',
       '22640 08', '33307 . 15', '27684 82 .', '6361 .48', '69690 . 62',
       '13956. 69', '12816. 96', '50493 . 52', '30202 . 77', '53204 . 08',
       '36376. 97', '30830 . 64', '21691 . 41', '24033. 1', '19162 96',
       '18020. 68', '77307. 24', '6869. 48', '32329. 36', '$3055.97',
       '8573 . 3', '22647 . 72', '53542 . 66', '42029.25', '89023 . 98',
       '40015.89', '12173 . 02', '22323 .54', '12869.05', '14362 . 51',
       '58277 . 56', '10471-76', '22767.08', '21555. 77', '32937 . 66',
       '25188 . 98', '71983.53', '14176.06', '53010-74', '27590 . 47',
       '13927 .58', '76881 69', '39253 . 58', '61772 . 03', '35079 . 8',
       '26555 . 05', '18632.27', '11263 .03', '58009 . 94', '50205.33',
       '65077 . 04', '10201 15', '32210.53', '64756. 22', '22743. 73',
       '45248 41', '18118.1', '63167 . 46', '38786. 94', '1844 16',
       '35103.79', '38302 .53', '24101 61', '24819. 21', '39818 . 28',
       '8877 . 69', '11182.93', '23117.24', '21444 . 59', '75109 . 88',
       '53976. 11', '29336.88', '19111. 2', '54302 .5', '24407.6',
       '51244 .41', '36172 . 8', '34622 .59', '36849.56', '19040.33',
       '30996 . 51', '18350 . 67', '65640 . 99', '35687 .82', '45970.0',
       '. 53 13295', '36159.81', '12202 99', 0, '9981 38', '15724 .51',
       '10371 . 99', '16828 .54', '24453-32', '12233.56', '6528 . 67',
       '36106.47', '. 20678 11', '. 10537 67', '6700.29', '37810 .86',
       '24495.57', '138 89 . 11', '31971 4', '33327 .01', '96159.02',
       '50523-36', '13170.2', '41401 .36', '16579.35', '. 87 40050',
       '32961.78', '22335 . 46', '29030 .74', '54879.51', '22779. 72',
       '. 26355 66', '.02 55912', '23789.22', '24998.29', '.55 28107',
       '60177 . 01', '20612.08', '48 64734', '. 37298 89', '. 27555 41',
       '54436 .6', '2on Withheld', '35212 .96', '10670 69', '27053 04',
       '28361 . 15', '52697 . 67', '30749.57', '70369 . 09', '53987 . 44',
       '17021 97', '69544.26', '59784 . 88', '23032 . 47', '27993 . 41',
       '14534 . 75', '21209 . 46', '61615 . 17', '39092 . 15', '12724.0',
       '30779. 81', '35494 . 65', '52569.93', '24968 .78', '73449. 38',
       '29617 .95', '22110.14', '$1426.05', '63800.28', '10223 . 79',
       '58593 . 47', '59262 . 82', '50567. 23', '10372.30', '34561 . 77',
       '35009 . 12', '36225.34', '36367. 43', '28985.52', '48261 . 07',
       '34142 . 49', '52062 . 86', '18992 . 61', '47393. 74',
       '18541 . 17', '30825 . 86', '83617 .73', '14432 . 88',
       '. 13565 65', '27072 . 16', '10041 . 55', '24582 . 68',
       '12349 . 69', '14732 . 21', '35693 . 38', '7191 . 74', '18020 . 6',
       '10836.76', '59835 .97', '11444 . 41', '33806 . 92', '44250.9',
       '9507 . 66', '34558 . 74', '36441 . 60', '33913.22', '22307 .33',
       '30162 . 58', '10064.6', '20001 . 02', '35884.32', '23013. 25',
       '52211 . 18', '48973 . 11', '23986.4', '27086.41', '39444 . 42',
       '27986 . 01', '50063.59', '33660 .7', '71206.69', '34883.22',
       '17704 .07', '59433 . 67', '42985 . 42', '47576.87', '50219 . 14',
       '12117 . 21', '29152 .73', '19094 .37', '19994.47', '56872.29',
       '29116. 52', '14648 . 1', '20695.1', '9550.74', '55164. 76',
       '59149. 63', '43415. 1', '29265 . 86', '13910 .36', '11800 . 02',
       '8 81441 .', '47320 . 49', '8139.51', '15417 . 56', '48071 . 11',
       '47202 . 05', '13737 .59', '31784 . 67', '23211 . 41', '23071 .51',
       '11812 . 12', '19101.26', '. 23675 33', '35168 . 54', '32246. 83',
       '44303 .9', '8440.4', '25208 . 85', '19892 . 62', '18821 .88',
       '27099.7', '97761.36', '69050.09', '17030 . 96', '35094 . 48',
       '24265.84', '8350 . 67', '7493 . 91', '49893.29', '46604 . 05',
       '25686.19', '45414.72', '61783.77', '33295 . 25', '64741.62',
       '66108 . 17', '9862 .26', '24474 . 05', '9681 . 91', '75230 . 46',
       '24172. 22', '34415. 0', '26540.39', '23355.58', '68550 .27',
       '. 51776 47', '25691 . 84', '47084 . 48', '23526.27', '19731 . 39',
       '22500.02', '31849. 24', '10180 .33', '35711 . 58', '15122.77',
       '. 49854 47', '14754 . 49', '. 36844 57', '19949. 77', '47907 .32',
       '27917.11', '36336. 29', '60986.25', '37067. 23', '12926.19',
       '. 25502 48', '82462 . 72', '42832.01', '31759.01', '54432. 11',
       '54266. 82', '61572 . 36', '47422 .5', '16185 . 79', '21304 .32',
       '17995.3', '26578 . 19', '25888.9', '72935.2', '35053 . 39',
       '8262 . 48', '35268 . 32', '28847. 62', '27445.47', '24262 . 84',
       '58048 . 12', '. 15475 66', '. 24593 28', '39549 . 12',
       '. 83845 96', '15129 . 35', '33630 . 05', '17453.05', '53167 . 65',
       '50205. 33', '13639 . 92', '35013 . 22', '38999 . 68', '33417.3',
       '20700 .', '79673. 63', '18768 . 19', '16190 . 07', '10201 . 15',
       '22767 . 08', '30825.86', '56171 . 54', '8476. 39', '44176. 06',
       '13956 .69', '21555 . 77', '15176. 73', '41406.24', '7377 . 85',
       '13729 . 7', '68361. 71', '39818 .28', '40613. 15', '37578 . 58',
       '83055 . 97', '14203. 37', '15793 . 69', '29336 . 88', '42816.96',
       '8372. 33', '28756 . 86', '12869 . 05', '78719.87', '9837 . 32',
       '10671 . 76', '6849 . 54', '63715 . 05', '58315. 11', '21691 .41',
       '6361 . 48', '14810.32', '30472 . 53', '20420 . 18', '13170 . 2',
       '29064 . 37', '- 7 10259', '17240 . 32', '.48 7189', '.7 53593',
       '5 27939.', '. 21391 73', '32851 . 78', '. 33623 08', 'tax 8 4 23',
       '10537 .', '9 - 35212', '25300. 52', '64208 . 31', '31971 .4',
       '55649 . 45', '. 53733 28', '. 9981 38', '. 52743 48', '33327 01',
       '18781 . 25', '15500- 28', '23823 . 9', '25595 -37', '10105 . 38',
       '4 6304', '23056. 07', '10196.83', '24286.89', '16749.58',
       '31818.62', '50567.23', '41434.61', '10041.55', '18844.28',
       '36969.31', '20111.26', '29347.38', '24582.68', '14732.21',
       '14829.48', '71288.69', '7750.26', '24991.41', '43415.1',
       '68443.11', '50219.14', '15340.3', '59835.97', '22307.33',
       '12096.63', '48546.09', '15540.51', '17021.97', '67003.47',
       '12730.22', '59149.63', '24968.78', '73449.38', '29617.95',
       '47393.74', '27993.41', '28361.15', '56403.34', '74105.55',
       '7191.74', '35009.12', '64354.8', '63904.04', '20001.02',
       '16185. 79', '13737 . 59', '19949 . 77', '13931 . 42',
       '21304 . 32', '23071 .', '25691 .84', '29111 . 03', "46370 . 6'",
       '44616.57', '8052 . 07', '17590 . 9:', '14494 . 63', '44303.9',
       '42990 . 16', '17030 .96', '25838.0', '40735 . 93', '26111 . 63',
       '62909. 72', '18512 . 46', '38962 . 35', '22848 .34', '9314 . 57',
       '22500 . 0', '44688 . 45', '18081 .71', '17562 96', '22729 . 48',
       '19100 .86', '12092 .55', '36844 57', '18990 . 76', '31849 . 24',
       '28847 . 62', '8440 4', '17995 . 3', '16579 .87', '49242 . 6',
       '12066.96', '24593 . 28', '12347 . 78'], dtype=object)

In [329]:
## clean the box2FederalIncomeTaxWithheld
extracted_entities_df['box2FederalIncomeTaxWithheld'] = extracted_entities_df['box2FederalIncomeTaxWithheld'].apply(clean_wages_tips)

In [330]:
## unique values of box2FederalIncomeTaxWithheld
extracted_entities_df['box2FederalIncomeTaxWithheld'].unique()

array(['16030.73', '79673.63', '2037.04', '34772.33', '36048.57',
       '27867.37', '27685.88', '8956.53', '3145216', '.2164749',
       '58315.11', '14203.37', '8742.14', '25185.41', '372.33', '2264008',
       '33307.15', '2768482.', '6361.48', '69690.62', '13956.69',
       '12816.96', '50493.52', '30202.77', '53204.08', '36376.97',
       '30830.64', '21691.41', '24033.1', '1916296', '18020.68',
       '77307.24', '6869.48', '32329.36', '3055.97', '8573.3', '22647.72',
       '53542.66', '42029.25', '89023.98', '40015.89', '12173.02',
       '22323.54', '12869.05', '14362.51', '58277.56', '1047176',
       '22767.08', '21555.77', '32937.66', '25188.98', '71983.53',
       '14176.06', '5301074', '27590.47', '13927.58', '7688169',
       '39253.58', '61772.03', '35079.8', '26555.05', '18632.27',
       '11263.03', '58009.94', '50205.33', '65077.04', '1020115',
       '32210.53', '64756.22', '22743.73', '4524841', '18118.1',
       '63167.46', '38786.94', '184416', '35103.79', '38302.53',
       '2410161', '24819.21', '39818.28', '8877.69', '11182.93',
       '23117.24', '21444.59', '75109.88', '53976.11', '29336.88',
       '19111.2', '54302.5', '24407.6', '51244.41', '36172.8', '34622.59',
       '36849.56', '19040.33', '30996.51', '18350.67', '65640.99',
       '35687.82', '45970.0', '.5313295', '36159.81', '1220299', 0,
       '998138', '15724.51', '10371.99', '16828.54', '2445332',
       '12233.56', '6528.67', '36106.47', '.2067811', '.1053767',
       '6700.29', '37810.86', '24495.57', '13889.11', '319714',
       '33327.01', '96159.02', '5052336', '13170.2', '41401.36',
       '16579.35', '.8740050', '32961.78', '22335.46', '29030.74',
       '54879.51', '22779.72', '.2635566', '.0255912', '23789.22',
       '24998.29', '.5528107', '60177.01', '20612.08', '4864734',
       '.3729889', '.2755541', '54436.6', '2', '35212.96', '1067069',
       '2705304', '28361.15', '52697.67', '30749.57', '70369.09',
       '53987.44', '1702197', '69544.26', '59784.88', '23032.47',
       '27993.41', '14534.75', '21209.46', '61615.17', '39092.15',
       '12724.0', '30779.81', '35494.65', '52569.93', '24968.78',
       '73449.38', '29617.95', '22110.14', '1426.05', '63800.28',
       '10223.79', '58593.47', '59262.82', '50567.23', '10372.30',
       '34561.77', '35009.12', '36225.34', '36367.43', '28985.52',
       '48261.07', '34142.49', '52062.86', '18992.61', '47393.74',
       '18541.17', '30825.86', '83617.73', '14432.88', '.1356565',
       '27072.16', '10041.55', '24582.68', '12349.69', '14732.21',
       '35693.38', '7191.74', '18020.6', '10836.76', '59835.97',
       '11444.41', '33806.92', '44250.9', '9507.66', '34558.74',
       '36441.60', '33913.22', '22307.33', '30162.58', '10064.6',
       '20001.02', '35884.32', '23013.25', '52211.18', '48973.11',
       '23986.4', '27086.41', '39444.42', '27986.01', '50063.59',
       '33660.7', '71206.69', '34883.22', '17704.07', '59433.67',
       '42985.42', '47576.87', '50219.14', '12117.21', '29152.73',
       '19094.37', '19994.47', '56872.29', '29116.52', '14648.1',
       '20695.1', '9550.74', '55164.76', '59149.63', '43415.1',
       '29265.86', '13910.36', '11800.02', '881441.', '47320.49',
       '8139.51', '15417.56', '48071.11', '47202.05', '13737.59',
       '31784.67', '23211.41', '23071.51', '11812.12', '19101.26',
       '.2367533', '35168.54', '32246.83', '44303.9', '8440.4',
       '25208.85', '19892.62', '18821.88', '27099.7', '97761.36',
       '69050.09', '17030.96', '35094.48', '24265.84', '8350.67',
       '7493.91', '49893.29', '46604.05', '25686.19', '45414.72',
       '61783.77', '33295.25', '64741.62', '66108.17', '9862.26',
       '24474.05', '9681.91', '75230.46', '24172.22', '34415.0',
       '26540.39', '23355.58', '68550.27', '.5177647', '25691.84',
       '47084.48', '23526.27', '19731.39', '22500.02', '31849.24',
       '10180.33', '35711.58', '15122.77', '.4985447', '14754.49',
       '.3684457', '19949.77', '47907.32', '27917.11', '36336.29',
       '60986.25', '37067.23', '12926.19', '.2550248', '82462.72',
       '42832.01', '31759.01', '54432.11', '54266.82', '61572.36',
       '47422.5', '16185.79', '21304.32', '17995.3', '26578.19',
       '25888.9', '72935.2', '35053.39', '8262.48', '35268.32',
       '28847.62', '27445.47', '24262.84', '58048.12', '.1547566',
       '.2459328', '39549.12', '.8384596', '15129.35', '33630.05',
       '17453.05', '53167.65', '13639.92', '35013.22', '38999.68',
       '33417.3', '20700.', '18768.19', '16190.07', '10201.15',
       '56171.54', '8476.39', '44176.06', '15176.73', '41406.24',
       '7377.85', '13729.7', '68361.71', '40613.15', '37578.58',
       '83055.97', '15793.69', '42816.96', '8372.33', '28756.86',
       '78719.87', '9837.32', '10671.76', '6849.54', '63715.05',
       '14810.32', '30472.53', '20420.18', '29064.37', '710259',
       '17240.32', '.487189', '.753593', '527939.', '.2139173',
       '32851.78', '.3362308', '8423', '10537.', '935212', '25300.52',
       '64208.31', '31971.4', '55649.45', '.5373328', '.998138',
       '.5274348', '3332701', '18781.25', '1550028', '23823.9', '2559537',
       '10105.38', '46304', '23056.07', '10196.83', '24286.89',
       '16749.58', '31818.62', '41434.61', '18844.28', '36969.31',
       '20111.26', '29347.38', '14829.48', '71288.69', '7750.26',
       '24991.41', '68443.11', '15340.3', '12096.63', '48546.09',
       '15540.51', '17021.97', '67003.47', '12730.22', '56403.34',
       '74105.55', '64354.8', '63904.04', '13931.42', '23071.',
       '29111.03', '46370.6', '44616.57', '8052.07', '17590.9',
       '14494.63', '42990.16', '25838.0', '40735.93', '26111.63',
       '62909.72', '18512.46', '38962.35', '22848.34', '9314.57',
       '22500.0', '44688.45', '18081.71', '1756296', '22729.48',
       '19100.86', '12092.55', '3684457', '18990.76', '84404', '16579.87',
       '49242.6', '12066.96', '24593.28', '12347.78'], dtype=object)

In [331]:
extracted_entities_df.isnull().sum()

employerName                           0
employerAddressStreet_name             0
employerAddressCity                    0
employerAddressState                   0
employerAddressZip                     0
einEmployerIdentificationNumber        0
employeeName                           0
ssnOfEmployee                          0
box1WagesTipsAndOtherCompensations     0
box2FederalIncomeTaxWithheld           0
box3SocialSecurityWages               55
box4SocialSecurityTaxWithheld         62
box16StateWagesTips                   57
box17StateIncomeTax                   47
taxYear                               55
dtype: int64

- Now we will move tp the column 'box3SocialSecurityWages '

In [332]:
## null values of box3SocialSecurityWages
extracted_entities_df['box3SocialSecurityWages'].isnull().sum()

np.int64(55)

In [333]:
## rows with null values of box3SocialSecurityWages
extracted_entities_df[extracted_entities_df['box3SocialSecurityWages'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
9,Steven Thompson,3176 Jonathan Oval,West Jeffreyberg,MN,15743-9552,UNKNOWN_EIN,80-1366099,595-45-6525,201325.11,.2164749,NaN,17671 57,104055 99,9745 69,2019
46,French 104 and See,22463 moreno Stream,Victoriabury,FA,90146-9103,UNKNOWN_EIN,Katie Hensley,000-00-0000,49239.09,1047176,NaN,1012.09,39034.35,2306.07,2019
118,Johnson Inc Group,90404 Anita Club Suite 751,Guerreroville,PA,14463-7391,93-9684825,aron Kennedy,000-00-0000,0,12233.56,NaN,7689. 93,49309.57,3808.35-,2018
121,Terry Group Inc,207 Lisa Underpass Suite 644,Port Kendra,CO,64443-3719,57-4496004,Kimberly Meyer,458-59-1504,0,0,NaN,NaN,36972.4,2925.99,2018
124,"Bradshaw, Richards and Dalton PLC",584 Jones Throughway,East Shelbyfort,VT,75319-9486,65-7930490,Eric Hernandez,453-01-2098,0,36106.47,NaN,10563.28,. 59328 91,5932 .34,2018
136,"Nichols, Mcneil and Tucker Ltd",21549 stacy Dale Apt. 666,North Martin,VT,00619-4867,75-5648282,Patrick Hoover,000-00-0000,17273002,319714,NaN,15383 65,78546.76,4381 .43,2018
146,Lopez-Daniel PLC,47076 Jonathan Mountain,West Pamela,DE,88415 - 0981,37-9520497,Lauren Vance,811-27-0825,80,0,NaN,NaN,6 36315.,98 1653.,2018
157,Reed Group Group,por Jones Fall,Brad,MA,49272 -0415,UNKNOWN_EIN,Michelle Cannon,000-00-0000,41686.29,0,NaN,NaN,22398 .54,NaN,2018
164,Ortega-Hayden and,$540 Beat Spring Apt. 471,Laurafurt,IN,40913-5681,UNKNOWN_EIN,Candice,000-00-0000,0,0,NaN,NaN,NaN,NaN,2018
166,Garcia and Sons Grow,929 Chapman Talands,Unknown,Unknown,Unknown,UNKNOWN_EIN,Faaneta,000-00-0000,0,0,NaN,NaN,NaN,NaN,2018
168,Martin-Lee PLC,2709 Travis Lakes,Whitefort,WI,55196-2712,23-3804616,Connor Medina,722-96-7683,180517.28,54879.51,NaN,17913.85,90966.53,5077 64,2018
173,Clayton and Ramirez Led,7553 Bates Rest Suite 521,West Trevormouth,MV,12524-2457,UNKNOWN_EIN,Jennifer Carter,000-00-0000,0,0,NaN,NaN,NaN,9433.4,2018
175,Davis-Douglas and Sons,054 Lane Vista Apt. 056,Alexanderland,IL,22806-8430,50-4959379,Emily Hamilton,487-42-2012,0,.2635566,NaN,7299 .77,49756 . 6,. 3942 79,2018
184,Sanchez-Rice Ltd,706 Matthew Greens,South Melissaside,MO,90311-4687,03-7742861,Jeremy Brown,000-00-0000,0,20612.08,NaN,6659.32,. 40377 61,. 3152 73,2018
189,lester and does Ta,987 Townsend Spray,Lake Anthear,Unknown,06179-5945,UNKNOWN_EIN,michael Andrade,000-00-0000,0,0,NaN,NaN,NaN,NaN,2018
194,"Smith, Morales and Gates LLC",1698 Harrison Mission,West Dennisview,NY,30232-7204,75-5356392,Alexis Sexton,000-00-0000,0,35212.96,NaN,11579.53,86280 . 81,4623 .79,2018
195,"Mason, Mejia and Mitchell Lid",31658 Stevenson Meadow Apt. 729,New Matthew,NY,73479-0478,98-1743706,Angela Warren,698-35-0143,0,1067069,NaN,6620.0,46664.,3245.08,2018
196,"Inc Phillips, Brown and Hartman",88614 Bowman Greens,Port Christopherview,AL,16116-5700,44-1028453,Krystal Pena,560-44-5950,205961.82,0,NaN,NaN,NaN,5361. 89,2018
212,Larsen and Sons Ltd,5710 Erin Inlet Apt. 472,North Nicholas,GA,44118-2289,34-3640687,Michael Harrington,000-00-0000,206318.49,21209.46,NaN,. 20169 68,. 102784 68,. 9244 54,2018
375,Carpenter-Lopes and Side,170 Smith Dale Apt. 422,Unknown,Unknown,Unknown,UNKNOWN_EIN,Scott Martin,415-10-1039,147042.26,0,NaN,$716.46,NaN,NaN,2018
381,"Alvarez, Milos and Grant PLC",603 Janie Rapids,Meat Brian,ND,93513-9121,$9-0141149,Beth Bart,246-91-2924,241879.54,0,NaN,19276.3,NaN,NaN,2018
392,"Mccarthy, Washington and Larson Group",6192 Cox Stravenue Suite 884,South Jonathan,NY,55821-0677,48-1135308,Brandon Hawkins,074-66-5545,123565.85,.1547566,NaN,. 7628 47,"63302, 281",4492 .14,2018
450,Rogers LLC PLC,024 Young Unions,Port Donald,SC,99938-3971,25-9239875,Rachel,125-35-0590,118300.92,13170.2,NaN,2 tax 62 6 54,NaN,4481 .22,2018
451,"Shelton, Castillo and Beard Group",39497 Jacob Fork,North Matthew,ND,21793-7969,84-3289694,Dr. Alexis,000-00-0000,226374.13,29064.37,NaN,NaN,123932.43,5714 -37,2018
454,Rodriguez-Vance Itd,58439 Jam,Brendaburgh,MD,71724-2256,32-0889196,Mary Oliver,000-00-0000,52705.24,17240.32,NaN,NaN,32557. 07,NaN,2018
455,Townsend Group Itd,141 Lloyd Ville Apt. 091,iazchester,MA,82518 - 4831,81-9019677,Dr. David,795-07-5278,21213961,0,NaN,NaN,"3 tips etc ,",. 60 94 99,2018
456,Castillo-Schroeder PLC,151 Thomas Ville Apt. 019,Nest Isaiahmouth,MO,40729-7558,95-0812195,Erica Lee,000-00-0000,4847715.,.487189,NaN,NaN,"tips: $6, 23",NaN,2018
457,Griffin-Howard Ltd,1833 Raymond Street Suite 23,Jasonland,IA,67148-6396,92-4122293,Randy Calhoun,097-08-6995,0,.753593,NaN,NaN,101610 . 23,NaN,2018
458,"Lopez, Gross and Dominguez and Sons",85666 Allen Street,Coreychester,ME,71257-3942,52-8013713,Matthew Ingram,000-00-0000,122581.04,527939.,NaN,NaN,NaN,2178.76,2018
460,Lane -Williams Inc,5071 Anderson Stravenue,East Josephland,DE,22582-4266,42-0706879,Whitaker,000-00-0000,140016.39,0,NaN,NaN,tips. 95 94,NaN,2018
461,Johnson Inc Group,90404 Anita Club Suite 751,Guerreroville,PA,14463-7391,93-9684820,Aaron Kennedy,000-00-0000,8398227.,0,NaN,NaN,49309. 57,NaN,2018
462,"waters by dress,",1867 Lisa Highway,stephaniemouth,KS,98923-0294,33-4675845,Alexis Anderson,212-81-6129,0,0,NaN,NaN,NaN,NaN,2018
464,White -Harris Group,5833 Rivera Fords,Port Leslie,AL,28839-0600,15-9365410,Mitchell Kirk,000-00-0000,5184746.,0,NaN,NaN,NaN,3656.46,2018
465,Sawyer-Harmon PLC,00 Valerie Summit Apt. 981,East Patriciaview,MN,91506-2521,57-6393177,Stewart,035-51-2588,147640.25,32851.78,NaN,NaN,NaN,NaN,2018
468,Robbins-Cortez and Sons,340 Molina Rue Apt. 983,lewmanborough,wy,07511 -6306,40-0499557,Steven Schneider,000-00-0000,130327.06,.3362308,NaN,NaN,NaN,NaN,2018
469,"Jacobson, Hart and Terry Inc",683 Geoffrey Island Suite 038,last Jeanneville,GA,82171-2434,38-1014654,John Adkins,000-00-0000,114384.92,0,NaN,NaN,82358. 54,5959 .29,2018
471,Hoffman-Gutierrez Lt,38300 Nancy Roads,Jessicaside,WY,69552-5201,58-7007829,Michael Friedman,455-11-6220,158376.77,0,NaN,. 1286 78,79385. 67,NaN,2018
475,Martin-Lee PLC,2709 Travis Lakes,Whitefort,WI,55196-2712,23-3804616,Connor Medina,122-96-7683,0,0,NaN,NaN,NaN,5077.64,2018
476,Unknown,2676 William Mountain,Danielsfort,MN,31233-5510,25-0180103,Kimberly Villanueva,000-00-0000,41345.53,10537.,NaN,NaN,tips. 46 51,. 1483 14,2018
477,"Smith, Morales and Gates LLC",Harrison Mission 1698,West Dennisview,NY,30232 -7204,75-5356392,Alexis Sexton,564-02-8530,0,935212,NaN,NaN,NaN,NaN,2018
479,DAYOR LLC GROUP,773 Miller Wells Suite 955,Test Jonathanshire,CT,44169-8232,30-5841370,Michael,000-00-0000,235428.19,64208.31,NaN,14194 . 83,118605.37,48 . 5328,2018
480,"Nichols , Mcneil and Tucker Itd",21549 Stacy Dale Apt. 666,forth Martin,V,00619-4867,75-5648282,Patrick Hoover,000-00-0000,172730.02,31971.4,NaN,NaN,NaN,.43 4381,2018
481,Barrera Itd Itd,89406 Perez Terrace Apt. 770,Bryanburgh,FL,11330-0145,92-6254111,Linda Hernandez,000-00-0000,.02176835,55649.45,NaN,NaN,NaN,NaN,2018
482,Jackson and Sons Itd,51263 Terri Mission,South Mollyborough,Unknown,35155-9045,04-9363655,Jessica Swanson,000-00-0000,.42105727,0,NaN,NaN,NaN,NaN,2018
485,"Smith, Rose and French Itd",377 David Shoal,forth Anthonychester,Unknown,96961 - 6876,53-9494262,Justin Gonzalez,000-00-0000,53364.86,.998138,NaN,NaN,4 . tips 5,. 2527 01,2018
486,Lee-Wright PLC,80985 Gordon Plain,Scottland,IN,27092-8311,01-0464391,Stanley Robles,335-88-9022,203237.92,.5274348,NaN,2 tax w16 95,NaN,NaN,2018
487,Ayala-Colon Inc,9381 Santiago Divide,savageberg,VA,96529-0481,56-1920993,Joshua Martin,183-90-9886,0,3332701,NaN,NaN,63513. 81,NaN,2018
488,"Cook , Vance and Jones PLC",071 Rachel Spring,Danielmouth,CT,80303-0125,71-2321301,Michael Schwartz,000-00-0000,105531.53,18781.25,NaN,NaN,NaN,NaN,2018
490,Wells Inc Inc,46085 Richard Stream Apt. 837,North Josefurt,IA,19574-8055,48-1656583,Mitchell Gonzales,463-35-7797,64916.31,1550028,NaN,NaN,"tips.,$4 4 43",2440 .89,2018
491,Mendoza-Shaw Inc,528 Marie Light Apt. 186,Lake Stephanie,IN,27601 - 4120,71-7703278,Victor Hayes,005-21-0888,94354.5,23823.9,NaN,NaN,49899. 52,NaN,2018
494,Unknown,35657 James Courts,West Jasmine,NM,04093-1257,68-7884298,Sara Dean,708-85-6052,62278.33,0,NaN,NaN,"tips. 96, 64",- 2832 39,2018
496,Unknown,26427 Harper River Suite 482,forth Garystad,OH,93378-3048,75-9757299,Colleen Morales,000-00-0000,64561.45,10105.38,NaN,NaN,6 33292 .,1755 - 58,2018
497,Livingston Inc PLC,58477 Brown Square Suite 53,Dianetown,NE,52838-2285,64-3586889,John Hernandez,555-40-9458,4628556.,46304,NaN,NaN,24787. 77,2025 .07,2018
498,Unknown,089 Hunter Ford Suite 170,Townsendtown,NY,29893-4846,84-1097895,Alex Warren,000-00-0000,105770.3,0,NaN,NaN,"tips. us , 95",4300.24,2018
499,Arroyo-Cordova Itd,757 Ortega Plain,Diazfurt,NH,53917-6286,30-5492273,Joseph Hayes,000-00-0000,0,23056.07,NaN,NaN,NaN,NaN,2018

In [334]:
## replace all null value with 0
extracted_entities_df['box3SocialSecurityWages'] = extracted_entities_df['box3SocialSecurityWages'].fillna(0)

In [335]:
## unique values of box3SocialSecurityWages
extracted_entities_df['box3SocialSecurityWages'].unique()

array(['120690 . 01', '266460.93', '142194.16', '107449 . 4', '78648.9',
       '134930. 11', '169265. 76', '148385.43', '311331.53', 0,
       '185135.81', '78648 .89', '68693 .82', '237569. 24', '57142.16',
       '135362 . 73', '124704 . 78', '140592 . 87', '62922 01',
       '195254 .17', '98986.25', '184863.25', '164747 . 61', '145706.93',
       '208366.14', '231568 . 73', '113080.31', '100507 . 01', '74643.59',
       '89174 .55', '64477 . 66', '198314.2', '47787.7', '116037 . 05',
       '264095.53', '41870 . 61', '106237 .4', '204715 . 56', '139843.75',
       '292300.83', '109518.2', '89128 . 6', '175056 25', '53551.94',
       '71781 . 15', '270476.7', '202813.67', '138373.31', '188273 . 72',
       '102055 . 28', '178659 . 09', '145758 .21', '186013.35',
       '172287 . 54', '71364 .3', '257701 .51', '242146.8', '228221 . 21',
       '277881.14', '88964 . 12', '46520.43', '65424 .4', '189227.32',
       '164760 .51', '268018 .95', '47408 . 71', '128565.37',
       '186629 . 68', '98064.5', '154855 64', '74656.48', '283590 . 12',
       '124567 . 41', '124328 . 64', '271211.08', '152135. 83',
       '213290 . 79', '120696. 72', '154777.55', '53339.23', '53826. 13',
       '220191 02', '77774. 27', '156871 . 01', '265638.26',
       '144555 . 81', '74810 . 38', '206359.9', '90514.1', '180305 88',
       '253646.73', '. 263801 95', '206844.32', '. 70927 46',
       '270761 . 69', '79386.86', '143359. 66', '179149.07', '142559.99',
       '106398 .05', '133394.53', '47455.25', '193137 .53', '41698 .6',
       '42 44446.', '50639.22', '151578.06', '41868.71', '149344.52',
       '101276.39', '42332 .19', '64222.03', '25931-57', '55084. 58',
       '. 88381 67', '43334 .69', '134133 .34', '. 56 32185', '188844.47',
       '239186.9', '88282 .45', '276923.83', '105676 By', '196389.15',
       '263930.51', '135459.3', '70931.34', '249662. 8a', '169596.95',
       '44270.57', '187014 .51', '228500.77', '155560.6', '97931 37',
       '129428.9', '80330 .0', '226795.94', '168870 .85', '236890.91',
       '218074.14', '227148 .72', '148426.79', '88 Cha8 55', '103868 .31',
       '168193.25', '492security', '91585.04', '207963.37', '86588.28',
       '105238 .52', '239679.0', '104947 . 04', '267545 . 68',
       '234114. 89', '142455 . 83', '242567 . 69', '169581 . 52',
       '167018.27', '131475. 37', '72773.59', '167454. 71', '265916. 06',
       '101442 . 56', '204488.03', '280634.5', '117853.94', '111322 . 05',
       '208770.54', '130117 . 54', '80965 . 34', '71639.61',
       '150473 . 68', '63436 . 14', '196502 . 25', '128851 , 39',
       '118352 . 64', '64652.76', '135240 . 01', '177043 . 07',
       '149428.93', '130527. 85', '30331 . 85', '234610.14', '141074-23',
       '120524 . 65', '122812 . 38', '211281. 72', '84679.79',
       '148589.27', '227228. 51', '74816.9', '74873.26', '118640.22',
       '46101 . 93', '150583 . 84', '55241 . 55', '137852 . 88',
       '86567 . 32', '62590 . 87', '119918 .75', '56051 . 56',
       '159290 .95', '90562 . 66', '180716.07', '. 103522 74',
       '95478 . 80', '159478 . 65', '145126.2', '. 181098 62',
       '77518 .79', '111310 . 47', '64063.69', '96762 . 24',
       '200379 . 52', '100869.26', '117494 . 42', '158800. 38',
       '236745 . 01', '159998 49', '144038 . 83', '281540 . 19',
       '160831. 37', '173334. 74', '236532.35', '142978 . 09',
       '76981 . 85', '264285. 89', '131825.83', '94202.47', '180256.5',
       '117510 . 6', '84 121139', '117100 . 04', '58911.31', '221671.01',
       '100981 85', '28175 . 47', '109938.87', '100885.22', '234196.1',
       '272926 . 45', '205064 . 75', '163773.34', '60512 . 04',
       '62447 . 59', '242349.1', '167262 . 18', '62460.82', '109488 . 73',
       '177235 . 06', '186031 . 14', '67581 . 19', '195805 .25',
       '240373 . 79', '143999 . 61', '38488.12', '89656.29',
       '139070 92 .', '197791 .51', '92380 .86', '164224.1', '68872.82',
       '156841. 98', '115314 . 19', '153223.19', '. 96248 39',
       '203174.18', '137045.22', '60971 . 4', '152083 . 45', '229392.25',
       '99333. 57', '69773.9', '239667 .83', '131835.9', '205118 . 63',
       '115950.28', '223287.32', '132853 . 66', '271548.23', '179834.82',
       '310340 .54', '61044 . 97', '230516. 89', '73828.0', '285381.1',
       '119976.37', '92476. 05', '87827.64', '54386.56', '254895.9',
       '194068. 33', '155413 .52', '189710. 11', '137908-53', '83019. 29',
       '149269.77', '241430 . 8', '66480 .35', '121661. 33', '414913.13',
       '200998 . 41', '42656 .55', '318641 43 .', '. 55900 86',
       '129406 .71', '95518.05', '172141 . 54', '216902.65', '122384. 39',
       '64205.97', '. 257727 16', '213066.7', '142919.65', '212320.63',
       '198156 .84', '205127 . 45', '247097 . 68', '195498 .94',
       '115468 .19', '117462 . 0', '164953 . 29', '117410 . 45',
       '107321 . 18', '161049 . 61', '115349 . 44', '48797.27',
       '123958 .54', '106979.33', '98821.52', '171736 . 78', '254926. 28',
       '147079.3', '237345 . 63', '177411 73 .', '104945.09',
       '60845 . 61', '125006.36', '75958.7', '152471 .53', '59784 . 57',
       '255659 .9', '214469 . 15', '203228 . 85', '74002 . 77',
       '266460. 93', '90665 . 12', '190757 . 1', '202813 .67',
       '266738. 73', '61838 . 42', '145758 . 21', '138373. 31',
       '84792 . 19', '112158.31', '46445 . 92', '104864 . 42',
       '189305. 72', '154777 . 55', '210886.0', '167381 . 65',
       '264895.53', '78648 . 89', '37221 . 41', '57112 . 16',
       '110191 .96', '53551 . 94', '238003.48', '59442 . 95', '49830. 14',
       '57801 . 1', '149168 . 82', '100507. 01', '62922 . 01',
       '78820 .12', '273679.51', '161580 . 72', '79386 . 86',
       '118736 . 68', '69010. 85', '207353 .37', '. 49143 87',
       '85330 . 78', '228500 74', '141392 43', '. 181331 86Wa',
       '167356 54', '153058 .37', '127715 89', '26245Curity',
       '13523 purity', '. 133137 69Wa', '177435 74', '227148 . 72',
       '50031.1', '57427.67', '123207.9', '201165.32', '118352.64',
       '150840.93', '46101.93', '133200.83', '184831.19', '200379.52',
       '68605.05', '236745.01', '255879.4', '150583.84', '137852.88',
       '32567.62', '93382.49', '130311.08', '205064.75', '231780.5',
       '104087.79', '159290.95', '77518.79', '68737.21', '112158.18',
       '82512.35', '80965.34', '142455.83', '292635.29', '119617.25',
       '272926.45', '160831.37', '111322.05', '130117.54', '211281.72',
       '131475.37', '105238.52', '147389.57', '227572.95', '104947.04',
       '62590.87', '177043.07', '158200.2', '150330.34', '96762.24',
       '115468 . 19', '55900 .86', '189710 . 11', '96331 . 05',
       '117462.0', '254926 .28', '155413 . 52', '199418 .35',
       '240373. 79', '129457 . 05', '152083 45', '222566 66', '44181 . 0',
       '111450 .6', '125006. 36', '67550 . 59', '196702 . 01',
       '108372 .7', '224747. 11', '137908.53', '197791 . 51',
       '127778 . 45', '221226.36', '159830 .71', '194257 .86',
       '212882. 81', '79500 . 41', '149269 .77', '267860. 38', '90562.',
       '182704 . 35', '211306.75', '84718 7', '48584 .37', '318641 . 43',
       '61968 .25', '241430 .8', '106979. 33', '68872 . 82', '17063 . 08',
       '235289.85', '91557 . 44', '120178 .51'], dtype=object)

In [336]:
## clean the box3SocialSecurityWages
extracted_entities_df['box3SocialSecurityWages'] = extracted_entities_df['box3SocialSecurityWages'].apply(clean_wages_tips)

In [337]:
## unique values of box3SocialSecurityWages
extracted_entities_df['box3SocialSecurityWages'].unique()

array(['120690.01', '266460.93', '142194.16', '107449.4', '78648.9',
       '134930.11', '169265.76', '148385.43', '311331.53', 0, '185135.81',
       '78648.89', '68693.82', '237569.24', '57142.16', '135362.73',
       '124704.78', '140592.87', '6292201', '195254.17', '98986.25',
       '184863.25', '164747.61', '145706.93', '208366.14', '231568.73',
       '113080.31', '100507.01', '74643.59', '89174.55', '64477.66',
       '198314.2', '47787.7', '116037.05', '264095.53', '41870.61',
       '106237.4', '204715.56', '139843.75', '292300.83', '109518.2',
       '89128.6', '17505625', '53551.94', '71781.15', '270476.7',
       '202813.67', '138373.31', '188273.72', '102055.28', '178659.09',
       '145758.21', '186013.35', '172287.54', '71364.3', '257701.51',
       '242146.8', '228221.21', '277881.14', '88964.12', '46520.43',
       '65424.4', '189227.32', '164760.51', '268018.95', '47408.71',
       '128565.37', '186629.68', '98064.5', '15485564', '74656.48',
       '283590.12', '124567.41', '124328.64', '271211.08', '152135.83',
       '213290.79', '120696.72', '154777.55', '53339.23', '53826.13',
       '22019102', '77774.27', '156871.01', '265638.26', '144555.81',
       '74810.38', '206359.9', '90514.1', '18030588', '253646.73',
       '.26380195', '206844.32', '.7092746', '270761.69', '79386.86',
       '143359.66', '179149.07', '142559.99', '106398.05', '133394.53',
       '47455.25', '193137.53', '41698.6', '4244446.', '50639.22',
       '151578.06', '41868.71', '149344.52', '101276.39', '42332.19',
       '64222.03', '2593157', '55084.58', '.8838167', '43334.69',
       '134133.34', '.5632185', '188844.47', '239186.9', '88282.45',
       '276923.83', '105676', '196389.15', '263930.51', '135459.3',
       '70931.34', '249662.8', '169596.95', '44270.57', '187014.51',
       '228500.77', '155560.6', '9793137', '129428.9', '80330.0',
       '226795.94', '168870.85', '236890.91', '218074.14', '227148.72',
       '148426.79', '88855', '103868.31', '168193.25', '492', '91585.04',
       '207963.37', '86588.28', '105238.52', '239679.0', '104947.04',
       '267545.68', '234114.89', '142455.83', '242567.69', '169581.52',
       '167018.27', '131475.37', '72773.59', '167454.71', '265916.06',
       '101442.56', '204488.03', '280634.5', '117853.94', '111322.05',
       '208770.54', '130117.54', '80965.34', '71639.61', '150473.68',
       '63436.14', '196502.25', '12885139', '118352.64', '64652.76',
       '135240.01', '177043.07', '149428.93', '130527.85', '30331.85',
       '234610.14', '14107423', '120524.65', '122812.38', '211281.72',
       '84679.79', '148589.27', '227228.51', '74816.9', '74873.26',
       '118640.22', '46101.93', '150583.84', '55241.55', '137852.88',
       '86567.32', '62590.87', '119918.75', '56051.56', '159290.95',
       '90562.66', '180716.07', '.10352274', '95478.80', '159478.65',
       '145126.2', '.18109862', '77518.79', '111310.47', '64063.69',
       '96762.24', '200379.52', '100869.26', '117494.42', '158800.38',
       '236745.01', '15999849', '144038.83', '281540.19', '160831.37',
       '173334.74', '236532.35', '142978.09', '76981.85', '264285.89',
       '131825.83', '94202.47', '180256.5', '117510.6', '84121139',
       '117100.04', '58911.31', '221671.01', '10098185', '28175.47',
       '109938.87', '100885.22', '234196.1', '272926.45', '205064.75',
       '163773.34', '60512.04', '62447.59', '242349.1', '167262.18',
       '62460.82', '109488.73', '177235.06', '186031.14', '67581.19',
       '195805.25', '240373.79', '143999.61', '38488.12', '89656.29',
       '13907092.', '197791.51', '92380.86', '164224.1', '68872.82',
       '156841.98', '115314.19', '153223.19', '.9624839', '203174.18',
       '137045.22', '60971.4', '152083.45', '229392.25', '99333.57',
       '69773.9', '239667.83', '131835.9', '205118.63', '115950.28',
       '223287.32', '132853.66', '271548.23', '179834.82', '310340.54',
       '61044.97', '230516.89', '73828.0', '285381.1', '119976.37',
       '92476.05', '87827.64', '54386.56', '254895.9', '194068.33',
       '155413.52', '189710.11', '13790853', '83019.29', '149269.77',
       '241430.8', '66480.35', '121661.33', '414913.13', '200998.41',
       '42656.55', '31864143.', '.5590086', '129406.71', '95518.05',
       '172141.54', '216902.65', '122384.39', '64205.97', '.25772716',
       '213066.7', '142919.65', '212320.63', '198156.84', '205127.45',
       '247097.68', '195498.94', '115468.19', '117462.0', '164953.29',
       '117410.45', '107321.18', '161049.61', '115349.44', '48797.27',
       '123958.54', '106979.33', '98821.52', '171736.78', '254926.28',
       '147079.3', '237345.63', '17741173.', '104945.09', '60845.61',
       '125006.36', '75958.7', '152471.53', '59784.57', '255659.9',
       '214469.15', '203228.85', '74002.77', '90665.12', '190757.1',
       '266738.73', '61838.42', '84792.19', '112158.31', '46445.92',
       '104864.42', '189305.72', '210886.0', '167381.65', '264895.53',
       '37221.41', '57112.16', '110191.96', '238003.48', '59442.95',
       '49830.14', '57801.1', '149168.82', '62922.01', '78820.12',
       '273679.51', '161580.72', '118736.68', '69010.85', '207353.37',
       '.4914387', '85330.78', '22850074', '14139243', '.18133186',
       '16735654', '153058.37', '12771589', '26245', '13523', '.13313769',
       '17743574', '50031.1', '57427.67', '123207.9', '201165.32',
       '150840.93', '133200.83', '184831.19', '68605.05', '255879.4',
       '32567.62', '93382.49', '130311.08', '231780.5', '104087.79',
       '68737.21', '112158.18', '82512.35', '292635.29', '119617.25',
       '147389.57', '227572.95', '158200.2', '150330.34', '55900.86',
       '96331.05', '199418.35', '129457.05', '15208345', '22256666',
       '44181.0', '111450.6', '67550.59', '196702.01', '108372.7',
       '224747.11', '137908.53', '127778.45', '221226.36', '159830.71',
       '194257.86', '212882.81', '79500.41', '267860.38', '90562.',
       '182704.35', '211306.75', '847187', '48584.37', '318641.43',
       '61968.25', '17063.08', '235289.85', '91557.44', '120178.51'],
      dtype=object)

In [338]:
extracted_entities_df.isnull().sum()

employerName                           0
employerAddressStreet_name             0
employerAddressCity                    0
employerAddressState                   0
employerAddressZip                     0
einEmployerIdentificationNumber        0
employeeName                           0
ssnOfEmployee                          0
box1WagesTipsAndOtherCompensations     0
box2FederalIncomeTaxWithheld           0
box3SocialSecurityWages                0
box4SocialSecurityTaxWithheld         62
box16StateWagesTips                   57
box17StateIncomeTax                   47
taxYear                               55
dtype: int64

- Now we will move to column   `box4SocialSecurityTaxWithheld`

In [340]:
## null values of box4SocialSecurityTaxWithheld
extracted_entities_df['box4SocialSecurityTaxWithheld'].isnull().sum()

np.int64(62)

In [341]:
## rows with null values of box4SocialSecurityTaxWithheld
extracted_entities_df[extracted_entities_df['box4SocialSecurityTaxWithheld'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
120,"Mcdaniel, Wood",88524 Sandra Ferry,Aprilhaven,VT,61714-2674,13-2131329,Thomas Robinson,444-72-5153,0,0,2593157,NaN,citing,4132.54,2018
121,Terry Group Inc,207 Lisa Underpass Suite 644,Port Kendra,CO,64443-3719,57-4496004,Kimberly Meyer,458-59-1504,0,0,0,NaN,36972.4,2925.99,2018
139,Ayala-Colon Inc,9381 santiago Divide,Savageberg,VA,96529-0481,66-1920593,Joshua Martin,183-90-9286,118662.94,33327.01,105676,NaN,NaN,NaN,2018
142,"Terry, Brown and Clark Led",7463 Brent Green,Carterport,MA,25746-0106,UNKNOWN_EIN,stacie Bruce,000-00-0000,236316.14,96159.02,196389.15,NaN,4 tiphilly,3134.07,2018
145,Davis PLC Ltd,4072 Hart Cove Suite 439,East Aaron,NY,36912-4324,22-1094092,Lisa Baker,000-00-0000,843459,0,70931.34,NaN,44234.11,5244. 97,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Knight Lewis and Sons,245 Shannon Vista,East Austin,UT,72161-6403,54-4891082,. Alexis,000-00-0000,182018.87,0,227148.72,NaN,93839. 57,NaN,2018
496,Unknown,26427 Harper River Suite 482,forth Garystad,OH,93378-3048,75-9757299,Colleen Morales,000-00-0000,64561.45,10105.38,0,NaN,6 33292 .,1755 - 58,2018
497,Livingston Inc PLC,58477 Brown Square Suite 53,Dianetown,NE,52838-2285,64-3586889,John Hernandez,555-40-9458,4628556.,46304,0,NaN,24787. 77,2025 .07,2018
498,Unknown,089 Hunter Ford Suite 170,Townsendtown,NY,29893-4846,84-1097895,Alex Warren,000-00-0000,105770.3,0,0,NaN,"tips. us , 95",4300.24,2018
499,Arroyo-Cordova Itd,757 Ortega Plain,Diazfurt,NH,53917-6286,30-5492273,Joseph Hayes,000-00-0000,0,23056.07,0,NaN,NaN,NaN,2018

In [344]:
## unique values of box4SocialSecurityTaxWithheld
extracted_entities_df['box4SocialSecurityTaxWithheld'].unique()

array(['9232 . 79', '20384.26', '10877.85', '8219. 88', '6016 64',
       '10322 . 15', '12948.83', '. 11351 49', '23816.86', '17671 57',
       '14162.89', '6016 . 64', '5255 . 08', '18174 . 05', '4369.08',
       '10355 . 25', '9539 .92', '10755 . 35', '4813.53', '14936 . 94',
       '7572 45', '14142 . 04', '12603. 19', '11146.58', '15940 . 01',
       '17715 01', '8650 . 64', '7688. 79', '5710 .23', '6821 85',
       '4932 . 54', '15171 . 04', '3655. 76', '8876.83', '20264.51',
       '3203.1', '8127 .16', '15660 . 74', '10698.05', '22361 . 01',
       '8378.14', '6818 .34', '13391 8', '4096.72', '5491 . 26',
       '20691 . 47', '1012.09', '15515.25', '10585 . 56', '14402 . 94',
       '7807.23', '13667 . 42', '11150.5', '14230.02', '13180 . 0',
       '5459.37', '19714 . 17', '18524 .23', '17458 . 92', '21257. 91',
       '6805 . 76', '3558 . 81', '5004 . 97', '14475 . 89', '12604 18',
       '20503 . 45', '3626. 77', '9835.25', '14277 . 17', '7501 . 93',
       '11846 46', '5711.22', '21694 . 64', '9529 . 41', '9511 . 14',
       '20747. 65', '11638.39', '16316 . 75', '9233.3', '11840 . 48',
       '4080 . 45', '4117 . 7', '16844 . 61', '5949.73', '12000 . 63',
       '20321. 33', '11058 .52', '5722 . 99', '15786.53', '6924.33',
       '13793 . 4', '19403 .97', '20180 .85', '15823.59', '5425.95',
       '20713.27', '6073 . 09', '10967 . 01', '13704.9', '10905 .84',
       '8139 .45', '10204 68', '3630.33', '14775.02', '3189.94',
       '3400.15', '3873.9', '11595. 72', '3202 .96', '13424.86',
       '7747 .64', '3238.41', '7689. 93', '4912.99', nan, '4213. 97',
       '10563.28', '6761.2', '3315 .1', '10261 .2', '2462.23', '14446.6',
       '18297.8', '6753. 61', '15383 65', '21189.26', '20191.3',
       '10362. 64', '19099.21', '12574 .17', '3346.7', '14306. 61',
       '17480 . 31', '11909.39', '7491.75', '. 9901 31', '17913.85',
       '6145.24', '7299 .77', '17349.89', '12918 62', '18122.15',
       '. 16682 67', '17376.88', '6659.32', '11354. 65', '7945.93',
       '37syithheld', '7006.26', '11579.53', '6620.0', '15909.2',
       '6624.0', '. 75 8050', '18335 . 44', '. 8028 45', '20467 . 24',
       '. 79 17909', '10897. 87', '10556.43', '12972 . 99', '12776. 9',
       '10057 .87', '5567 18', '. 20169 68', '12810.29', '20419 . 08',
       '7760 . 36', '15643.33', '21468 .54', '9015 . 83', '8516. 14',
       '15970 . 95', '9953 . 99', '6193 . 85', '5490-43', '11511 .24',
       '4852 , 86', '15032 . 42', '9857. 13', '9053 . 98', '3416.01',
       '10345 . 86', '13543. 79', '11431.31', '9985 . 38', '6145. 39',
       '17947 . 68', '10792 . 18', '9220.14', '9395 . 15', '16163 . 05',
       '6478.0', '11367 .08', '17382 . 98', '5723 . 49', '5727 .8',
       '9091.28', '3526 . 8', '11519 . 66', '4225 . 98', '10545.75',
       '6622 . 4', '4788 .2', '9173. 78', '4287 . 94', '12185 . 76',
       '6928 . 04', '13824. 78', '7919. 49', '7304. 13', '12200 .12',
       '14521-7', '5930 . 19', '8515 .25', '4900.87', '7402 . 31',
       '15329 . 03', '7716.5', '8988 .32', '12148.23', '18110.99',
       '12239.88', '11018. 97', '21537 . 82', '6 12303.', '13260 . 11',
       '10094 .72', '10937 . 82', '5889 . 11', '20217.87', '10084 . 68',
       '7345.61', '13789. 62', '8989 . 56', '9267.2', '8958 .15',
       '4506.72', '16957.83', '7725. 11', '6745 . 42', '8410.32',
       '7717.72', '17916.0', '20878 .87', '15687 . 45', '. 12528 66',
       '4629. 17', '4777 . 24', '18539. 71', '12795 . 56', '4778.25',
       '8375 . 89', '13558 . 48', '14231 . 38', '5169 . 96', '14979.1',
       '18388.59', '11015 .97', '2944 . 34', '6858.71', '10638 .93',
       '15131 . 05', '7067 . 14', '12563.14', '5268.77', '11998 . 41',
       '8821 .54', '11721.57', '. 7363 0', '21642.02', '4664 .31',
       '11634 . 38', '17548.51', '7599 . 02', '5337.7', '18334.59',
       '10085 . 45', '15691 . 58', '$873.26', '17081 .48', '10163.3',
       '13757.36', '23741 . 05', '4669.94', '17634 .54', '5647 . 84',
       '21831 . 65', '9178 . 19', '7074 . 42', '6718.81', '4160.57',
       '19499 . 54', '14846.23', '11889.13', '14512 . 82', '10550.0',
       '6350 . 98', '11419-14', '18469. 46', '5085 . 75', '9307 . 09',
       '8790.85', '. 15376 38', '3263 . 23', '24376 . 07', '. 4276 42',
       '9899 . 61', '7307.13', '13168 .83', '16593.05', '9362 . 41',
       '4911 .76', '19716. 13', '16299 . 6', '10933.35', '16242.53',
       '0 15159 .', '15692 . 25', '$716.46', '18902 .97', '14955 . 67',
       '8833.32', '8985 . 84', '12618 . 93', '19276.3', '8981.9',
       '8210.07', '12320.3', '8824.23', '3732 . 99', '9482 . 83',
       '8183 . 92', '7559.85', '13137 . 86', '19501 . 86', '. 7628 47',
       '11251.57', '18156 . 94', '13572 .0', '14149.03', '4654 . 69',
       '9562. 99', '5810.84', '11664. 07', '12604. 18', '4573. 52',
       '19557 . 98', '16406.89', '15547 . 01', '5661 . 21', '20384. 26',
       '6935 . 88', '14592 . 92', '3626.77', '15515 . 25', '11367.08',
       '18524 . 23', '20405 .51', '4730 . 64', '7572 . 45', '8219 . 88',
       '6486. 6', '15823. 59', '8580.11', '3553 . 13', '8022 . 13',
       '14481 . 89', '16132 . 78', '12804.7', '6016. 64', '2847 . 44',
       '4369. 08', '3429 . 68', '4096. 72', '18207.27', '4547.39',
       '3812 . 01', '4421 . 78', '11411 . 41', '14162. 89', '7688 . 79',
       '6029. 74', '20936. 48', '12360 .93', '6073. 09', '2 tax 62 6 54',
       '2 was 2 4', '. 1286 78', '14194 . 83', '2 tax w16 95', '3827.38',
       '4393.22', '9425.4', '15389.15', '9053.98', '11539.33', '3526.8',
       '10189.86', '14139.59', '15329.03', '5248.29', '19574.77',
       '11519.66', '2491.42', '18094.72', '7143.76', '9968.8', '15687.45',
       '17731.21', '13789.62', '7962.72', '12185.76', '5930.19', '5258.4',
       '8580.1', '6312.19', '6193.85', '10897.87', '22386.6', '9150.72',
       '20878.87', '12303.6', '8516.14', '15970.95', '9953.99',
       '16163.05', '10057.87', '8050.75', '11275.3', '17409.33',
       '8028.45', '4788.2', '13543.79', '9015.83', '12102.32', '11500.27',
       '7402.31', '3833. 32', '1654 . 69', '5169. 96', '276 . 42',
       '7369.33', '19501 86', '11015. 97', '11889. 13', '15255 .5',
       '18388 .59', '9903 . 46', '17026 . 35', '3379.85', '3525.97',
       '9562.99', '5167 . 62', '12563 . 14', '15047 .7', '1664 . 31',
       '3290 .51', '17193 . 15', '10550 0', '9775 . 05', '16923.82',
       '12227 . 05', '14860.73', '16285.53', '6081 . 78', '11419. 14',
       '20491 . 32', '9 6928 .06', '13976 .88', '16164 .97', '6480 . 98',
       '3716.7', '1740 .57', '18469 . 46', '3183. 92', '5268 . 77',
       '3600 . 33', '17999 . 67', '7004 . 14', '11251 57', '9193 . 66'],
      dtype=object)

In [345]:
## replace all null value with 0
extracted_entities_df['box4SocialSecurityTaxWithheld'] = extracted_entities_df['box4SocialSecurityTaxWithheld'].fillna(0)

In [346]:
## clean the box4SocialSecurityTaxWithheld
extracted_entities_df['box4SocialSecurityTaxWithheld'] = extracted_entities_df['box4SocialSecurityTaxWithheld'].apply(clean_wages_tips)

In [347]:
## unique values of box4SocialSecurityTaxWithheld
extracted_entities_df['box4SocialSecurityTaxWithheld'].unique()

array(['9232.79', '20384.26', '10877.85', '8219.88', '601664', '10322.15',
       '12948.83', '.1135149', '23816.86', '1767157', '14162.89',
       '6016.64', '5255.08', '18174.05', '4369.08', '10355.25', '9539.92',
       '10755.35', '4813.53', '14936.94', '757245', '14142.04',
       '12603.19', '11146.58', '15940.01', '1771501', '8650.64',
       '7688.79', '5710.23', '682185', '4932.54', '15171.04', '3655.76',
       '8876.83', '20264.51', '3203.1', '8127.16', '15660.74', '10698.05',
       '22361.01', '8378.14', '6818.34', '133918', '4096.72', '5491.26',
       '20691.47', '1012.09', '15515.25', '10585.56', '14402.94',
       '7807.23', '13667.42', '11150.5', '14230.02', '13180.0', '5459.37',
       '19714.17', '18524.23', '17458.92', '21257.91', '6805.76',
       '3558.81', '5004.97', '14475.89', '1260418', '20503.45', '3626.77',
       '9835.25', '14277.17', '7501.93', '1184646', '5711.22', '21694.64',
       '9529.41', '9511.14', '20747.65', '11638.39', '16316.75', '9233.3',
       '11840.48', '4080.45', '4117.7', '16844.61', '5949.73', '12000.63',
       '20321.33', '11058.52', '5722.99', '15786.53', '6924.33',
       '13793.4', '19403.97', '20180.85', '15823.59', '5425.95',
       '20713.27', '6073.09', '10967.01', '13704.9', '10905.84',
       '8139.45', '1020468', '3630.33', '14775.02', '3189.94', '3400.15',
       '3873.9', '11595.72', '3202.96', '13424.86', '7747.64', '3238.41',
       '7689.93', '4912.99', 0, '4213.97', '10563.28', '6761.2', '3315.1',
       '10261.2', '2462.23', '14446.6', '18297.8', '6753.61', '1538365',
       '21189.26', '20191.3', '10362.64', '19099.21', '12574.17',
       '3346.7', '14306.61', '17480.31', '11909.39', '7491.75', '.990131',
       '17913.85', '6145.24', '7299.77', '17349.89', '1291862',
       '18122.15', '.1668267', '17376.88', '6659.32', '11354.65',
       '7945.93', '37', '7006.26', '11579.53', '6620.0', '15909.2',
       '6624.0', '.758050', '18335.44', '.802845', '20467.24', '.7917909',
       '10897.87', '10556.43', '12972.99', '12776.9', '10057.87',
       '556718', '.2016968', '12810.29', '20419.08', '7760.36',
       '15643.33', '21468.54', '9015.83', '8516.14', '15970.95',
       '9953.99', '6193.85', '549043', '11511.24', '485286', '15032.42',
       '9857.13', '9053.98', '3416.01', '10345.86', '13543.79',
       '11431.31', '9985.38', '6145.39', '17947.68', '10792.18',
       '9220.14', '9395.15', '16163.05', '6478.0', '11367.08', '17382.98',
       '5723.49', '5727.8', '9091.28', '3526.8', '11519.66', '4225.98',
       '10545.75', '6622.4', '4788.2', '9173.78', '4287.94', '12185.76',
       '6928.04', '13824.78', '7919.49', '7304.13', '12200.12', '145217',
       '5930.19', '8515.25', '4900.87', '7402.31', '15329.03', '7716.5',
       '8988.32', '12148.23', '18110.99', '12239.88', '11018.97',
       '21537.82', '612303.', '13260.11', '10094.72', '10937.82',
       '5889.11', '20217.87', '10084.68', '7345.61', '13789.62',
       '8989.56', '9267.2', '8958.15', '4506.72', '16957.83', '7725.11',
       '6745.42', '8410.32', '7717.72', '17916.0', '20878.87', '15687.45',
       '.1252866', '4629.17', '4777.24', '18539.71', '12795.56',
       '4778.25', '8375.89', '13558.48', '14231.38', '5169.96', '14979.1',
       '18388.59', '11015.97', '2944.34', '6858.71', '10638.93',
       '15131.05', '7067.14', '12563.14', '5268.77', '11998.41',
       '8821.54', '11721.57', '.73630', '21642.02', '4664.31', '11634.38',
       '17548.51', '7599.02', '5337.7', '18334.59', '10085.45',
       '15691.58', '873.26', '17081.48', '10163.3', '13757.36',
       '23741.05', '4669.94', '17634.54', '5647.84', '21831.65',
       '9178.19', '7074.42', '6718.81', '4160.57', '19499.54', '14846.23',
       '11889.13', '14512.82', '10550.0', '6350.98', '1141914',
       '18469.46', '5085.75', '9307.09', '8790.85', '.1537638', '3263.23',
       '24376.07', '.427642', '9899.61', '7307.13', '13168.83',
       '16593.05', '9362.41', '4911.76', '19716.13', '16299.6',
       '10933.35', '16242.53', '015159.', '15692.25', '716.46',
       '18902.97', '14955.67', '8833.32', '8985.84', '12618.93',
       '19276.3', '8981.9', '8210.07', '12320.3', '8824.23', '3732.99',
       '9482.83', '8183.92', '7559.85', '13137.86', '19501.86', '.762847',
       '11251.57', '18156.94', '13572.0', '14149.03', '4654.69',
       '9562.99', '5810.84', '11664.07', '12604.18', '4573.52',
       '19557.98', '16406.89', '15547.01', '5661.21', '6935.88',
       '14592.92', '20405.51', '4730.64', '7572.45', '6486.6', '8580.11',
       '3553.13', '8022.13', '14481.89', '16132.78', '12804.7', '2847.44',
       '3429.68', '18207.27', '4547.39', '3812.01', '4421.78', '11411.41',
       '6029.74', '20936.48', '12360.93', '262654', '224', '.128678',
       '14194.83', '21695', '3827.38', '4393.22', '9425.4', '15389.15',
       '11539.33', '10189.86', '14139.59', '5248.29', '19574.77',
       '2491.42', '18094.72', '7143.76', '9968.8', '17731.21', '7962.72',
       '5258.4', '8580.1', '6312.19', '22386.6', '9150.72', '12303.6',
       '8050.75', '11275.3', '17409.33', '8028.45', '12102.32',
       '11500.27', '3833.32', '1654.69', '276.42', '7369.33', '1950186',
       '15255.5', '9903.46', '17026.35', '3379.85', '3525.97', '5167.62',
       '15047.7', '1664.31', '3290.51', '17193.15', '105500', '9775.05',
       '16923.82', '12227.05', '14860.73', '16285.53', '6081.78',
       '11419.14', '20491.32', '96928.06', '13976.88', '16164.97',
       '6480.98', '3716.7', '1740.57', '3183.92', '3600.33', '17999.67',
       '7004.14', '1125157', '9193.66'], dtype=object)

In [348]:
extracted_entities_df.isnull().sum()

employerName                           0
employerAddressStreet_name             0
employerAddressCity                    0
employerAddressState                   0
employerAddressZip                     0
einEmployerIdentificationNumber        0
employeeName                           0
ssnOfEmployee                          0
box1WagesTipsAndOtherCompensations     0
box2FederalIncomeTaxWithheld           0
box3SocialSecurityWages                0
box4SocialSecurityTaxWithheld          0
box16StateWagesTips                   57
box17StateIncomeTax                   47
taxYear                               55
dtype: int64

- Now our next column is `box16StateWagesTips`

In [349]:
## null values of box16StateWagesTips
extracted_entities_df['box16StateWagesTips'].isnull().sum()

np.int64(57)

In [351]:
## rows with null values of box16StateWagesTips
extracted_entities_df[extracted_entities_df['box16StateWagesTips'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
61,Kelly PLC Ltd,42488 Mann Highway Apt. 717,Tannerville,HI,11318-8685,95-7356736,Anna Morris,380-25-7673,59814.81,18632.27,46520.43,3558.81,NaN,1865-57,2019
77,Williams-Smith PLC,970 Sarah Vista Suite 811,West Ericafort,WV,22182-1837,01-9775171,Monica Clark,713-20-5302,208473.2,2410161,213290.79,16316.75,NaN,5397 96,2019
114,Richardson LLC Inc,951 Jonathon Underpass,West Davidfort,IN,14837-2735,UNKNOWN_EIN,Matthew Manning,242-39-6533,139507.77,2445332,149344.52,13424.86,NaN,4630.34,2018
119,Johnston LLC Itd,9788 william Lodge,Chandlerfurt,NV,31006-1793,35-3517049,Francisco Thornton,000-00-0000,76127.,0,64222.03,4912.99,NaN,3250.38,2018
125,Martinez-Luna PLC,16845 Matthew Tunnel Apt. 779,South Christine,ND,83703-3820,15-0580989,April Maldonado,000-00-0000,0,.2067811,.8838167,6761.2,NaN,NaN,2018
139,Ayala-Colon Inc,9381 santiago Divide,Savageberg,VA,96529-0481,66-1920593,Joshua Martin,183-90-9286,118662.94,33327.01,105676,0,NaN,NaN,2018
150,"Johnson, Morgan and Lynn Inc",160 Flores Rest Apt. 515,Robertside,NC,95543-4926,67-9975862,Robert Tate,469-16-1389,14401867,41401.36,169596.95,12574.17,NaN,. 6667 02,2018
159,Sawyer-Harmon PLC,000 valerie Summit Apt. 987,East Patriciaview,IN,91506-2521,57-6393179,Jason Stewart,035-51-2594,147640.25,32961.78,155560.6,11909.39,NaN,4121.55,2018
164,Ortega-Hayden and,$540 Beat Spring Apt. 471,Laurafurt,IN,40913-5681,UNKNOWN_EIN,Candice,000-00-0000,0,0,0,0,NaN,NaN,2018
166,Garcia and Sons Grow,929 Chapman Talands,Unknown,Unknown,Unknown,UNKNOWN_EIN,Faaneta,000-00-0000,0,0,0,0,NaN,NaN,2018
173,Clayton and Ramirez Led,7553 Bates Rest Suite 521,West Trevormouth,MV,12524-2457,UNKNOWN_EIN,Jennifer Carter,000-00-0000,0,0,0,0,NaN,9433.4,2018
188,Group Lee-williams,83244 Gary Ways Apt. 177,Tonyaberg,CA,42158-3720,UNKNOWN_EIN,David Paul,671-21-9179,0,.3729889,88855,0,NaN,4530 .22,2018
189,lester and does Ta,987 Townsend Spray,Lake Anthear,Unknown,06179-5945,UNKNOWN_EIN,michael Andrade,000-00-0000,0,0,0,0,NaN,NaN,2018
191,Hoffman-Gutierrez Ltd,38300 Nancy Roads,Jessicaside,WY,69552-5201,58-7007829,Michael Friedman,455-11-6220,158376.77,54436.6,168193.25,0,NaN,7066. 07,2018
192,Jones Ltd Ltd,11510 Rest Fieldshaven,Unknown,AZ,02906-3853,51-9104110,John Kelly,000-00-0000,0,2,492,37,NaN,2200.93,2018
196,"Inc Phillips, Brown and Hartman",88614 Bowman Greens,Port Christopherview,AL,16116-5700,44-1028453,Krystal Pena,560-44-5950,205961.82,0,0,0,NaN,5361. 89,2018
197,Fox-Mitchell and sons,Anthony Green Suite 080,Port Markland,VA,16842-7708,46-8285369,Jeffrey Herrera,000-00-0000,181356.1,0,207963.37,15909.2,NaN,10233.7,2018
206,Patterson-Walton and Sons,10639 Hansen Mountains,West Tonyashire,SD,18073-6674,44-7924459,Unknown,000-00-0000,247828.99,69544.26,242567.69,10556.43,NaN,NaN,2018
217,Kent and Sons LLC,7790 Williams Fall,Seanland,MI,32842-1134,25-3349410,Steven Hallill.,000-00-0000,240330.89,35494.65,280634.5,21468.54,NaN,9480 . 13,2018
223,Shah-Ford PLC,653 Lopez Lock,Emilyland,HI,83503-9585,90-3209845,Sarah Schwartz,000-00-0000,71207.69,1426.05,71639.61,549043,NaN,NaN,2018
227,"Hutchinson, Gonzalez and Mercer and Sons",269 Jasmine Green Suite 480,South Richard,IA,22003-3151,90-0856165,Michael Henderson,000-00-0000,164476.66,59262.82,12885139,9857.13,NaN,5119.05,2018
234,Warren-Newman PLC,976 Julie Ways,Heatherchester,VA,83318-7059,04-8918704,Matthew Clark,000-00-0000,97553.19,28985.52,30331.85,6145.39,NaN,2788 . 95,2018
238,Warren-Newman PLC,976 Julie Ways,Heatherchester,VA,83318-7059,04-8918704,Matthew Clark,000-00-0000,97553.19,28985.52,30331.85,6145.39,NaN,2788 . 95,2018
246,"Kelley, Fuller and Bennett Ltd",0687 Jennifer Islands Apt. 022,Lake Ray,NH,67095-6576,36-6965882,Christine? /Acosta,000-00-0000,97993.64,27072.16,118640.22,9091.28,NaN,4083.73,2018
249,Pruitt and Sons Ltd,22054 Larry Point Apt. 234,Lake Haileyport,RI,10263-3140,38-2151002,Kelly Wise,000-00-0000,50117.88,12349.69,55241.55,4225.98,NaN,1062 . 27,2018
253,Alvarado Inc Ltd,93054 Cynthia Stravenue,Lake Brendashire,MN,94019-3426,04-4602698,Amber Bell,000-00-0000,170001.82,18020.6,119918.75,9173.78,NaN,4279 22,2018
262,King-Anderson Inc,18078 Lauren Mountain,Mercerburgh,NC,86817-9350,34-7235543,April Young,000-00-0000,152306.97,36441.60,145126.2,145217,NaN,NaN,2018
290,Smith-Young and Sons,51359 Gilbert Knolls Suite 202,Lake Lisa,ND,47903-1654,34-2914710,Unknown,000-00-0000,190841.94,56872.29,221671.01,16957.83,NaN,NaN,2018
298,"Kelley, Fuller and Bennett Ltd",0687 Jennifer Islands Apt. 022,Lake Ray,NH,67095-6576,36-6965882,Christine? /Acosta,000-00-0000,97993.64,27072.16,118640.22,9091.28,NaN,4083.73,2018
325,Gilbert The 104,75745 Jessica Mission Suite 832,Bryanmouth,Unknown,Unknown,UNKNOWN_EIN,Janice Wright,451-10-1014,0,69050.09,137045.22,0,NaN,NaN,2018
335,Hall-Huynh PLC,5546 Larsen Mount Suite 405,Port Amandafurt,NV,91183-1024,50-6983989,David Friedman,641-02-1377,186876.35,61783.77,223287.32,17081.48,NaN,9258.08,2018
337,"Brown, Kelley and Baker LAd",240 Gill Locks,Unknown,Unknown,06742-6063,UNKNOWN_EIN,fairy Salinas,000-00-0000,0,0,271548.23,0,NaN,NaN,2018
375,Carpenter-Lopes and Side,170 Smith Dale Apt. 422,Unknown,Unknown,Unknown,UNKNOWN_EIN,Scott Martin,415-10-1039,147042.26,0,0,716.46,NaN,NaN,2018
381,"Alvarez, Milos and Grant PLC",603 Janie Rapids,Meat Brian,ND,93513-9121,$9-0141149,Beth Bart,246-91-2924,241879.54,0,0,19276.3,NaN,NaN,2018
396,Unknown,$406 Tran Club Quite 832,Feltbrille,V,17912-1873,UNKNOWN_EIN,DE. Laura,000-00-0000,0,0,104945.09,14149.03,NaN,(979.39,2018
450,Rogers LLC PLC,024 Young Unions,Port Donald,SC,99938-3971,25-9239875,Rachel,125-35-0590,118300.92,13170.2,0,262654,NaN,4481 .22,2018
452,Hicks-Vargas LLC,103 Whitaker Parkways,South Seth,MD,87001 -1899,20-5039449,Melissa Bailey,000-00-0000,0,0,118736.68,0,NaN,. 38 5801,2018
458,"Lopez, Gross and Dominguez and Sons",85666 Allen Street,Coreychester,ME,71257-3942,52-8013713,Matthew Ingram,000-00-0000,122581.04,527939.,0,0,NaN,2178.76,2018
462,"waters by dress,",1867 Lisa Highway,stephaniemouth,KS,98923-0294,33-4675845,Alexis Anderson,212-81-6129,0,0,0,0,NaN,NaN,2018
463,Unknown,11510 Patricia Rest,Fieldshaven,AZ,02906-3853,51-9104110,John Kelly,556-01-9925,0,0,.4914387,0,NaN,NaN,2018
464,White -Harris Group,5833 Rivera Fords,Port Leslie,AL,28839-0600,15-9365410,Mitchell Kirk,000-00-0000,5184746.,0,0,0,NaN,3656.46,2018
465,Sawyer-Harmon PLC,00 Valerie Summit Apt. 981,East Patriciaview,MN,91506-2521,57-6393177,Stewart,035-51-2588,147640.25,32851.78,0,0,NaN,NaN,2018
466,"Burnett, Rosales and Wilson PLC",037 Johnston Ford,last Joshua,MI,74272-5071,93-6441213,Melissa Garcia,777-15-1653,5718.94,0,85330.78,0,NaN,NaN,2018
468,Robbins-Cortez and Sons,340 Molina Rue Apt. 983,lewmanborough,wy,07511 -6306,40-0499557,Steven Schneider,000-00-0000,130327.06,.3362308,0,0,NaN,NaN,2018
470,Guerra LLC PLC,680 Tanner Flat,Gainesville,IL,52700-7811,60-0909394,Erin Horton,000-00-0000,156331.43,0,14139243,224,NaN,NaN,2018
473,Fields-Davis Inc,2772 Richard Crescent,East Katrinaview,MD,42256-1116,55-7913926,Sandra Wright,000-00-0000,.82157320,0,16735654,0,NaN,8243 -46,2018
474,"Petty, Jones and Wright Group",065 Hayley Lake,Ramseymouth,MI,53446-2041,33-7544322,DI. Shawn,000-00-0000,158427.99,0,153058.37,0,NaN,7176-59,2018
475,Martin-Lee PLC,2709 Travis Lakes,Whitefort,WI,55196-2712,23-3804616,Connor Medina,122-96-7683,0,0,0,0,NaN,5077.64,2018
477,"Smith, Morales and Gates LLC",Harrison Mission 1698,West Dennisview,NY,30232 -7204,75-5356392,Alexis Sexton,564-02-8530,0,935212,0,0,NaN,NaN,2018
478,Romero Itd and Sons,2613 Greene Terrace,New Scottport,MT,19070-7362,39-9236408,Kendra Williams,851-81-1236,.12464965,25300.52,12771589,0,NaN,6250 84,2018
480,"Nichols , Mcneil and Tucker Itd",21549 Stacy Dale Apt. 666,forth Martin,V,00619-4867,75-5648282,Patrick Hoover,000-00-0000,172730.02,31971.4,0,0,NaN,.43 4381,2018
481,Barrera Itd Itd,89406 Perez Terrace Apt. 770,Bryanburgh,FL,11330-0145,92-6254111,Linda Hernandez,000-00-0000,.02176835,55649.45,0,0,NaN,NaN,2018
482,Jackson and Sons Itd,51263 Terri Mission,South Mollyborough,Unknown,35155-9045,04-9363655,Jessica Swanson,000-00-0000,.42105727,0,0,0,NaN,NaN,2018
486,Lee-Wright PLC,80985 Gordon Plain,Scottland,IN,27092-8311,01-0464391,Stanley Robles,335-88-9022,203237.92,.5274348,0,21695,NaN,NaN,2018
488,"Cook , Vance and Jones PLC",071 Rachel Spring,Danielmouth,CT,80303-0125,71-2321301,Michael Schwartz,000-00-0000,105531.53,18781.25,0,0,NaN,NaN,2018
493,Ortiz Inc LLC,441 Shannon Turnpike,Valenciaport,VA,26302-2422,50-4329817,Stephanie Dixon,000-00-0000,204711.04,0,17743574,0,NaN,8387. 54,2018
499,Arroyo-Cordova Itd,757 Ortega Plain,Diazfurt,NH,53917-6286,30-5492273,Joseph Hayes,000-00-0000,0,23056.07,0,0,NaN,NaN,2018

In [352]:
## replace all null value with 0
extracted_entities_df['box16StateWagesTips'] = extracted_entities_df['box16StateWagesTips'].fillna(0)

In [354]:
## unique values of box16StateWagesTips
extracted_entities_df['box16StateWagesTips'].unique()

array(['70985 . 58', '120854 .26', '94960.51', '55120 .4', '56829. 43',
       '72722 . 85', '69597 .04', '78669.32', '108320.27', '104055 99',
       '112520 75', '30482. 93', '29872.9', '106698 . 62', '40106.93',
       '59209. 74', '73063.94', '75966 . 91', '26253.7', '112767 . 4',
       '68093 . 36', '83037.93', '98269 . 48', '78002 .56', '93507 . 49',
       '99497 41', '46210. 83', '. 67405 1', '38337. 36', '51891 25',
       '50308. 32', '123217 . 09', '20894 .34', '55609.53', '109303.07',
       '25122 . 18', '41651 479', '14 86819.', '97631.03', '129079.2',
       '69934.53', '39733 54', '103476 85', '23970. 63', '36070 . 12',
       '108526 . 69', '39034.35', '73203.22', '91141.49', '. 112681 86',
       '. 74072 96', '95889 . 81', '67328 .09', '125099.63', '78494 . 22',
       '67 32443.', '118469.35', '108092. 29', '134026.29', '115638 . 67',
       '40522 . 36', 0, '44379.32', '120473. 85', '108734 78',
       '111639 .52', '. 29732 66', '. 50747 81', '94237 . 1',
       '37138 . 98', '61674 4', '26433.86', '104696 . 88', '93007 . 51',
       '18910. 64', '120450.94', '68229.52', '70955 64', '9 105496,',
       '30090 5', '20287. 85', '104241 . 84', '47257. 79', '118215 . 74',
       '103475 914', '74994 . 88', '30372.48', '108939 .12', '49143.44',
       '97726. 89', '101515. 79', '121453.27', '90371 . 02', '34905 43',
       '122453, 251', '40008 49', '101175 . 32', '107989.13', '92558.36',
       '47120 .79', '49391. 19', '. $4907', '71082 . 42', '26838 .4',
       '29849. 64', '23916.83', '67666.95', '25909.23', '45122 15',
       '. 21589 72', '49309.57', 'citing', '36972.4', '29308 . 85',
       '. 59328 91', '22546.51', '63837 89', '. 20520 65', '96907 . 39',
       '107324.55', '37532 83', '78546.76', '123932.43', '4 tiphilly',
       '96218.59', '62174.02', '44234.11', '6 36315.', '115767.91',
       '24317.59', '. 117790 02', '97892 . 27', '22398 .54', 'tips. 89 7',
       '63534. 98', '90966.53', '60159 .98', '49756 . 6', '. 103851 68',
       '65977 58', '29038 17', '. 83989 14', '. 93899 67', '. 40377 61',
       '95086.0', '44411. 75', '53562 05', '86280 . 81', '46664.',
       '58706.83', '76062 . 21', '99901 . 84', '8 52972 .', '56 121749.',
       '100246 37', '65497 . 75', '93421 . 7', '85609.53', '72241 . 36',
       '48447', '. 102784 68', '112042 . 71', '114952 . 97', '39331 . 07',
       '87533.98', '73176.09', '44899 88', '106270 . 46', '59199 . 31',
       '33522 . 47', '#93928 . 81', '32567 .59', '93128 . 76',
       '71865. 87', '10956.00', '79884 . 89', '92543 . 3', '104802.34',
       '63847 .38', '116857.48', '47 72419.', '76267.99', '52027 . 61',
       '12105901 45', '. 41311 04', '65527.5', '131396 . 69', '44287. 06',
       '. 30767 64', '23961 . 38', '76892 39', '64630. 83', '54866 . 51',
       '27597 .95', '28324 04', '103016 7', '35277 . 86', '77929 . 43',
       '63943 .59', '35205.22', '67207.3', '. 70875 79', '34276. 63',
       '40973 .84', '47564.93', '46281 . 64', '99246 . 64', '58974 . 08',
       '70754 . 63', '86115 . 66', '105195 . 87', '70250 . 42',
       '78969. 74', '102973.0', '. 78932 39', '124797 32', '124391 . 78',
       '75239 . 97', '37635. 07', '130363. 08', '90202 . 4', '65105.27',
       '118916 . 12', '47638 .23', '14045.98', '77382 . 58', '30904 .04',
       '42547.94', '50736 . 48', '70995.74', '41861. 65', '95039 35',
       '106414.23', '78060 . 24', '85328.43', '42482 . 44', '34518 . 15',
       '116725 . 06', '98396. 52', '29988.94', '60193.35', '108057 04',
       '105024.5', '41985 24', '8135814', '104389. 11', '96052 . 17',
       '24767 .52', '52089.72', '. 77881 16', '85898.93', '69133 . 16',
       '70787 . 89', '26650.81', '85156.37', '52938 . 38', '. 62577 81',
       '43660.18', '108744.35', '39144 . 53', '68749.7', '110857.88',
       '43364 097', '33840 . 47', '117335 . 02', '87478 . 79', '92886.2',
       '56935.04', '53251715', '127683.58', '108937 . 49', '41274221',
       '126297 . 58', '41423.13', '120144 . 22', '50253. 51', '57991 49',
       '46713.42', '37295.54', '110965. 78', '98026.29', '70561 . 63',
       '90554 . 86', '83795.31', '43990 . 05', '76959.08', '108761 83',
       '26494 08', '73891 . 82', '52921.02', '. 84796 24', '19717 . 44',
       '126574. 85', '. 32712 51/', '80699. 88', '69877.05', '118983.11',
       '100844.04', '67220 . 02', '40606.83', '. 120641 01',
       '. 105042 22', '72373.26', '104013.19', '102865. 19', '87406 . 34',
       '108537 .22', '113458.17)', '87087 . 16', '50524 . 18', '69968.03',
       '44761. 69', '57482 . 08', '18 114795.', '76092 . 67',
       '31798 . 14', '. 52352 06', '61911 187', '43802.55', '73104 .47',
       '103975 . 38', '63302, 281', '96875. 19', '103434 72',
       '1292401517', '36864 -37', '53300 .24', '50834 . 81', '91179. 02',
       '108734 . 78', '32318 . 43', '116405.81', '89096 . 28',
       '97745 . 22', '37185. 63', '120854. 26', '49807. 82', '72361 . 66',
       '29732 . 66', '73203 . 22', '108092 . 29', '117596. 38',
       '29539 . 09', '67328 . 09', '91141 . 49', '30090.5', '58145. 97',
       '63632.55', '22147 . 82', '60853 . 46', '102096. 04', '105496.9',
       '107817 .9', '80927 . 68', '109383. 07', '30482 . 93',
       '21402 . 46', '83037. 93', '40186.93', '70963. 38', '117291.76',
       '31309. 66', '32036. 35', '34823. 21', '115014 . 6', '112520 . 75',
       '67405.1', '26253. 77', '48455 . 8', '116087.41', '76997 . 6',
       '40008 . 49', '25 34841.', '32557. 07', '3 tips etc ,',
       'tips: $6, 23', '101610 . 23', '91 8 tips , 4 23', 'tips. 95 94',
       '49309. 57', '97392 . 27', '82358. 54', '79385. 67', '124362 . 48',
       'tips. 46 51', '118605.37', '115716 . 2', '83782 36', '4 . tips 5',
       '63513. 81', 'tips.,$4 4 43', '49899. 52', '57307 07',
       'tips. 96, 64', '93839. 57', '6 33292 .', '24787. 77',
       'tips. us , 95', '30531.82', '33421.07', '50825.09', '111458.45',
       '71865.87', '84463.99', '23961.38', '88723.29', '84822.81',
       '99246.64', '41367.74', '105195.87', '132620.9', '76892.39',
       '64630.83', '19867.52', '124391.78', '34461.78', '56707.75',
       '78060.24', '102658.76', '118916.12', '52757.35', '103016.7',
       '34276.63', '35135.17', '61263.09', '56172.04', '33522.47',
       '65497.75', '109063.34', '42658.06', '78932.39', '44899.88',
       '106270.46', '59199.31', '105901.45', '72241.36', '41861.65',
       '76062.21', '93198.69', '108268.36', '52972.8', '27597.95',
       '92543.3', '90525.11', '87372.24', '46281.64', '36864. 37',
       '41985 .24', '32712 . 51', '41182 . 86', '100547 . 31',
       '73297. 83', '68749 . 7', '88389.21', '30117 . 46', '48665 . 61',
       '53300 . 24', '36157 . 25', '70787.89', '73408 . 59', '39144.53',
       '49694. 45', '114982 . 42', '83795 . 31', '53437 . 84',
       '92036. 38', '65365 . 51', '74313. 37', '78970 .21', '29832. 73',
       '76959 08', '121583. 04', '47242 25', '73241 . 11', '114777 91',
       '37704. 72', '32084.', '126574 . 85', '29921. 43', '108761.83',
       '61911 18', '26650 81', '26168. 1', '92498 . 81', '49100 . 25',
       '96875 . 19', '63496 . 09'], dtype=object)

In [355]:
## clean the box16StateWagesTips
extracted_entities_df['box16StateWagesTips'] = extracted_entities_df['box16StateWagesTips'].apply(clean_wages_tips)

In [356]:
## unique values of box16StateWagesTips
extracted_entities_df['box16StateWagesTips'].unique()

array(['70985.58', '120854.26', '94960.51', '55120.4', '56829.43',
       '72722.85', '69597.04', '78669.32', '108320.27', '10405599',
       '11252075', '30482.93', '29872.9', '106698.62', '40106.93',
       '59209.74', '73063.94', '75966.91', '26253.7', '112767.4',
       '68093.36', '83037.93', '98269.48', '78002.56', '93507.49',
       '9949741', '46210.83', '.674051', '38337.36', '5189125',
       '50308.32', '123217.09', '20894.34', '55609.53', '109303.07',
       '25122.18', '41651479', '1486819.', '97631.03', '129079.2',
       '69934.53', '3973354', '10347685', '23970.63', '36070.12',
       '108526.69', '39034.35', '73203.22', '91141.49', '.11268186',
       '.7407296', '95889.81', '67328.09', '125099.63', '78494.22',
       '6732443.', '118469.35', '108092.29', '134026.29', '115638.67',
       '40522.36', 0, '44379.32', '120473.85', '10873478', '111639.52',
       '.2973266', '.5074781', '94237.1', '37138.98', '616744',
       '26433.86', '104696.88', '93007.51', '18910.64', '120450.94',
       '68229.52', '7095564', '9105496', '300905', '20287.85',
       '104241.84', '47257.79', '118215.74', '103475914', '74994.88',
       '30372.48', '108939.12', '49143.44', '97726.89', '101515.79',
       '121453.27', '90371.02', '3490543', '122453251', '4000849',
       '101175.32', '107989.13', '92558.36', '47120.79', '49391.19',
       '.4907', '71082.42', '26838.4', '29849.64', '23916.83', '67666.95',
       '25909.23', '4512215', '.2158972', '49309.57', '', '36972.4',
       '29308.85', '.5932891', '22546.51', '6383789', '.2052065',
       '96907.39', '107324.55', '3753283', '78546.76', '123932.43', '4',
       '96218.59', '62174.02', '44234.11', '636315.', '115767.91',
       '24317.59', '.11779002', '97892.27', '22398.54', '.897',
       '63534.98', '90966.53', '60159.98', '49756.6', '.10385168',
       '6597758', '2903817', '.8398914', '.9389967', '.4037761',
       '95086.0', '44411.75', '5356205', '86280.81', '46664.', '58706.83',
       '76062.21', '99901.84', '852972.', '56121749.', '10024637',
       '65497.75', '93421.7', '85609.53', '72241.36', '48447',
       '.10278468', '112042.71', '114952.97', '39331.07', '87533.98',
       '73176.09', '4489988', '106270.46', '59199.31', '33522.47',
       '93928.81', '32567.59', '93128.76', '71865.87', '10956.00',
       '79884.89', '92543.3', '104802.34', '63847.38', '116857.48',
       '4772419.', '76267.99', '52027.61', '1210590145', '.4131104',
       '65527.5', '131396.69', '44287.06', '.3076764', '23961.38',
       '7689239', '64630.83', '54866.51', '27597.95', '2832404',
       '1030167', '35277.86', '77929.43', '63943.59', '35205.22',
       '67207.3', '.7087579', '34276.63', '40973.84', '47564.93',
       '46281.64', '99246.64', '58974.08', '70754.63', '86115.66',
       '105195.87', '70250.42', '78969.74', '102973.0', '.7893239',
       '12479732', '124391.78', '75239.97', '37635.07', '130363.08',
       '90202.4', '65105.27', '118916.12', '47638.23', '14045.98',
       '77382.58', '30904.04', '42547.94', '50736.48', '70995.74',
       '41861.65', '9503935', '106414.23', '78060.24', '85328.43',
       '42482.44', '34518.15', '116725.06', '98396.52', '29988.94',
       '60193.35', '10805704', '105024.5', '4198524', '8135814',
       '104389.11', '96052.17', '24767.52', '52089.72', '.7788116',
       '85898.93', '69133.16', '70787.89', '26650.81', '85156.37',
       '52938.38', '.6257781', '43660.18', '108744.35', '39144.53',
       '68749.7', '110857.88', '43364097', '33840.47', '117335.02',
       '87478.79', '92886.2', '56935.04', '53251715', '127683.58',
       '108937.49', '41274221', '126297.58', '41423.13', '120144.22',
       '50253.51', '5799149', '46713.42', '37295.54', '110965.78',
       '98026.29', '70561.63', '90554.86', '83795.31', '43990.05',
       '76959.08', '10876183', '2649408', '73891.82', '52921.02',
       '.8479624', '19717.44', '126574.85', '.3271251', '80699.88',
       '69877.05', '118983.11', '100844.04', '67220.02', '40606.83',
       '.12064101', '.10504222', '72373.26', '104013.19', '102865.19',
       '87406.34', '108537.22', '113458.17', '87087.16', '50524.18',
       '69968.03', '44761.69', '57482.08', '18114795.', '76092.67',
       '31798.14', '.5235206', '61911187', '43802.55', '73104.47',
       '103975.38', '63302281', '96875.19', '10343472', '1292401517',
       '3686437', '53300.24', '50834.81', '91179.02', '108734.78',
       '32318.43', '116405.81', '89096.28', '97745.22', '37185.63',
       '49807.82', '72361.66', '29732.66', '117596.38', '29539.09',
       '30090.5', '58145.97', '63632.55', '22147.82', '60853.46',
       '102096.04', '105496.9', '107817.9', '80927.68', '109383.07',
       '21402.46', '40186.93', '70963.38', '117291.76', '31309.66',
       '32036.35', '34823.21', '115014.6', '112520.75', '67405.1',
       '26253.77', '48455.8', '116087.41', '76997.6', '40008.49',
       '2534841.', '32557.07', '3', '623', '101610.23', '918423', '.9594',
       '97392.27', '82358.54', '79385.67', '124362.48', '.4651',
       '118605.37', '115716.2', '8378236', '4.5', '63513.81', '.4443',
       '49899.52', '5730707', '.9664', '93839.57', '633292.', '24787.77',
       '.95', '30531.82', '33421.07', '50825.09', '111458.45', '84463.99',
       '88723.29', '84822.81', '41367.74', '132620.9', '76892.39',
       '19867.52', '34461.78', '56707.75', '102658.76', '52757.35',
       '103016.7', '35135.17', '61263.09', '56172.04', '109063.34',
       '42658.06', '78932.39', '44899.88', '105901.45', '93198.69',
       '108268.36', '52972.8', '90525.11', '87372.24', '36864.37',
       '41985.24', '32712.51', '41182.86', '100547.31', '73297.83',
       '88389.21', '30117.46', '48665.61', '36157.25', '73408.59',
       '49694.45', '114982.42', '53437.84', '92036.38', '65365.51',
       '74313.37', '78970.21', '29832.73', '7695908', '121583.04',
       '4724225', '73241.11', '11477791', '37704.72', '32084.',
       '29921.43', '108761.83', '6191118', '2665081', '26168.1',
       '92498.81', '49100.25', '63496.09'], dtype=object)

In [357]:
extracted_entities_df.isnull().sum()

employerName                           0
employerAddressStreet_name             0
employerAddressCity                    0
employerAddressState                   0
employerAddressZip                     0
einEmployerIdentificationNumber        0
employeeName                           0
ssnOfEmployee                          0
box1WagesTipsAndOtherCompensations     0
box2FederalIncomeTaxWithheld           0
box3SocialSecurityWages                0
box4SocialSecurityTaxWithheld          0
box16StateWagesTips                    0
box17StateIncomeTax                   47
taxYear                               55
dtype: int64

- Now moving to the column `box17StateIncomeTax `

In [358]:
## null values of box17StateIncomeTax
extracted_entities_df['box17StateIncomeTax'].isnull().sum()

np.int64(47)

In [359]:
## rows with null values of box17StateIncomeTax
extracted_entities_df[extracted_entities_df['box17StateIncomeTax'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
122,Grant and Sons and Sons,1373 stafford Ports,West Matthewhaven,CA,12994-4666,32-0404777,Emily smith,339-21-8499,55558.73,6528.67,55084.58,4213.97,29308.85,NaN,2018
125,Martinez-Luna PLC,16845 Matthew Tunnel Apt. 779,South Christine,ND,83703-3820,15-0580989,April Maldonado,000-00-0000,0,.2067811,.8838167,6761.2,0,NaN,2018
139,Ayala-Colon Inc,9381 santiago Divide,Savageberg,VA,96529-0481,66-1920593,Joshua Martin,183-90-9286,118662.94,33327.01,105676,0,0,NaN,2018
157,Reed Group Group,por Jones Fall,Brad,MA,49272 -0415,UNKNOWN_EIN,Michelle Cannon,000-00-0000,41686.29,0,0,0,22398.54,NaN,2018
164,Ortega-Hayden and,$540 Beat Spring Apt. 471,Laurafurt,IN,40913-5681,UNKNOWN_EIN,Candice,000-00-0000,0,0,0,0,0,NaN,2018
166,Garcia and Sons Grow,929 Chapman Talands,Unknown,Unknown,Unknown,UNKNOWN_EIN,Faaneta,000-00-0000,0,0,0,0,0,NaN,2018
185,Moore ore-Boone and Sons,1087 Ashley Flats Apt. 892,Angelaton,TX,27738-3051,59-5629589,Nicholas Butler,278-03-4504,190203.27,4864734,148426.79,11354.65,95086.0,NaN,2018
189,lester and does Ta,987 Townsend Spray,Lake Anthear,Unknown,06179-5945,UNKNOWN_EIN,michael Andrade,000-00-0000,0,0,0,0,0,NaN,2018
206,Patterson-Walton and Sons,10639 Hansen Mountains,West Tonyashire,SD,18073-6674,44-7924459,Unknown,000-00-0000,247828.99,69544.26,242567.69,10556.43,0,NaN,2018
223,Shah-Ford PLC,653 Lopez Lock,Emilyland,HI,83503-9585,90-3209845,Sarah Schwartz,000-00-0000,71207.69,1426.05,71639.61,549043,0,NaN,2018
241,Logan-Jones PLC,32698 Frederick Corner Apt. 724,South Samantha,NM,31185-3412,34-1278184,Jennifer West,000-00-0000,81342.73,18541.17,84679.79,6478.0,.4131104,NaN,2018
262,King-Anderson Inc,18078 Lauren Mountain,Mercerburgh,NC,86817-9350,34-7235543,April Young,000-00-0000,152306.97,36441.60,145126.2,145217,0,NaN,2018
271,"Crawford, Marquez and Martin Ltd",0259 Jocelyn Ferry Suite 142,Lake Gary,RI,39228-3142,66-2312959,Dustin Ford,000-00-0000,167194.56,48973.11,158800.38,12148.23,86115.66,NaN,2018
290,Smith-Young and Sons,51359 Gilbert Knolls Suite 202,Lake Lisa,ND,47903-1654,34-2914710,Unknown,000-00-0000,190841.94,56872.29,221671.01,16957.83,0,NaN,2018
325,Gilbert The 104,75745 Jessica Mission Suite 832,Bryanmouth,Unknown,Unknown,UNKNOWN_EIN,Janice Wright,451-10-1014,0,69050.09,137045.22,0,0,NaN,2018
337,"Brown, Kelley and Baker LAd",240 Gill Locks,Unknown,Unknown,06742-6063,UNKNOWN_EIN,fairy Salinas,000-00-0000,0,0,271548.23,0,0,NaN,2018
375,Carpenter-Lopes and Side,170 Smith Dale Apt. 422,Unknown,Unknown,Unknown,UNKNOWN_EIN,Scott Martin,415-10-1039,147042.26,0,0,716.46,0,NaN,2018
381,"Alvarez, Milos and Grant PLC",603 Janie Rapids,Meat Brian,ND,93513-9121,$9-0141149,Beth Bart,246-91-2924,241879.54,0,0,19276.3,0,NaN,2018
453,Nelson Group Inc,8956 Marks Knolls,solisborough,KY,30860-5430,25-8614153,Nicholas Perry,600-26-5491,72356.23,710259,69010.85,0,2534841.,NaN,2018
454,Rodriguez-Vance Itd,58439 Jam,Brendaburgh,MD,71724-2256,32-0889196,Mary Oliver,000-00-0000,52705.24,17240.32,0,0,32557.07,NaN,2018
456,Castillo-Schroeder PLC,151 Thomas Ville Apt. 019,Nest Isaiahmouth,MO,40729-7558,95-0812195,Erica Lee,000-00-0000,4847715.,.487189,0,0,623,NaN,2018
457,Griffin-Howard Ltd,1833 Raymond Street Suite 23,Jasonland,IA,67148-6396,92-4122293,Randy Calhoun,097-08-6995,0,.753593,0,0,101610.23,NaN,2018
459,Fox-Mitchell and Sons,15354 Anthony Green Suite 080,port Markland,VA,16842-7708,46-8285369,Jeffrey Herrera,000-00-0000,181356.1,.2139173,207353.37,0,918423,NaN,2018
460,Lane -Williams Inc,5071 Anderson Stravenue,East Josephland,DE,22582-4266,42-0706879,Whitaker,000-00-0000,140016.39,0,0,0,.9594,NaN,2018
461,Johnson Inc Group,90404 Anita Club Suite 751,Guerreroville,PA,14463-7391,93-9684820,Aaron Kennedy,000-00-0000,8398227.,0,0,0,49309.57,NaN,2018
462,"waters by dress,",1867 Lisa Highway,stephaniemouth,KS,98923-0294,33-4675845,Alexis Anderson,212-81-6129,0,0,0,0,0,NaN,2018
463,Unknown,11510 Patricia Rest,Fieldshaven,AZ,02906-3853,51-9104110,John Kelly,556-01-9925,0,0,.4914387,0,0,NaN,2018
465,Sawyer-Harmon PLC,00 Valerie Summit Apt. 981,East Patriciaview,MN,91506-2521,57-6393177,Stewart,035-51-2588,147640.25,32851.78,0,0,0,NaN,2018
466,"Burnett, Rosales and Wilson PLC",037 Johnston Ford,last Joshua,MI,74272-5071,93-6441213,Melissa Garcia,777-15-1653,5718.94,0,85330.78,0,0,NaN,2018
467,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,Unknown,34884-4550,38-1745124,Jerry orr,316-49-5793,0,0,22850074,0,97392.27,NaN,2018
468,Robbins-Cortez and Sons,340 Molina Rue Apt. 983,lewmanborough,wy,07511 -6306,40-0499557,Steven Schneider,000-00-0000,130327.06,.3362308,0,0,0,NaN,2018
470,Guerra LLC PLC,680 Tanner Flat,Gainesville,IL,52700-7811,60-0909394,Erin Horton,000-00-0000,156331.43,0,14139243,224,0,NaN,2018
471,Hoffman-Gutierrez Lt,38300 Nancy Roads,Jessicaside,WY,69552-5201,58-7007829,Michael Friedman,455-11-6220,158376.77,0,0,.128678,79385.67,NaN,2018
472,Hall-Baker and Sons,99172 Martinez Fort Apt. 718,forth Lori,VA,95397-7058,12-0098450,Timothy Bryant,000-00-0000,248557.47,8423,.18133186,0,124362.48,NaN,2018
477,"Smith, Morales and Gates LLC",Harrison Mission 1698,West Dennisview,NY,30232 -7204,75-5356392,Alexis Sexton,564-02-8530,0,935212,0,0,0,NaN,2018
481,Barrera Itd Itd,89406 Perez Terrace Apt. 770,Bryanburgh,FL,11330-0145,92-6254111,Linda Hernandez,000-00-0000,.02176835,55649.45,0,0,0,NaN,2018
482,Jackson and Sons Itd,51263 Terri Mission,South Mollyborough,Unknown,35155-9045,04-9363655,Jessica Swanson,000-00-0000,.42105727,0,0,0,0,NaN,2018
483,Unknown,$898 Robles Estates,Test Donna,MS,03853-8053,UNKNOWN_EIN,Timothy Green,581-54-3835,0,0,26245,0,115716.2,NaN,2018
484,Decker-Smith PLC,784 Price Brook Apt. 000,Marksstad,ME,92936-1367,30-9755097,Mrs. Samantha,000-00-0000,19087958,.5373328,13523,0,8378236,NaN,2018
486,Lee-Wright PLC,80985 Gordon Plain,Scottland,IN,27092-8311,01-0464391,Stanley Robles,335-88-9022,203237.92,.5274348,0,21695,0,NaN,2018
487,Ayala-Colon Inc,9381 Santiago Divide,savageberg,VA,96529-0481,56-1920993,Joshua Martin,183-90-9886,0,3332701,0,0,63513.81,NaN,2018
488,"Cook , Vance and Jones PLC",071 Rachel Spring,Danielmouth,CT,80303-0125,71-2321301,Michael Schwartz,000-00-0000,105531.53,18781.25,0,0,0,NaN,2018
489,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,Unknown,Unknown,UNKNOWN_EIN,Unknown,000-00-0000,0,0,22850074,0,97392.27,NaN,NaN
491,Mendoza-Shaw Inc,528 Marie Light Apt. 186,Lake Stephanie,IN,27601 - 4120,71-7703278,Victor Hayes,005-21-0888,94354.5,23823.9,0,0,49899.52,NaN,2018
492,Bennett and Sons Group,57 Andrew Village Suite 004,lebeccachester,WV,55794-7748,72-4516908,Nicholas Vargas,280-10-5382,107263.8,2559537,.13313769,0,5730707,NaN,2018
495,Knight Lewis and Sons,245 Shannon Vista,East Austin,UT,72161-6403,54-4891082,. Alexis,000-00-0000,182018.87,0,227148.72,0,93839.57,NaN,2018
499,Arroyo-Cordova Itd,757 Ortega Plain,Diazfurt,NH,53917-6286,30-5492273,Joseph Hayes,000-00-0000,0,23056.07,0,0,0,NaN,2018

In [360]:
## unique values of box17StateIncomeTax
extracted_entities_df['box17StateIncomeTax'].unique()

array(['5149 .29', '8990 . 12', '3010.6', '4003 66', '3360.53',
       '12547 . 85', '7745. 82', '8176 .53', '. 7928 05', '9745 69',
       '10039.32', '1130 .2', '3049.3', '7526 . 65', '2274.24',
       '3167. 63', '3697.47', '2353.6', '252.42', '7884 .59', '6327 . 34',
       '5840. 81', '5395 . 06', '3196. 43', '4952 . 41', '5752 45',
       '3923 .39', '. 4484 61', '4822 . 74', '3205 06', '15151 .41',
       '6068. 69', '1920.75', '6244 . 84', '7960.35', '1882.77',
       '. 5676 25', '7616.5', '5015.72', '11236 . 62', '5054.94',
       '3412 72', '7352. 63', '1274.52', '2410 .92', '8320. 07',
       '2306.07', '4024.39', '5590 . 85', '. 6615 56', '4178.31',
       '10536.57', '3758. 1', '8005.3', '2728 . 68', '2309.24',
       '11284 .56', '6122 09', '12170.37', '6891 .15', '4163 . 65',
       '1865-57', '2325. 73', '11224. 81', '7758 .81', '5274 . 04',
       '. 1189 02', '5238 .7', '9760 . 77', '2481 . 66', '2992 31',
       '2122.37', '10741 . 66', '4515 . 21', '4529 . 96', '8852.77',
       '6669 42', '5397 96', '6338 .52', '7034. 931', '2008 79 .',
       '1690 . 44', '4518 . 08', '3552 .23', '4792 . 26', '9878 .52',
       '1959 . 47', '2400 88', '5951 . 2', '3790.88', '8180.0',
       '11831 .66', '6986.85', '7077, 72', '3220 73', '13763.03', '3795.',
       '8387 . 91', '7205.36', '7933.72', '6063 .72', '2431 .51',
       '. 3391 74', '. 7345 02', '2527 .01', '2832 .35', '1801 .2',
       '8894. 26', '845.36', '4630.34', '. 2284 63', '1285.9', '3808.35-',
       '3250.38', '4132.54', '2925.99', nan, '5932 .34', '1483.14',
       '4137 57', '2095.2', '4147 .26', '7765.71', '2775 .2', '4381 .43',
       '5714. 97', '3134.07', '6275.es', '4481. 22', '5244. 97',
       '98 1653.', '14302 .44', '. 6667 02', '1769.16', '12900.26',
       '5023.97', '4121.55', '3718 .39', '4310 .55', '5077 64', '9433.4',
       '4822 . 64', '. 3942 79', '. 3195 84', '8 . 5681', '3138 .2',
       '. 5442 72', '4597 .58', '. 3152 73', '4530 .22', '4459 .92',
       '7066. 07', '2200.93', '4394.47', '4623 .79', '3245.08',
       '5361. 89', '10233.7', '. 3931 86', '4972 .97', '5542 . 98',
       '3317.57', '15856.16', '9756. 51', '7560 . 95', '3708 . 21',
       '11076.29', '6961 .16', '1969.38', '. 9244 54', '5870 . 01',
       '9751 . 84', '4544. 11', '1402.', '9480 . 13', '6525. 45',
       '5055. 19', '13531 . 38', '5105 . 16', '2453 . 72', '8385.66',
       '2374 . 56', '4494 . 45', '5119.05', '5614.28', '1030.04',
       '6681. 17', '11060 . 06', '10447.92', '3340 . 7', '2788 . 95',
       '13659.8', '7161 . 74', '4661 . 65', '2263. 66', '5436.4)',
       '4386.91', '5187.25', '74 . 2285', '. 2768 63', '4083.73',
       '1308 . 19', '6870.53', '1062 . 27', '6110.54', '4483 . 74',
       '1212 . 44', '4279 22', '1982 .96', '5686.23', '4620.99',
       '4720. 71', '3139.23', '1790 . 01', '6009 . 34', '19421.53',
       '2427 .58', '3754 .31', '2880.29', '2803. 71', '10098 . 15',
       '4367 . 76', '8632. 37', '11105. 95', '4919 . 61', '5596.23',
       '4682 .22', '5719. 77', '9092 . 51', '13323.12', '3710. 61',
       '2991 . 77', '16188 .93', '7850 . 78', '3463.26', '7477 . 28',
       '3373 . 18', '3114. 95', '7748. 35', '1026.36', '2899 . 42',
       '4026.78', '6319.54', '4034.54', '. 4194 67', '8331 14',
       '6457 . 78', '444 .52', '1880 . 64', '3979.87', '11792 . 03',
       '7901 . 88', '2707.39', '7216 .95', '7949 . 89', '7252. 29',
       '3012 91', '6258 82', '10280 .03', '8334. 73', '3078. 59',
       '4526.24', '6388.22', '7103 . 69', '3392, 89', '3065 . 09',
       '3036.85', '3857. 47', '2172 . 56', '. 5282 41', '2344 23',
       '5972.56', '2784.2', '3617. 23', '4910.94', '3888 081', '2385 25',
       '4607 .71', '8420 . 12', '9769 . 08', '2804.77', '9258.08',
       '7615 34', '15089.32', '11422 . 48', '2336 51', '10669.32',
       '2361. 97', '13280 . 81', '2714 . 36', '4185 . 69', '3237.1',
       '3546.1', '9445 3', '. 7457 51', '5051 , 69', '7251- 82',
       '5470.95', '8 3529 .', '6362.15', '10092.88', '3529 . 98',
       '6448 . 04', '1834.89', '. 6775 57', '1156 . 94', '5953 . 42',
       '2306. 17', '7093. 99', '6378.26', '9047 . 36', '5738 719',
       '3481 72', '1970.12', '. 6903 18', '4190.22', '3041.38', '6384.65',
       '7777 .96', '6095 . 48', '10212 . 69', '18823 72', '9432 .16',
       '2360 . 95', '5277 49', '3401 . 69', '6678.03', '9187. 72',
       '4651 . 11', '1846. 12', '1962.27', '3448 . 44', '1765.91',
       '4744 . 13', '. 12517 72', '4492 .14', '4096.83', '18061 76',
       '10616 24', '(979.39', '170181', '2198.39', '4520.08', '9618 . 78',
       '7758 . 81', '1915. 89', '11784 . 13', '4054 . 14', '6279. 07',
       '2577 . 35', '2352 . 37', '2736. 74', '1189. 02', '4024. 39',
       '6122 . 09', '8236 . 44', '2633 . 59', '3758 .1', '6590 . 85',
       '4003 . 66', '2008.79', '4303 . 78', '7077 . 72', '7208.31',
       '1445.95', '2929 . 56', '7332 . 06', '7034. 93', '5403. 41',
       '5658.3', '7968.35', '1130 . 2', '1692 . 78', '4959 . 47',
       '5840 .81', '2274. 24', '3365 . 38', '1274 . 33', '7333.57',
       '2441 . 96', '2304.07', '3685 . 56', '9916.1', '4484 . 61',
       '3252 . 42', '5050 . 35', '7777. 55', '5214 . 28', '3795 . 98',
       '4481 .22', '5714 -37', '. 38 5801', '. 60 94 99', '2178.76',
       '3656.46', '5959 .29', '8243 -46', '7176-59', '5077.64',
       '. 1483 14', '6250 84', '48 . 5328', '.43 4381', '. 2527 01',
       '2440 .89', '8387. 54', '- 2832 39', '1755 - 58', '2025 .07',
       '4300.24', '1441.45', '2524.2', '4796.83', '5424.1', '6741.02',
       '1308.19', '11184.13', '2873.54', '10098.15', '1299.86',
       '11105.95', '6688.0', '1815.06', '3506.87', '4928.03', '6457.78',
       '7696.93', '7477.28', '4189.84', '2427.58', '1074.2', '3541.45',
       '5554.06', '2453.72', '7560.95', '9596.89', '3146.84', '8331.14',
       '5719.77', '5055.19', '13531.38', '5105.16', '5436.4', '6961.16',
       '4972.97', '4521.36', '8715.95', '1212.44', '11060.06', '6525.45',
       '7589.47', '3346.5', '2803.71', '9432 . 16', '1711 . 81',
       '3012 . 91', '7251 . 82', '3736. 17', '2360.95', '12517 . 72',
       '5051 . 69', '8865.9', '10280.03', '3784. 97', '3617.23',
       '4147.0:', '1884 . 28', '4151 . 4', '2198 . 39', '2282 . 74',
       '5480 . 32', '3493 . 54', '4790 . 54', '5470 . 95', '7103. 69',
       '4313. 11', '3492 . 23', '2474.2', '6763.27', '8019. 43',
       '1804 . 48', '6362 . 15', '12418.23', '5945 73', '4168 . 92',
       '6019. 85', '2922 . 45', '1733 . 15', '1498 . 48', '10092 . 88',
       '3036. 85', '5277 . 49', '2616.16', '3130 . 16', '3242 . 14',
       '5549 . 62'], dtype=object)

In [361]:
## replace all null value with 0
extracted_entities_df['box17StateIncomeTax'] = extracted_entities_df['box17StateIncomeTax'].fillna(0)

In [362]:
## clean the box17StateIncomeTax
extracted_entities_df['box17StateIncomeTax'] = extracted_entities_df['box17StateIncomeTax'].apply(clean_wages_tips)

In [363]:
## unique values of box17StateIncomeTax
extracted_entities_df['box17StateIncomeTax'].unique()

array(['5149.29', '8990.12', '3010.6', '400366', '3360.53', '12547.85',
       '7745.82', '8176.53', '.792805', '974569', '10039.32', '1130.2',
       '3049.3', '7526.65', '2274.24', '3167.63', '3697.47', '2353.6',
       '252.42', '7884.59', '6327.34', '5840.81', '5395.06', '3196.43',
       '4952.41', '575245', '3923.39', '.448461', '4822.74', '320506',
       '15151.41', '6068.69', '1920.75', '6244.84', '7960.35', '1882.77',
       '.567625', '7616.5', '5015.72', '11236.62', '5054.94', '341272',
       '7352.63', '1274.52', '2410.92', '8320.07', '2306.07', '4024.39',
       '5590.85', '.661556', '4178.31', '10536.57', '3758.1', '8005.3',
       '2728.68', '2309.24', '11284.56', '612209', '12170.37', '6891.15',
       '4163.65', '186557', '2325.73', '11224.81', '7758.81', '5274.04',
       '.118902', '5238.7', '9760.77', '2481.66', '299231', '2122.37',
       '10741.66', '4515.21', '4529.96', '8852.77', '666942', '539796',
       '6338.52', '7034.931', '200879.', '1690.44', '4518.08', '3552.23',
       '4792.26', '9878.52', '1959.47', '240088', '5951.2', '3790.88',
       '8180.0', '11831.66', '6986.85', '707772', '322073', '13763.03',
       '3795.', '8387.91', '7205.36', '7933.72', '6063.72', '2431.51',
       '.339174', '.734502', '2527.01', '2832.35', '1801.2', '8894.26',
       '845.36', '4630.34', '.228463', '1285.9', '3808.35', '3250.38',
       '4132.54', '2925.99', 0, '5932.34', '1483.14', '413757', '2095.2',
       '4147.26', '7765.71', '2775.2', '4381.43', '5714.97', '3134.07',
       '6275.', '4481.22', '5244.97', '981653.', '14302.44', '.666702',
       '1769.16', '12900.26', '5023.97', '4121.55', '3718.39', '4310.55',
       '507764', '9433.4', '4822.64', '.394279', '.319584', '8.5681',
       '3138.2', '.544272', '4597.58', '.315273', '4530.22', '4459.92',
       '7066.07', '2200.93', '4394.47', '4623.79', '3245.08', '5361.89',
       '10233.7', '.393186', '4972.97', '5542.98', '3317.57', '15856.16',
       '9756.51', '7560.95', '3708.21', '11076.29', '6961.16', '1969.38',
       '.924454', '5870.01', '9751.84', '4544.11', '1402.', '9480.13',
       '6525.45', '5055.19', '13531.38', '5105.16', '2453.72', '8385.66',
       '2374.56', '4494.45', '5119.05', '5614.28', '1030.04', '6681.17',
       '11060.06', '10447.92', '3340.7', '2788.95', '13659.8', '7161.74',
       '4661.65', '2263.66', '5436.4', '4386.91', '5187.25', '74.2285',
       '.276863', '4083.73', '1308.19', '6870.53', '1062.27', '6110.54',
       '4483.74', '1212.44', '427922', '1982.96', '5686.23', '4620.99',
       '4720.71', '3139.23', '1790.01', '6009.34', '19421.53', '2427.58',
       '3754.31', '2880.29', '2803.71', '10098.15', '4367.76', '8632.37',
       '11105.95', '4919.61', '5596.23', '4682.22', '5719.77', '9092.51',
       '13323.12', '3710.61', '2991.77', '16188.93', '7850.78', '3463.26',
       '7477.28', '3373.18', '3114.95', '7748.35', '1026.36', '2899.42',
       '4026.78', '6319.54', '4034.54', '.419467', '833114', '6457.78',
       '444.52', '1880.64', '3979.87', '11792.03', '7901.88', '2707.39',
       '7216.95', '7949.89', '7252.29', '301291', '625882', '10280.03',
       '8334.73', '3078.59', '4526.24', '6388.22', '7103.69', '339289',
       '3065.09', '3036.85', '3857.47', '2172.56', '.528241', '234423',
       '5972.56', '2784.2', '3617.23', '4910.94', '3888081', '238525',
       '4607.71', '8420.12', '9769.08', '2804.77', '9258.08', '761534',
       '15089.32', '11422.48', '233651', '10669.32', '2361.97',
       '13280.81', '2714.36', '4185.69', '3237.1', '3546.1', '94453',
       '.745751', '505169', '725182', '5470.95', '83529.', '6362.15',
       '10092.88', '3529.98', '6448.04', '1834.89', '.677557', '1156.94',
       '5953.42', '2306.17', '7093.99', '6378.26', '9047.36', '5738719',
       '348172', '1970.12', '.690318', '4190.22', '3041.38', '6384.65',
       '7777.96', '6095.48', '10212.69', '1882372', '9432.16', '2360.95',
       '527749', '3401.69', '6678.03', '9187.72', '4651.11', '1846.12',
       '1962.27', '3448.44', '1765.91', '4744.13', '.1251772', '4492.14',
       '4096.83', '1806176', '1061624', '979.39', '170181', '2198.39',
       '4520.08', '9618.78', '1915.89', '11784.13', '4054.14', '6279.07',
       '2577.35', '2352.37', '2736.74', '1189.02', '6122.09', '8236.44',
       '2633.59', '6590.85', '4003.66', '2008.79', '4303.78', '7077.72',
       '7208.31', '1445.95', '2929.56', '7332.06', '7034.93', '5403.41',
       '5658.3', '7968.35', '1692.78', '4959.47', '3365.38', '1274.33',
       '7333.57', '2441.96', '2304.07', '3685.56', '9916.1', '4484.61',
       '3252.42', '5050.35', '7777.55', '5214.28', '3795.98', '571437',
       '.385801', '.609499', '2178.76', '3656.46', '5959.29', '824346',
       '717659', '5077.64', '.148314', '625084', '48.5328', '.434381',
       '.252701', '2440.89', '8387.54', '283239', '175558', '2025.07',
       '4300.24', '1441.45', '2524.2', '4796.83', '5424.1', '6741.02',
       '11184.13', '2873.54', '1299.86', '6688.0', '1815.06', '3506.87',
       '4928.03', '7696.93', '4189.84', '1074.2', '3541.45', '5554.06',
       '9596.89', '3146.84', '8331.14', '4521.36', '8715.95', '7589.47',
       '3346.5', '1711.81', '3012.91', '7251.82', '3736.17', '12517.72',
       '5051.69', '8865.9', '3784.97', '4147.0', '1884.28', '4151.4',
       '2282.74', '5480.32', '3493.54', '4790.54', '4313.11', '3492.23',
       '2474.2', '6763.27', '8019.43', '1804.48', '12418.23', '594573',
       '4168.92', '6019.85', '2922.45', '1733.15', '1498.48', '5277.49',
       '2616.16', '3130.16', '3242.14', '5549.62'], dtype=object)

In [364]:
extracted_entities_df.isnull().sum()

employerName                           0
employerAddressStreet_name             0
employerAddressCity                    0
employerAddressState                   0
employerAddressZip                     0
einEmployerIdentificationNumber        0
employeeName                           0
ssnOfEmployee                          0
box1WagesTipsAndOtherCompensations     0
box2FederalIncomeTaxWithheld           0
box3SocialSecurityWages                0
box4SocialSecurityTaxWithheld          0
box16StateWagesTips                    0
box17StateIncomeTax                    0
taxYear                               55
dtype: int64

- Now we are moving to column `taxYear`

In [365]:
## null values of taxYear
extracted_entities_df['taxYear'].isnull().sum()

np.int64(55)

In [366]:
## rows with null values of taxYear
extracted_entities_df[extracted_entities_df['taxYear'].isnull()]

,employerName,employerAddressStreet_name,employerAddressCity,employerAddressState,employerAddressZip,einEmployerIdentificationNumber,employeeName,ssnOfEmployee,box1WagesTipsAndOtherCompensations,box2FederalIncomeTaxWithheld,box3SocialSecurityWages,box4SocialSecurityTaxWithheld,box16StateWagesTips,box17StateIncomeTax,taxYear
367,Harmon Group Group,94500 Downs Mount,Williston,KY,20903-5126,56-0737019,William Cruz,381-37-6717,13416814,37067.23,122384.39,9362.41,67220.02,348172,NaN
412,"Sandoval, White and Anderson and Sons",275 Peter Dale Suite 633,Johnberg,OK,46724-6879,13-2456974,Mrs. Stacy,000-00-0000,135146.15,30825.86,148589.27,11367.08,65527.5,4386.91,NaN
423,"Diaz, Walsh and Hoover PLC",3342 Foster Centers,Smithchester,OH,11186-3810,91-6060021,Dr. Mark,000-00-0000,120770.16,41406.24,112158.31,8580.11,63632.55,7208.31,NaN
438,Clark-Smith Group,31046 Hartman Cape,New Emma,NV,82314-6154,33-6879304,Brooke Logan,000-00-0000,226026.52,78719.87,238003.48,18207.27,117291.76,7333.57,NaN
489,"Smith, Winters and Hernandez and Sons",427 Burton Burgs,west Ryanberg,Unknown,Unknown,UNKNOWN_EIN,Unknown,000-00-0000,0,0,22850074,0,97392.27,0,NaN
500,Diaz and Sons PLC,67058 Glass Cliffs,New Jacquelinechester,OK,56874-5788,54-8166379,Jonathan Jefferson,000-00-0000,56717.73,10196.83,50031.1,3827.38,30531.82,1441.45,NaN
501,"Diaz, Howard and Bridges Group",8252 Lambert Court,Port Rebecca,WI,44550-6507,61-9854442,Kenneth Rodriguez,000-00-0000,69124.36,24286.89,57427.67,4393.22,33421.07,2524.2,NaN
502,West Ltd Inc,584 Williams Place Apt. 321,South Joseph,KY,72583-7843,48-8496621,Juan Paul,000-00-0000,107443.01,16749.58,123207.9,9425.4,50825.09,4796.83,NaN
503,"Boyd, Robinson and Bridges and Sons",14501 Jenkins Brooks Suite 674,East Tiffany,LA,89324-3350,26-1131295,Lisa Scott,000-00-0000,206942.45,31818.62,201165.32,15389.15,111458.45,5424.1,NaN
504,"Kelly, Cunningham and Smith Ltd",866 Wilson Fall Suite 425,West Frankland,WI,61690-0393,42-9933985,Paul Jones,000-00-0000,148757.18,50567.23,118352.64,9053.98,71865.87,5614.28,NaN
505,Porter Ltd Inc,229 Jeffrey Summit,Coxshire,HI,83322-3824,41-8067463,Mr. Robert,000-00-0000,161590.28,41434.61,150840.93,11539.33,84463.99,6741.02,NaN
506,Jackson-Johnson PLC,32483 Curtis Greens,Michaelberg,WY,06943-5520,73-0232661,Vanessa Jackson,000-00-0000,44595.43,10041.55,46101.93,3526.8,23961.38,1308.19,NaN
507,"Rivera, Martinez and Hunter and Sons",010 Johnson Alley,Wheelerfort,NM,47003-9227,20-2352784,William Miranda,000-00-0000,176900.59,18844.28,133200.83,10189.86,88723.29,11184.13,NaN
508,Parker-Newman and Sons,611 Albert Ville Apt. 251,Kevinburgh,CO,75289-7952,03-9669778,Daniel Johnson,000-00-0000,173750.0,36969.31,184831.19,14139.59,84822.81,2873.54,NaN
509,Hernandez LLC and Sons,720 Thomas Track Apt. 253,Johnsonhaven,WY,73034-5606,27-0916551,Richard Smith,000-00-0000,196625.39,35884.32,200379.52,15329.03,99246.64,10098.15,NaN
510,Phelps Inc PLC,5464 Gill Row,Rogerfort,NJ,88801-6373,88-5432651,Ashley Patterson,000-00-0000,84816.64,20111.26,68605.05,5248.29,41367.74,1299.86,NaN
511,Dixon Group Group,7825 Jeremy Garden Apt. 534,Lake Johnnystad,OR,23936-6471,98-9821712,Michael Hill,000-00-0000,200012.79,23986.4,236745.01,18110.99,105195.87,11105.95,NaN
512,"Dunn, Roth and Duran Inc",8262 Raymond Fork,Louisburgh,MS,87537-4097,44-4804680,Thomas Jones,000-00-0000,249432.11,29347.38,255879.4,19574.77,132620.9,6688.0,NaN
513,Nguyen-Herman and Sons,86489 Jennifer Mission,Marksfurt,MD,86393-4326,66-0288314,Megan Gonzales,000-00-0000,170054.88,24582.68,150583.84,11519.66,76892.39,6870.53,NaN
514,Jones-Mayer and Sons,76782 Melissa Manor Suite 642,Shawstad,WA,94675-4771,66-6917490,Johnathan Fox,000-00-0000,136292.85,14732.21,137852.88,10545.75,64630.83,6110.54,NaN
515,"Hubbard, Simpson and Mcbride Group",94832 Spears Extensions,Christopherport,DC,89689-1939,91-8133210,Randy Gutierrez,000-00-0000,41296.39,14829.48,32567.62,2491.42,19867.52,1815.06,NaN
516,Mack-Clark LLC,9102 Hill Park Apt. 082,Carlland,AR,22343-9040,27-1943480,Jordan Clark,000-00-0000,234405.35,71288.69,236532.35,18094.72,124391.78,13323.12,NaN
517,Warner Ltd Group,175 Frank Skyway,Martintown,WY,81267-3666,59-6062727,Michael Reese,000-00-0000,73278.62,7750.26,93382.49,7143.76,34461.78,3506.87,NaN
518,Hale-Jones and Sons,6324 Jose Dam,Johnberg,OR,17736-9083,91-3675989,Edward Williams,000-00-0000,120076.92,24991.41,130311.08,9968.8,56707.75,4928.03,NaN
519,"Cardenas, Davis and West LLC",8360 Martha Divide Suite 069,Port Matthewport,MO,43642-4359,73-7897333,Brian Edwards,000-00-0000,162690.95,43415.1,205064.75,15687.45,78060.24,6457.78,NaN
520,Howard-Adams Ltd,111 Compton Ports Suite 825,Hernandezchester,FL,71925-1677,47-9705455,Zachary Jones,000-00-0000,210538.33,68443.11,231780.5,17731.21,102658.76,7696.93,NaN
521,Scott and Sons and Sons,5508 Alejandro Grove,Griffithshire,NJ,59836-2163,66-1216131,Cynthia Garcia,000-00-0000,247571.07,50219.14,180256.5,13789.62,118916.12,7477.28,NaN
522,Edwards Inc PLC,60567 Griffin Forks Suite 450,South Elizabethfurt,CA,67696-6442,33-7314295,Paul Oneal,000-00-0000,100685.61,15340.3,104087.79,7962.72,52757.35,4189.84,NaN
523,Bennett and Sons Group,313 Barron Fort,West Anthonyfort,KY,97555-4063,85-1389854,Shawn Mercado,000-00-0000,190584.88,59835.97,159290.95,12185.76,103016.7,5686.23,NaN
524,Meyer PLC PLC,019 Sarah Mews,Port Robert,VT,68747-1945,15-9413202,Angela Griffin,000-00-0000,65068.1,22307.33,77518.79,5930.19,34276.63,2427.58,NaN
525,Barker Group and Sons,09863 Brandon Isle,South William,MS,94567-4333,58-8124259,Brian Arnold,000-00-0000,66286.46,12096.63,68737.21,5258.4,35135.17,1074.2,NaN
526,Hunter-Wilcox and Sons,8659 Brian Coves,Jenningsview,TN,89962-5208,35-8825702,Timothy Figueroa,000-00-0000,132027.39,48546.09,112158.18,8580.1,61263.09,3541.45,NaN
527,"Tyler, Nelson and Bender Inc",5654 Parker View,North Sara,AZ,50949-7371,98-3866411,Tiffany Simmons,000-00-0000,110503.15,15540.51,82512.35,6312.19,56172.04,5554.06,NaN
528,"Jackson, Black and Coleman Ltd",9754 Ross Route Suite 669,New Vincent,MN,65429-3555,20-4868320,Edward Valdez,000-00-0000,67768.27,22110.14,80965.34,6193.85,33522.47,2453.72,NaN
529,"Lewis, Parks and Schneider Group",0181 Philip Brook,Sharonport,TX,85235-8662,59-5500683,Mitchell Williams,000-00-0000,138773.44,17021.97,142455.83,10897.87,65497.75,7560.95,NaN
530,Rogers-Anderson Inc,5033 Arthur Causeway,North Jennifer,ME,62396-9663,41-3273885,Sheri Wright,000-00-0000,233548.97,67003.47,292635.29,22386.6,109063.34,9596.89,NaN
531,Page-Hunt PLC,8464 Bradford Meadow,Simpsonmouth,CA,65795-4458,38-5155936,Gary Webb,000-00-0000,92813.42,12730.22,119617.25,9150.72,42658.06,3146.84,NaN
532,Wright-Mullins LLC,742 Hamilton Divide,Catherinefurt,WA,63584-4218,63-5533013,Tamara Parker,000-00-0000,217121.52,59149.63,272926.45,20878.87,106414.23,8331.14,NaN
533,Gross LLC Inc,6942 Nicholson Spur Apt. 213,Davilafort,NY,60049-4999,48-9239329,Nathan Hanson,000-00-0000,145662.36,50063.59,160831.37,12303.6,78932.39,5719.77,NaN
534,"Casey, Terry and Bradley Ltd",556 Hoffman Shoal Suite 475,Port Cheryl,AZ,77170-2706,62-2164100,William Byrd,000-00-0000,98893.18,24968.78,111322.05,8516.14,44899.88,5055.19,NaN
535,"Schneider, Martin and Jackson LLC",31990 Clark Corner,Lake Jenniferfort,WI,56526-3457,94-3980999,Thomas Moody,000-00-0000,233146.9,73449.38,208770.54,15970.95,106270.46,13531.38,NaN
536,"Crawford, Leon and Shaw Group",02488 Joseph Shore,Joshuamouth,IL,05110-3687,52-9690896,Karen Gray,000-00-0000,118170.21,29617.95,130117.54,9953.99,59199.31,5105.16,NaN
537,Cabrera Group Ltd,5553 Thomas Passage Apt. 705,West Theodore,CO,56221-5487,50-4141334,Melissa Anderson,000-00-0000,214731.04,47393.74,211281.72,16163.05,105901.45,5436.4,NaN
538,Brown-Dunn LLC,28857 Edward Ferry Apt. 226,Lake Cynthia,MI,84969-1857,26-9963170,Jo Kelly,000-00-0000,131815.8,27993.41,131475.37,10057.87,72241.36,6961.16,NaN
539,Kirby PLC Ltd,2886 James Glen Suite 809,West Brittneymouth,UT,47391-8866,01-9893232,Timothy White,000-00-0000,83875.53,9550.74,100885.22,7717.72,41861.65,4034.54,NaN
540,Henson and Sons LLC,31421 Eric Hollow,Wallacetown,NV,05459-4081,81-4598559,Miranda Harrison,000-00-0000,142081.5,28361.15,105238.52,8050.75,76062.21,4972.97,NaN
541,"Palmer, Wiley and Porter Inc",608 Long Shores Suite 772,East Gloriahaven,KS,34780-3473,57-1254541,Amber Wood,000-00-0000,186102.88,56403.34,147389.57,11275.3,93198.69,4521.36,NaN
542,Taylor PLC and Sons,804 Stacy Coves,New Lisachester,AR,14521-6355,63-0100580,Ethan West,000-00-0000,231262.65,74105.55,227572.95,17409.33,108268.36,8715.95,NaN
543,Mills-Leblanc and Sons,2516 Rodgers Forges Apt. 268,Roseborough,KY,20338-4106,41-6457623,Charles Martin,000-00-0000,100883.71,30749.57,104947.04,8028.45,52972.8,3317.57,NaN
544,Miller-Marks Inc,0759 Kelly Camp,West Angela,MO,27722-6633,64-7554162,Christine Moore,000-00-0000,57695.6,7191.74,62590.87,4788.2,27597.95,1212.44,NaN
545,Calderon and Sons and Sons,3584 Bennett Rapids,West Johntown,WV,16441-1778,58-6019724,Amber Harmon,000-00-0000,185228.44,35009.12,177043.07,13543.79,92543.3,11060.06,NaN
546,Valencia Group Ltd,632 Jensen Roads,Laurachester,VT,54791-2119,74-3529838,Latasha Johnson,000-00-0000,147123.33,52569.93,117853.94,9015.83,73176.09,6525.45,NaN
547,Powell and Sons LLC,8761 Sanders Walk,Jamesburgh,ID,94348-1537,14-0201070,Alexander Patterson,000-00-0000,179587.02,64354.8,158200.2,12102.32,90525.11,7589.47,NaN
548,Davis LLC LLC,863 Daniel Inlet Apt. 566,Elizabethburgh,VA,37513-2679,33-6539601,Eric Williams,000-00-0000,179553.17,63904.04,150330.34,11500.27,87372.24,3346.5,NaN
549,Franco-Nelson LLC,396 Frazier Spur,Julieland,WY,77609-7429,39-3160482,James Bird,000-00-0000,84320.5,20001.02,96762.24,7402.31,46281.64,2803.71,NaN

In [367]:
## unique values of taxYear
extracted_entities_df['taxYear'].unique()

array(['2019', '2018', '20 18', nan], dtype=object)

In [368]:
## replace '20 18' with 2018
extracted_entities_df['taxYear'] = extracted_entities_df['taxYear'].replace('20 18', '2018')

In [369]:
## unique values of taxYear
extracted_entities_df['taxYear'].unique()

array(['2019', '2018', nan], dtype=object)

In [370]:
## replace all null value with unknown
extracted_entities_df['taxYear'] = extracted_entities_df['taxYear'].fillna('Unknown')

In [371]:
extracted_entities_df.isnull().sum()

employerName                          0
employerAddressStreet_name            0
employerAddressCity                   0
employerAddressState                  0
employerAddressZip                    0
einEmployerIdentificationNumber       0
employeeName                          0
ssnOfEmployee                         0
box1WagesTipsAndOtherCompensations    0
box2FederalIncomeTaxWithheld          0
box3SocialSecurityWages               0
box4SocialSecurityTaxWithheld         0
box16StateWagesTips                   0
box17StateIncomeTax                   0
taxYear                               0
dtype: int64

In [375]:
## save the cleaned data
extracted_entities_df.to_csv('cleaned_extracted_entities_train.csv', index=False)